<template>
  <div>
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
      <div class="navbar-menu m-3">
        <div class="navbar-start">
          <!-- 漢堡選單 -->
          <img
            src="../../assets/images/menu.svg"
            style="height:1.75rem"
            @click="isSideMenu=!isSideMenu"
            v-if="$route.fullPath == '/card'">
          <!-- 返回企業 app 首頁 -->
          <img
            src="../../assets/images/back.svg"
            style="height:1.75rem" @click="$router.push('/card')"
            v-if="$route.fullPath == '/cardStore'">
          <!-- 返回(左) -->
          <img
            src="../../assets/images/back.svg"
            style="height:1.75rem"
            @click="$router.go(-1)"
            v-if="$route.fullPath !== '/card' && $route.fullPath !== '/cardStore'">
        </div>

        <div class="navbar-end" style="width: 100%">
          <!-- LOGO -->
          <img
            v-if="publicData.logo !== ''"
            :src="publicData.logo"
            style="position: absolute;height:2.5rem;left: 90px;top: 12px;"
            @click="$router.push('/card')">
          <!-- 無圖秀企業名稱 -->
          <p
            v-if="publicData.logoLoaded && publicData.logo === ''"
            style="position: absolute;height: 40px;left: 90px;top: 20px;width: 192px;text-align: center;"
            class="is-size-4"
            @click="$router.push('/card')"
          >
            {{$store.getters.currentApp && $store.getters.currentApp.AppName}}
          </p>
          <!-- 退出(右) -->
          <img
            src="../../assets/images/card-out.svg"
            class="w3-opacity" style="height:2rem"
            @click="$router.push('/');$store.commit('clearAppMemberData');$store.commit('clearAppPublicData');isSideMenu=false">
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav class="w3-sidebar w3-bar-block w3-card w3-large w3-padding-16 sideMenu" @click="isSideMenu=false" v-cloak
        v-if="isSideMenu"
      >
        <!-- 關閉範圍 -->
        <div style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: transparent;width:100vw;z-index: -1;" @click="isSideMenu=false"></div>
        <!-- 首頁 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/card')">首頁</div>
        <!-- 最新消息 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/cardNews')">最新消息</div>
        <!-- 會員專區 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/cardMember')">會員專區</div>
        <!-- 門市查詢 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/cardStore')">門市查詢</div>
        <!-- 依據微管雲上的商品類別放入商品大類項目 -->
        <div v-if="$store.state.publicData.menu.mainType.length > 0">
          <div
            v-for="type in $store.state.publicData.menu.mainType[0].list"
            :key="type.KindID"
            class="w3-bar-item w3-button w3-transparent"
            @click="$router.push(`/cardMenu/${$store.state.publicData.menu.mainType[0].code}?mainName=${type.KindName}&subCode=${type.KindID}`)">
            {{type.KindName}}
          </div>
        </div>
      </nav>
    </transition>

    <!-- content -->
    <div class="content" :class="[($route.fullPath !== '/cardCoupon') ? 'remove-bottom-nav-height' : '']" :style="touchScrolling">
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()">
        <slot></slot>
      </PullRefresh>
    </div>

    <!-- 底功能列 -->
    <footer
      v-if="$route.path !== '/cardCoupon'"
      class="w3-block w3-center flex-center-v footer w3-text-dark-gray w3-white w3-border-top w3-border-gray w3-card" style="position:fixed;bottom:0;padding: 0;"
    >
      <!-- 會員條碼(左) -->
      <div style="height:inherit;padding-top:.5rem">
        <img src="../../assets/images/mbrCode.svg" class="w3-opacity" style="height:2rem;" @click="showQrcode()">
      </div>
      <!-- 會員專區 -->
      <div style="height:inherit;padding-top:.5rem"
      :class="[($route.fullPath === '/cardMember') ? 'isActive' : '']"
      @click="$router.push('/cardMember')"
      >
        <div class="w3-display-container">
          <div class="w3-display-topright" v-if="ticketCount !== 0">
            <!-- 優惠卷張數： -->
            <div class="w3-display-topright" style="margin:-.75rem -1.25rem" v-if="$route.fullPath == '/card'" v-cloak>
              <span class="w3-badge primary-color" style="height:25px;border-radius:12.5px;line-height:25px">{{ticketCount}}</span>
            </div>
          </div>
        </div>
        <img src="../../assets/images/user.svg" class="w3-opacity" style="height:2rem;">
      </div>
      <!-- 門店資訊(右) -->
      <div style="height:inherit;padding-top:.5rem"
        :class="[($route.fullPath === '/cardStore') ? 'isActive' : '']"
      >
        <img src="../../assets/images/store.svg" class="w3-opacity" style="height:2rem" @click="$router.push('/cardStore')">
      </div>
    </footer>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="cardQRcode.show">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="mx-3 py-2" style="background-color: white;text-align: center;">

            <div v-if="cardQRcode.data.loaded">
              <div class="w3-card">
                <h4 class="is-size-4 my-3">會員條碼： {{$store.getters.currentApp.AppName}}</h4>
                <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 75%">
                <p class="my-3">
                  {{cardQRcode.data.value}}
                  <br>
                  本次條碼可使用時間 {{cardQRcode.timer}} 秒
                </p>
              </div>
            </div>

          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>
    </transition>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'

const currentAppUser = computed(() => store.state.currentAppUser)
const currentApp = computed(() => currentAppUser.EnterPriseID )
const publicData = computed(() => store.state.publicData )
// 側選單開關
const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (store.getters.currentAppUsers.length === 0) return 0
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  if (userData === undefined) return 0
  const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  // 企業公開資料
  '/card':         'fetchAppPublicData',
  '/cardFaq':      'fetchAppPublicData',
  '/cardMenu':     'fetchAppPublicData',
  '/cardStore':    'fetchStoreListData',
  '/cardProducts': 'fetchAppPublicData',
  '/cardNews':     'fetchNewsData',
  '/cardNewspage': 'fetchNewsData',
  // 企業會員資料
  '/cardMember':   'fetchAppUserData',
  '/cardProfile':  'fetchAppUserData',
  '/cardCoupon':   'fetchAppUserData',
  '/cardPoint':    'fetchMemberExpiredPointsData',
  '/cardPay':      'fetchMemberPurchaseRecordData',
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  store.commit('setCurrentAppUser', userData)
  store.commit('setCssTouch', false)

  cardQRcode.gid = userData.cardGID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup(props, context) {
    // 未登入 => 導回首頁
    if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      if (/\/cardMenu\//.test(urlPath))     path = '/cardMenu'
      if (/\/cardNewspage\//.test(urlPath)) path = '/cardNewspage'
      if (/\/cardProducts\//.test(urlPath)) path = '/cardProducts'

      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入/無企業資料，不啟用
      if (!isLogin || !currentApp ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
      store.dispatch(refreshAction.value)
      return new Promise(resolve => setTimeout(() => resolve(), 1000) )
    }

    return {
      touchScrolling, isLogin, onPullRefresh, pullRefreshConfig,
      publicData, isSideMenu, ticketCount,
      cardQRcode, showQrcode, hideCardCode, layout,
    }
  },
}
</script>

<style lang="scss">
.sideMenu {
    z-index: 99;
    overflow: visible;
    background: rgba(255, 255, 255, .95);
}
.remove-bottom-nav-height {
    height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.footer {
    height: var(--bottom-nav-height);
    justify-content: space-around;
    padding: 0;
}
</style>
