<template>
  <div>
    <!-- 未登入 && 註冊/登入 -->
    <nav class="navbar" role="navigation" v-if="(!isLogin && $route.fullPath !== '/')">
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- 卡卡LOGO圖 -->
          <img src="../../assets/images/logo-kakar-text.svg" style="height:2rem;margin: 10px" @click="$router.push('/')">
        </div>
        <div class="navbar-end">
          <!-- 未登入文字(右) -->
          <b class="navbar-item is-size-5">
            {{($route.fullPath=='/login')?'登入':($route.fullPath=='/register')?'註冊':''}}
          </b>
        </div>
      </div>
    </nav>

    <!-- 已登入 -->
    <nav class="navbar" role="navigation" v-if="isLogin">
      <div class="navbar-menu">
        <div class="navbar-start" style="width: 52px;margin-right: 0px;">
          <!-- 卡卡LOGO圖 -->
          <img src="../../assets/images/logo-kakar-text.svg" style="height:2rem;margin: 10px" @click="$router.push('/')" v-if="$route.path !== '/'">
          <img src="../../assets/images/logo-kakar-text.svg" style="height:2rem;margin: 10px" @click="$router.push('/setting')" v-if="$route.path === '/'">
        </div>
        <div class="navbar-end ml-0" style="width: 100%">
          <!-- 卡片篩選 -->
          <input class="input mt-2 mr-3" type="text" v-model="$store.state.appFilter" placeholder="搜尋 / 篩選" v-if="isLogin && $route.fullPath === '/' && $store.state.vipApps.length > 3">
          <!-- 登入後掃碼圖示(右) -->
          <img src="../../assets/images/scanCode.svg" style="height:2rem;margin-top: 12px;margin-right: 10px;" @click="openBarcodeScan" v-if="isLogin && $route.fullPath === '/'" v-cloak>
          <!-- 在設定頁 -->
          <a class="navbar-item" @click="$router.go(-1)" v-if="$route.path === '/setting'">
            <i class="fas fa-times is-size-4"></i>
          </a>
        </div>
      </div>
    </nav>


    <div class="content" :style="touchScrolling">
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig">
        <slot></slot>
      </PullRefresh>
    </div>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
// 依據是否登入來設定啟用下拉刷新功能
const pullRefreshConfig = { pullEnabled: isLogin.value }
// 下拉後啟動刷新的邏輯
function onPullRefresh() {
  store.dispatch('fetchVipApps')
  return new Promise(resolve => setTimeout(() => resolve(), 1000) )
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup() {
    return { touchScrolling, isLogin, openBarcodeScan, onPullRefresh, pullRefreshConfig }
  },
}
</script>
