<template>
  <div>
    <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../../assets/images/loading.svg" alt="">
      </div>
    </div>
    <!-- 三分春色社訂餐鈕 -->
    <div v-if="currentApp === '24982896'" class="w3-cell-row w3-section-8 w3-content w3-large" style="max-width:480px;padding:0 4px">
      <div class="w3-cell" style="padding:0 4px">
        <div class="w3-button w3-block w3-dark-gray w3-hover-dark-gray w3-round" @click="$router.push('/cardStore')">線上點餐</div>
      </div>
      <div class="w3-cell" style="padding:0 4px">
        <div class="w3-button w3-block w3-dark-gray w3-hover-dark-gray w3-round" @click="showMyMOrder">我的訂單</div>
      </div>
    </div>

    <!-- 輪播 Banner -->
    <div class="w3-section w3-center" style="margin-top: 0px!important;">
      <!-- 有輪播 Banner 資料 -->
      <Swiper ref="awesomeSwiperA" :options="swiperOptionA" v-if="pageData.slideBanners.length > 0">
        <!-- slides -->
        <swiper-slide  v-for="banner in pageData.slideBanners" :key="banner.PicURL">
          <img class="w3-image swiper-lazy" :data-src="showImage(banner.PicURL)" @click="redirectToLink(banner)" style="min-height:375px">
          <div class="swiper-lazy-preloader"></div>
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
      </Swiper>
      <!-- 無輪播 Banner 資料，放入預設圖 -->
      <Swiper ref="awesomeSwiperA" :options="swiperOptionA" v-if="pageData.slideBannerIsLoaded && pageData.slideBanners.length === 0">
        <!-- slides -->
        <swiper-slide>
          <img class="w3-image" src="../../../assets/images/default-banner.jpg">
        </swiper-slide>
        <swiper-slide>
          <img class="w3-image" src="../../../assets/images/default-banner.jpg">
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
      </Swiper>
    </div>
    <!-- 副 Banner (有資料) -->
    <div v-if="pageData.subBanner.length > 0">
      <div class="w3-section w3-center" v-for="banner in pageData.subBanner" :key="banner.GID">
        <img class="w3-image" :src="showImage(banner.PicURL)" @click="redirectToLink(banner)">
      </div>
    </div>
    <!-- 副 Banner (無資料) -->
    <div class="w3-section w3-center" v-if="pageData.subBannerIsLoaded && pageData.subBanner.length === 0" >
      <img class="w3-image" src="../../../assets/images/default-subbanner.jpg">
    </div>

  </div>

</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage } from 'src/libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

const storesDate = [
  {
    Name: '中正店',
    Addr: '800 高雄市新興區中正三路73號',
    Tel: '(07)215-7766'
  },
  {
    Name: '五福店',
    Addr: '802 高雄市苓雅區五福一路10號',
    Tel: '(07)225-1959'
  },
  {
    Name: '瑞隆店',
    Addr: '802 高雄市前鎮區瑞隆路314號1樓',
    Tel: '(07)721-1747'
  },
  {
    Name: '巨蛋店',
    Addr: '813 高雄市左營區博愛二路777號8樓（漢神巨蛋8F）',
    Tel: '(07)522-2688'
  },
  {
    Name: '衛武營店',
    Addr: '830 高雄市鳳山區三多一路1號3樓（國家藝術中心）',
    Tel: '(07)740-6988'
  },
]

export default {
  name: 'CardIndex',
  // BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data() {
    return {
      // BANNER輪播
      swiperOptionA: {
        // Enable lazy loading
        lazy: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination'
        },
      },
      isSideMenu: false,
      storesDate: storesDate,
      state: this.$store.state,
    };
  },
  async beforeRouteEnter(to, from, next) {
    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId

      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      
      store.dispatch('fetchAppPublicDataDetailWuhu')
    }
    next(vm => {
      // 返回此頁swiper autoplay可正常執行
      if(vm.$refs.awesomeSwiperA) vm.$refs.awesomeSwiperA.swiper.autoplay.run()
    })
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.$store.getters.currentApp.apiip.replace('/public/AppVIP.ashx', '') },
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    pageData() { return this.state.publicData.index },
    stores() { return this.pageData.store },
    isReady() {
      let allData = this.state.publicData
      if (allData.logoLoaded && allData.index.slideBannerIsLoaded && allData.index.subBannerIsLoaded) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    showImage,
    // redirectToLink(banner) {
    //   if (banner.LinkType === '' || banner.LinkPostion === '') return
    //   let linkPrefix
    //   if (banner.LinkType === "FoodDetail") linkPrefix = '/cardProducts/'
    //   if (banner.LinkType === "MessageDetail") linkPrefix = '/cardNewspage/'

    //   this.$router.push(linkPrefix + banner.LinkPostion)
    // },
    redirectToLink(banner) {
      
      if (banner.LinkType == 'InnerURL') {
        this.$router.push({path: '/' + banner.LinkPostion})
      } else if (banner.LinkType == 'OuterURL') {
        let url = banner.OuterURL
        // 在殼裡面 => 開啟瀏覽器
        if (typeof(JSInterface) !== 'undefined') {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }
    },
    // 導向我的訂餐
    showMyMOrder() {
      const isDevelopment = (/dev-service.jinher.com.tw\/projectFeature\//.test(window.location.href))
      let url
      if (isDevelopment)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?#/record`
      if (!isDevelopment) url = `https://kakar.jinher.com.tw/app/morder/index.html?#/record`

      // 預設值
      const data = {
        // 會員門店號
        //"ShopID": ShopID,
        // 主企業號的 ID
        "mainEnterpriseID": this.state.publicData.MainEnterPriseID,
        //"mainEnterpriseID": this.mainEnterpriseID,
        // 主企業號的 connect
        "mainConnect": this.state.publicData.MainConnect,
        // Mode選的type, (ex:takeout)
        //"ShopType": ShopType,
        // Mode選的type, (ex:takeout)
        "Mobile": this.state.userData.Account,
        // 登入者姓名
        "Username": this.state.userData.Name,
        // 登入者地址
        "Address": this.state.userData.Address,
      }

      // 寫入要存的 key 設定
      data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect"

      // 執行存入殼裡
      deviseFunction('SetSPS', JSON.stringify(data), '')

      return window.location.href = url
    }
  } 
}
</script>
<!--
    onBeforeMount(async () => {
      // 未登入 => 導回首頁
      if (!isLogin.value) context.root.$router.push('/')
      setLoading(true)
      store.dispatch('fetchAppPublicData')
      setTimeout(() => setLoading(false), 300)
    })
 -->
