<template>
  <div>

    <div class="w3-content w3-padding-48 w3-cell-row" style="width:85%">
      <div class="w3-cell w3-cell-middle" style="width:118px">
        <div class="w3-circle flex-center w3-border w3-border-light-gray mbr-avatar">
          <img style="width:70%" src="../../../assets/images/user.svg">
        </div>
      </div>
      <div class="w3-cell w3-cell-middle">
        <div class="w3-xlarge" style="margin-top:.5rem" :style="{ fontSize: fontSizeBase*26 + 'px' }">{{$store.state.currentAppUser.CardTypeName}}</div>
        <div :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <div v-if="currentApp!='53239538'">累積 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{points}}</b> 點</div>
          <div class="has-text-danger mt-2">(尚未開放，敬請期待。)</div>
        </div>
      </div>
    </div>

    <!-- 功能選單 -->
    <div class="w3-padding w3-padding-16" style="background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);" :style="{ fontSize: fontSizeBase*16 + 'px' }">
      <div class="w3-row w3-center">
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardPoint/'+$route.params.enterpriseId)">
          <img src="../../../assets/images/rec-point-gray.svg" style="height:3rem;">
          <div style="margin-top:.5rem">積點紀錄</div>
        </div>
        <!--
        <div class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/rec-pay-gray.svg" style="height:3rem;" @click="$router.push('/cardPay')">
          <div class="w3-medium" style="margin-top:.5rem">消費紀錄</div>
        </div>
        -->
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardCoupon/'+$route.params.enterpriseId)">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <span class="w3-badge w3-display-topright primary-color w3-center" style="padding:0;width:1.5rem;margin:-1rem -1rem 0 0;" v-if="state.memberData.ticketList.length!=''">
              {{state.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}
            </span>
            <img src="../../../assets/images/coupon-gray.svg" style="height:3rem;">
          </div>
          <div style="margin-top:.5rem">優惠券</div>
        </div>
        <!-- <div v-if="$store.getters.currentApp.EnterpriseID === 'K54827062'" class="w3-col s4 w3-padding-16">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <span class="w3-badge w3-display-topright w3-green w3-center" style="padding:0;width:1.5rem;margin:-1rem -1rem 0 0;">
              3
            </span>
            <img src="../../../assets/images/cup.svg" style="height:3rem;" @click="$router.push('/cardGiftVouchers')">
          </div>
          <div class="w3-medium" style="margin-top:.5rem">寄杯兌換</div>
        </div> -->
        <!-- <div v-if="$store.getters.currentApp.EnterpriseID === 'K54827062'" class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/foodmenu.svg" style="height:3rem;" @click="$router.push('/ordering')">
          <div class="w3-medium" style="margin-top:.5rem">點餐</div>
        </div> -->
        <div class="w3-col s4 w3-padding-16" @click="$router.push('/cardNews/'+$route.params.enterpriseId)">
          <img src="../../../assets/images/news-gray.svg" style="height:3rem;">
          <div style="margin-top:.5rem">最新消息</div>
        </div>
        <!--
        <div class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/card-profile-gray.svg" style="height:3rem;" @click="$router.push('/cardProfile')">
          <div class="w3-medium" style="margin-top:.5rem">會員資訊</div>
        </div>
        -->
        <!-- <div class="w3-col s4 w3-padding-16" v-if="currentApp!='53239538'">
          <img src="../../../assets/images/faq-gray.svg" style="height:3rem;" @click="$router.push('/cardFaq?name=常見問題')">
          <div class="w3-medium" style="margin-top:.5rem">常見問題</div>
        </div> -->
      </div>
    </div>

    <!-- 卡Code -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="currentCardCode">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="currentCardCode=false;$store.commit('setCssTouch', true)">
        </header>
        <div class="w3-container w3-padding-large w3-padding-64 w3-center">
          <img height="255" :src="cardQrCode.image" class="w3-image" alt="" style="width: 75%">
          <p>{{cardQrCode.value}}</p>
        </div>
      </div>
    </transition>

    <!-- 外連結 -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isLink">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="isLink=false;$store.commit('setCssTouch', true)">
        </header>
        <div style="width:100vw;height:calc(100% - 62px);overflow:auto;-webkit-overflow-scrolling:touch">
          <iframe :src="srcLink" frameborder="0" width="98%" height="100%"></iframe>
        </div>
      </div>
    </transition>

  </div>

</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 暫時假資料
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    points()     { return this.state.memberData.card_info.Points ? parseInt(this.state.memberData.card_info.Points) : 0 },
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  // 頁面模組
  methods: {
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
    openWin() {
      window.open('https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')
    }
  },
  // 每次進入此頁面會執行的設定
  async beforeRouteEnter(to, form, next){
    if (to && to.params) {
      const enterpriseId = to.params.enterpriseId

      // 若為refresh畫面要重新load資料
      await store.dispatch('fetchVipAppsByCheck', enterpriseId)
      
      // 取企業 App 的會員資料
      store.dispatch('fetchAppPublicDataDetailMemberWuhu')
    }

    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>

