<template>
  <div>

    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      消費紀錄
    </div>

    <ul class="w3-ul m-0">
      <li class="w3-dark-gray">
        <div class="w3-cell-row w3-text-light-gray">
          <div class="w3-cell">近十筆消費紀錄</div>
          <div class="w3-cell w3-right-align">消費金額</div>
        </div>
      </li>
      <li v-for="data in pageData" :key="data.GID" class="w3-display-container">
        <p class="w3-margin-8 w3-text-gray">
          {{data.LastModify}}
          <br>
          交易門店： {{data.ShopName}}
          <br>
          訂單編號： {{data.OrderNO}}
        </p>
        <p class="w3-margin-8 w3-padding w3-padding-8 w3-container w3-light-gray w3-round">
          <b v-for="item in data.FoodName.split(',')" :key="item.GID">{{item}} <br></b>
        </p>
        <div class="w3-container w3-padding-16 w3-display-topright w3-xlarge">
          <b>{{data.PayTotal}}</b>
        </div>
      </li>
    </ul>

    <p class="w3-center w3-opacity-max w3-padding-48" v-if="pageData.length === 0">-- 無紀錄 --</p>

  </div>

</template>

<script>
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    pageData() { return this.state.memberData.purchaseRecord },
  },
}
</script>
