<template>
  <div>

    <span v-if="!ticketData">
      <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
        {{(!ticketData) ? '優惠卷':'詳細內容'}}
      </div>

      <div class="w3-row w3-large w3-border-bottom w3-border-light-gray tabBar">
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==1}" @click="isActiveTab=1">可使用</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==2}" @click="isActiveTab=2">未生效</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink" :class="{'isActive':isActiveTab==3}" @click="isActiveTab=3">已轉贈</div>
      </div>
      <!-- 可使用 -->
      <div class="w3-container" v-if="isActiveTab==1 && !ticketData">
        <p class="w3-center w3-padding-48 w3-text-gray" v-if="ticketList.length === 0">無優惠卷</p>
        <!-- 券 -->
        <div v-if="!ticketData">
          <div class="w3-section w3-padding-small couponStyle" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
            <div class="w3-cell-row">
              <div class="w3-cell" style="width:108px">
                <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
              </div>
              <div class="w3-cell w3-cell-top">
                <div class="w3-large" style="min-height:54px">
                  {{item.TicketTypeName}}
                </div>
                <div class="w3-medium">有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                <div class="w3-medium">張數：{{item.TicketCount}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 未生效 -->
      <div class="w3-container" v-if="isActiveTab==2 && !ticketData">
        <p class="w3-center w3-padding-48 w3-text-gray" v-if="notAvailableTickets.length === 0">無優惠卷</p>
        <!-- 券 -->
        <div v-if="!ticketData">
          <div class="w3-section w3-padding-small couponStyle" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
            <div class="w3-cell-row">
              <div class="w3-cell" style="width:108px">
                <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
              </div>
              <div class="w3-cell w3-cell-top">
                <div class="w3-large" style="min-height:54px">
                  {{item.TicketTypeName}}
                </div>
                <div class="w3-medium">期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                <div class="w3-medium">張數：{{item.TicketCount}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 已轉贈 -->
      <div class="w3-container" v-if="isActiveTab==3 && !ticketData">
        <p class="w3-center w3-padding-48 w3-text-gray" v-if="gaveTicketList.length === 0">無優惠卷</p>
        <!-- 券 -->
      <div class="w3-section w3-round-large w3-white w3-padding w3-border w3-border-gray w3-padding-16 w3-grayscale-max w3-opacity" v-for="item in gaveTicketList" :key="item.GID">
        <div class="w3-cell-row">
          <div class="w3-cell" style="width:108px">
            <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
          </div>
          <div class="w3-cell w3-cell-top">
            <div class="w3-large" style="min-height:54px">
              {{item.TicketTypeName}}
            </div>
            <div class="w3-medium">轉贈日期： {{ item.TradeTime.substring(0, 10)}}</div>
          </div>
        </div>
      </div>
      </div>
    </span>

    <!-- 券詳細頁 -->
    <div class="w3-container" v-if="ticketData">
      <div class="w3-section w3-round-large w3-white w3-padding w3-padding-16 couponStyle" style="margin-bottom:60px!important">
        <div class="w3-cell-row w3-border-bottom w3-border-gray" style="padding-bottom: 1rem">
          <div class="w3-cell" style="width:108px">
            <img class="w3-image" width="96" :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(ticketData.ImageUrl) : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="ticketData.TicketTypeName">
          </div>
          <div class="w3-cell w3-cell-top">
            <div class="w3-large" style="min-height:35px">
              {{ticketData.TicketTypeName}}
            </div>
            <!-- 顯示票卷期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
            <div class="w3-medium">期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
            <div class="w3-medium">期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
            <div class="w3-medium">張數：{{ticketData.TicketCount}}</div>
          </div>
        </div>
        <div class="w3-margin-top" style="min-height:260px">
          卷別：{{ticketType}}
          <br>
          限制：每次消費限用1張
          <br>
          限定使用商品：{{ticketUsageFoods}}
          <br>
          適用門店：{{ticketUsageShops}}
          <br>
          適用期間：{{ticketUsagePeriod}}
          <br>
          備註：{{ticketInfo.Remark}}
        </div>
      </div>
      <div class="w3-cell-row w3-container w3-padding-8 w3-display-bottommiddle">
        <div class="w3-cell" style="padding-right:.5rem">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray  w3-block" @click="$router.go(-1);$store.commit('setCssTouch', true)">
            取消
          </button>
        </div>
        <div class="w3-cell" style="padding-right:.5rem">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray w3-block" @click="isDemo='mbrSearch'">
            贈送
          </button>
        </div>
        <div class="w3-cell">
          <button :disabled="isNotAvailable(ticketData)" class="w3-button w3-round w3-large primary-color w3-block" @click="showCouponCode">
            使用
          </button>
        </div>
      </div>
    </div>

    <!-- 顯示卷 QRcode -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isDemo=='mbrSearch'||isDemo=='couponCode'">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="hideCouponCode">
        </header>
        <div v-if="isDemo=='mbrSearch'">
          <div class="w3-padding w3-padding-16 w3-display-container w3-white w3-border-bottom" style="border-color:#ccc">
            <input class="w3-input w3-block w3-border w3-large w3-round" type="number" pattern="[0-9]*" placeholder="請輸入會員電話號碼" v-model="ToAccount">
            <button class="w3-button w3-black w3-hover-black w3-round w3-display-topright" style="margin:18px" @click="confirmTransTicket">贈送</button>
          </div>
          <div class="w3-container">
            <div class="w3-light-gray w3-container w3-round-large w3-margin-top">
              <h5 class="w3-border-bottom w3-border-gray">優惠卷轉贈</h5>
              <p class="w3-section-8">
                可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。<br>
                <br>
                贈送流程 <br>
                <br>
                1.  請輸入贈送的好友會員帳號/手機號碼 (僅限轉贈已註冊會員)<br>
                2.  確認手機號碼後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br>
                3.  若您輸入的號碼錯誤，提示窗則會跳出「會員電話號碼」錯誤<br>
                <br>
                註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員電話號碼
              </p>
            </div>
          </div>
        </div>
        <div v-if="isDemo=='couponCode'">
          <div class="w3-container w3-padding-large w3-padding-32 w3-center">
            <div class="w3-card">
              <h4 class="w3-dark-gray w3-padding" style="margin:0">{{ticketData.TicketTypeName}}</h4>
              <img :src="ticketInfo.currentTicketQRcode" class="w3-image w3-padding-64" alt="" style="width: 75%">
              <p class="w3-light-gray w3-padding" style="margin:0">{{ticketInfo.currentTicketGID}}</p>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>

</template>

<script>
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { isLogin, showImageWuhu } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isActiveTab: 1,
      isShow: true,
      isDemo: '',
      state: this.$store.state,
      ToAccount: '',
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl()   { return this.state.srcUrl },
    ticketList() { return this.state.memberData.ticketList },
    gaveTicketList() { return this.state.memberData.gaveTicketList },
    notAvailableTickets() { return this.state.memberData.notAvailableTickets },
    totalTicket() {return this.ticketList.concat(this.notAvailableTickets)},
    // --- 單一筆優惠卷的資訊 ---
    ticketID() { return this.$route.query.code },
    ticketInfo() { return this.state.memberData.ticketInfo },
    ticketData() { return this.totalTicket.filter(item => {return item.GID == this.ticketID})[0] },
    // 使用期限
    ticketExpiredAt() { return this.ticketData.TicketExpiredDate.substring(0, 10) },
    // 限定使用商品
    ticketUsageFoods() {
      const foods = this.ticketInfo.usageFoods
      if (foods.length == 0) return '不限'
      if (foods.length != 0) return foods.map(item => item.FoodName).join(', ')
      return ''
    },
    // 適用門店
    ticketUsageShops() {
      const shops = this.ticketInfo.usageShops
      if (shops.length == 0) return '不限'
      if (shops.length != 0) return shops.map(item => item.ShopName).join(', ')
      return ''
    },
    // 適用期間 (timePeriod, weekDay)
    ticketUsagePeriod() {
      const rule = this.ticketInfo.ruleData

      // 設定使用時間
      const beginTime = rule.BeginDate2 || rule.BeginTime
      const endTime   = rule.EndDate2 || rule.EndTime

      let timePeriod = ''
      if (beginTime !== "" && endTime !== "") timePeriod = beginTime + "-" + endTime
      if (beginTime === "" && endTime !== "") timePeriod = "截止" + endTime;
      if (beginTime !== "" && endTime === "") timePeriod = beginTime + "起 - 不限";
      if (beginTime === "" && endTime === "") timePeriod = '不限'
      if (beginTime === undefined && endTime === undefined) timePeriod = 'loading...'

      // 設定使用日 (星期一 ~ 星期日)
      let weekDay = ''
      if (rule.Week1 === "True") weekDay += " 星期一";
      if (rule.Week2 === "True") weekDay += " 星期二";
      if (rule.Week3 === "True") weekDay += " 星期三";
      if (rule.Week4 === "True") weekDay += " 星期四";
      if (rule.Week5 === "True") weekDay += " 星期五";
      if (rule.Week6 === "True") weekDay += " 星期六";
      if (rule.Week7 === "True") weekDay += " 星期天";

      return `${timePeriod} [${weekDay} ]`
    },
    // 優惠卷類別
    ticketType() {
      const item = this.ticketData
      if (parseInt(item.TicketFlag) === 1) return '現金劵'
      if (parseInt(item.TicketFlag) === 2) return '商品抵用劵'
      if (parseInt(item.TicketFlag) === 3) return '商品折扣劵'
      if (parseInt(item.TicketFlag) === 4) return '現金折扣劵'
      return ''
    },
  },
  beforeRouteEnter: function(to, form, next){
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin) return next('/')
    // default
    next();
  },
  // 頁面模組
  methods: {
    showImageWuhu,
    // 判斷此卷能否使用
    isNotAvailable(ticket) {
      return this.notAvailableTickets.filter(item => {return item.GID == ticket.GID}).length > 0
    },
    // 顯示優惠卷細節資訊
    showTicketData(item) {
      // 取優惠卷的使用規則、條款資料，QRcode
      this.$store.dispatch('fetchMemberTicketInfoData', item)
      // 導向優惠卷資訊頁
      this.$router.push(`/cardCoupon?code=${item.GID}`)
    },
    // 顯示優惠卷的 QRcode
    showCouponCode() {
      this.isDemo = 'couponCode'
      this.$store.commit('setCssTouch', false)
      // 進入時將殼的螢幕調到最亮
      deviseFunction('setBrightness', '255', '')
    },
    // 顯示優惠卷的 QRcode
    hideCouponCode() {
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', this.$store.getters.deviseBrightness, '')
      this.$store.dispatch('fetchAppUserData')
      this.$store.commit('setCssTouch', true)
      this.isDemo = ''
      this.$router.go(-1)
    },
    // 確認是否贈卷
    confirmTransTicket() {
      const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
      if (this.ToAccount === '') return this.$root.showAlert('請輸入會員電話號碼')
      if (mobilePhoneRegxp.test(this.ToAccount) != true) return this.$root.showAlert('會員電話號碼錯誤')

      this.$root.showConfirm("一經贈送即無法更改<br>您確定要贈送嗎?")
        // 點擊確認執行贈卷
        .then(() => this.doTransTicket() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => this.$store.commit('setCustomModal', { type: '', text: '' }) )
    },
    // 執行贈卷
    async doTransTicket() {
      const data = await this.$store.dispatch('ensureMemberTransTicket', { ToAccount: this.ToAccount, TicketInfoID: this.ticketData.TicketInfoID })
      // 無論成功失敗都要顯示 api 訊息
      this.$root.showAlert(data.ErrorMsg)
      // 成功 => 刷新已轉贈的卷資訊, 前往已轉贈 list
      if (data.ErrorCode !== '0') return
      await this.$store.dispatch('fetchAppUserData')
      this.hideCouponCode()
      this.isActiveTab = 3
    },
  },
}
</script>
