<template>
  <div>
    <div class="w3-row w3-large tabBar w3-light-gray" v-if="faqName=='使用者條款' || faqName=='隱私權聲明'">
      <div class="w3-col s4 w3-bottombar w3-center tabLink" style="width:50%"
           :class="{'isActive':faqName=='使用者條款'}"
           @click="faqName='使用者條款',$router.push('/cardFaq?name=使用者條款')"
      >使用者條款</div>
      <div class="w3-col s4 w3-bottombar w3-center tabLink" style="width:50%"
           :class="{'isActive':faqName=='隱私權聲明'}"
           @click="faqName='隱私權聲明',$router.push('/cardFaq?name=隱私權聲明')"
      >隱私權聲明</div>
    </div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center" v-else>
      {{(faqType === 2)?faqData.title:faqName}}
    </div>

    <!-- 常見問題以外的頁面 -->
    <!-- <p style="white-space:pre-wrap" v-if="faqName!='常見問題'">{{infoData && infoData.subtext1}}</p> -->

    <!-- 常見問題頁面-->
    <!-- 顯示問題大類清單 -->
    <div v-if="faqType === 1" >
      <ul class="w3-ul">
        <li v-for="item in faqData" :key="item.code">
          <p class="w3-section-8 w3-display-container"  @click="$router.push(`/cardFaq?name=常見問題&mainType=${item.code}`)" style="padding:0 1rem 0 1.75rem">
            <i class="fas fa-info-circle fa-lg primary-text-brown" style="margin-left:-1.75rem"></i>
            {{item.title}}
            <span class="w3-display-right"><i class="fa fa-chevron-right primary-text-brown"></i></span>
          </p>
        </li>
      </ul>
    </div>
    <!-- 顯示問題小類清單 -->
    <div v-if="faqType === 2" >
      <ul class="w3-ul">
        <li v-for="item in faqData.subTypes" :key="item.code">
          <!--  <p class="w3-section-8"  @click="$router.push(`/cardFaq?name=常見問題&mainType=${item.code}`)"> -->
          <p class="w3-section-8 w3-display-container"  @click="item.open=!item.open" style="padding:0 1rem 0 1.75rem">
            <i class="fas fa-question-circle fa-lg primary-text-brown" style="margin-left:-1.75rem"></i>
            {{item.title}}
            <span class="w3-display-right" v-show="item.open==false"><i class="fa fa-chevron-right primary-text-brown"></i></span>
            <span class="w3-display-right" v-show="item.open==true"><i class="fa fa-chevron-down primary-text-brown"></i></span>
          </p>
          <p class="w3-padding w3-round w3-section" style="background:#f1f1f1;" v-if="item.open && mainType!='M07'" v-html="item.content"></p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

// 常見問題的資料
const rawFaqData = [
  {
    // 大類：
    code: 'M01',
    // 大類標題
    title: 'APP會員登入/註冊',
    // 小類
    subTypes: [
      { // 小類代碼
        code: 'S01',
        // 小類標題
        title: '如何申請一般會員/一般VIP會員帳號?',
        // 小類內容
        content: '下載APP於開啟後，點選首頁左上角"加入會員"，填入基本資料並綁定手機號碼，即可成為一般會員。再到門市消費並出示APP內會員條碼，累計消費滿3000元即可升級為一般VIP會員。',
        open: false
      }, {
        code: 'S03',
        title: '一個人可以註冊幾個會員帳號呢?',
        content: '一個帳號對應且綁定一支手機號碼。',
        open: false
      }, {
        code: 'S04',
        title: '手機一直無法收到簡訊驗證碼，怎麼辦?',
        content: '請先確認您的手機系統，是否有檔垃圾簡訊或是簡訊功能未開啟的狀況。 <br> 您可以再次點選發送簡訊驗證碼，請系統再次發送手機認證碼至您的手機，請注意點擊【重新寄驗證碼】需間隔一分鐘以上。 <br> 若持續收不到手機認證簡訊，請至聯絡我們填寫您的問題與帳號(手機號碼)，將會派專人盡速處理。',
        open: false
      }, {
        code: 'S06',
        title: '為什麼手機號碼及生日在註冊後無法更改?',
        content: '1.一個會員帳號對應且綁定一隻手機號碼無法更改，若需修正，請至門市送回總公司服務。 <br> 2.會員生日無法自行更改，若需修正，請洽客服專線做修改。修改次數限一次。',
        open: false
      }, {
        code: 'S07',
        title: '忘記密碼如何查詢',
        content: '請您在 APP 主畫面下方點選忘記密碼，系統會寄出驗證碼到您的手機簡訊中。 <br> 提醒您，每日僅能操作”忘記密碼”三次，操作後請稍待簡訊送達，也請不要連續按下忘記密碼，因為您必須使用最後一封通知簡訊的驗證碼，前面收到的都將會被覆蓋失效。(晚上0時自動歸零，可再重複查詢)',
        open: false
      }
    ]
  },
  {
    code: 'M04',
    title: '儲值金門市儲值及使用問題',
    subTypes: [
      {
        code: 'S01',
        title: '如何充值儲值金?',
        content: '任一門市皆有提供現金儲值服務，儲值時需出示APP會員條碼給門市人員收費掃碼，即可完成門市儲值。',
        open: false
      }, {
        code: 'S02',
        title: '如何使用儲值金付款',
        content: '於門市消費結帳時，出示您的APP會員條碼並確認要以儲值金全額付款或是部分付款，核對結帳後立即從您的帳號扣款相應儲值金額',
        open: false
      }, {
        code: 'S03',
        title: '哪裡可以查詢儲值金交易紀錄',
        content: '於下方工具列點選【會員專區】>點擊【儲值金】進入【儲值紀錄】，下方列表只會顯示最近10筆「現金儲值或儲值金消費」紀錄。',
        open: false
      }
    ]
  },
  {
    code: 'M05',
    title: '積點累積及使用問題',
    subTypes: [
      {
        code: 'S01',
        title: '如何獲得會員積點?',
        content: '至門市消費結帳時，出示APP會員條碼，單筆發票金額消費每滿100元即可獲得發放1枚積點至該出示會員APP帳號內；並以單筆發票消費金額除以100後取整數計算方式發放積點，小數點後歸零不於下次累記。(例如一般會員:發票金額470元，即470除以100等於約4.7，該次消費金額即可獲贈4枚積點，小數點0.7部分歸零不累計)。',
        open: false
      }, {
        code: 'S02',
        title: '消費完成後，需要多久才可以獲得會員積點?',
        content: '在網路傳輸正常狀況下，消費完成後五分鐘內會員積點即會顯示在您的會員帳號內',
        open: false
      }, {
        code: 'S03',
        title: '如何在門市使用會員積點',
        content: '請至門市點餐時出示APP會員條碼，並告知門市服務人員今日消費欲使用幾點會員積點兌換當期活動商品或折抵現金消費，於結帳時進行掃碼直接將您帳號中的積點折抵兌換。',
        open: false
      }, {
        code: 'S04',
        title: '除門市使用外，會員積點也可以兌換指定優惠券，如何兌換?',
        content: '點選APP下方功能列，進入【會員專區】>【積點換券】，可依照表單上品項用帳號內剩餘積點兌換指定商品優惠券，選定確認後即可兌換該優惠券。',
        open: false
      }, {
        code: 'S05',
        title: '如果積點兌換錯的優惠券，可否取消換回積點呢?',
        content: '一旦確認兌換即無法取消，使用的積點不再歸還，還請務必詳閱票券內容，以確保您的權益。',
        open: false
      }, {
        code: 'S07',
        title: '結帳時無法出示我的APP條碼，那這次消費可以累積會員積點嗎?',
        content: '若未能於當日結帳時進行累點，僅提供當日回店補登(需出示發票證明)，過該日營業時間，即不再提供補登服務。',
        open: false
      }, {
        code: 'S08',
        title: '可以將我的會員積點轉讓給其他人嗎?',
        content: '很抱歉，因會員積點均以每一帳號進行累積，且為保護顧客資料與交易安全，無法將您的會員積點移轉至其它帳號或其它人。',
        open: false
      }, {
        code: 'S09',
        title: '哪裡可以查詢積點交易紀錄',
        content: '於下方工具列點選【會員專區】>點擊【積點】進入【積點紀錄】，下方列表會顯示最近10筆「積點獲得或積點兌換」紀錄。',
        open: false
      }
    ]
  },
  {
    code: 'M06',
    title: 'APP優惠券兌換及使用問題',
    subTypes: [
      {
        code: 'S01',
        title: '優惠券使用期限及兌換方式',
        content: '至門市點餐時出示優惠券 (點選APP下方功能列，進入【會員專區】>【優惠券】>【可使用】)，確認兌換品項；於結帳時出示畫面與門市服務人員進行【掃碼兌換】及可兌換指定優惠品項或折扣。 <br> ＊提醒您：所有優惠票券皆有使用期限，為確保您的消費權益，請確實於票券到期前，前往門市進行兌換。兌換券一旦過期，不再做補發。',
        open: false
      }, {
        code: 'S02',
        title: '生日優惠券發送方式? (確認可否分別於生日當天發出推撥，給予優惠)',
        content: '每個月都會發送專屬生日優惠券給當月壽星，生日優惠券包含商品或折扣等不定期優惠，使用期限為一整個月。如：您生日為9月，生日禮有效期限為9/1-9/30。 <br> 生日禮每年僅發送一次，生日禮發送時間為前一個月21號，票券直接發送您的【優惠券】中。 <br> 若您於生日前一個月21號之前已完成下載並註冊會員，即可於生日前一個月 21號收到生日優惠券。 <br> 若您於生日前一個月21號之後才成為會員，您的生日禮將於隔年生日前一個月份 21號收到生日禮。',
        open: false
      },
    ]
  }
]

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      rawFaqData: JSON.parse(JSON.stringify(rawFaqData)), // 常見問題列表
      isActiveTab: 1,
      isQuestion: true,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl() { return this.state.srcUrl },
    // 主標題
    faqName()  { return this.$route.query.name },
    // 大類代碼
    mainType() { return this.$route.query.mainType },
    // 小類代碼
    subType()  { return this.$route.query.subType },
    // 常見問題分類 (用來判斷當下 FAQ 頁面是要顯示 問題大類 / 問題小類 / QA內容)
    faqType()  {
      // 0 => 不是 '常見問題'
      if (this.faqName !== '常見問題') return 0
      // 1 => 顯示問題大類清單
      if (this.mainType === undefined && this.subType === undefined) return 1
      // 2 => 顯示問題小類清單
      if (this.mainType !== undefined && this.subType === undefined) return 2
      return undefined
      // 3 => 顯示 QA 內容
      // if (this.mainType !== undefined && this.subType !== undefined) return 2
    },
    // 常見問題資料
    faqData() {
      // 0 => 不是 '常見問題'
      if (this.faqType == 0) return undefined
      // 1 => 顯示問題大類清單
      if (this.faqType == 1) return this.rawFaqData
      // 2 => 顯示問題小類清單 & 顯示 QA 內容
      if (this.faqType == 2) return this.rawFaqData.find(item => item.code === this.mainType)
      return undefined
    },
    // 常見問題以外的資料
    // brandInfo() { return this.state.brandInfo },
    // infoData()  { return this.brandInfo.find(item => item.detailname === this.faqName ) },
  },
  // 頁面模組
  methods: {
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
  // to: 上一個頁面代碼
  // form: 目前頁面代碼
  // next: 向下執行
    next();
  },
  beforeRouteUpdate: function(to, form, next){
  // to: 上一個頁面代碼
  // form: 目前頁面代碼
  // next: 向下執行
    this.rawFaqData = JSON.parse(JSON.stringify(rawFaqData))
    next();
  },
  // 建立頁面後
  created: function(){

  }
}
</script>
