<template>
  <div>

    <div class="w3-content w3-padding-48 w3-row" style="width:80%">
      <div class="w3-col s4">
        <div class="w3-circle flex-center w3-border w3-border-light-gray mbr-avatar" :style="{'margin-top':(currentApp=='53239538') ? '20%':'' }">
          <img style="width:70%" src="../../../assets/images/user.svg">
        </div>
      </div>
      <div class="w3-col s8 w3-container" style="padding-right:0">
        <div class="w3-xlarge" style="margin-top:.5rem">{{$store.state.currentAppUser.CardTypeName}}</div>
        <div v-if="currentApp!='53239538'">累積 <b class="w3-xxlarge" style="line-height:1">{{points}}</b> 點</div>
      </div>
    </div>

    <!-- 功能選單 -->
    <div class="w3-padding w3-padding-16" style="background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);">
      <div class="w3-row w3-center">
        <div class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/rec-point.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardPoint')" v-if="currentApp!='53239538'">
          <img src="../../../assets/images/rec-point.svg" class="w3-opacity" style="height:3rem;" @click="openLink('https://customer-info-jinher.azurewebsites.net/Customer_point_history.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')" v-else>
          <div class="w3-medium" style="margin-top:.5rem">{{currentApp=='53239538'?'消費點數紀錄':'積點紀錄'}}</div>
        </div>
        <div class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/rec-pay.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardPay')">
          <div class="w3-medium" style="margin-top:.5rem">{{currentApp=='53239538'?'體驗點數紀錄':'消費紀錄'}}</div>
        </div>
        <div class="w3-col s4 w3-padding-16">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <span class="w3-badge w3-display-topright primary-color w3-center" style="padding:0;width:1.5rem;margin:-1rem -1rem 0 0;" v-if="state.memberData.ticketList.length!=''">
              {{state.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}
            </span>
            <img src="../../../assets/images/coupon.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardCoupon')">
          </div>
          <div class="w3-medium" style="margin-top:.5rem">{{currentApp=='53239538'?'共用優惠券':'優惠券'}}</div>
        </div>
        <!-- <div v-if="$store.getters.currentApp.EnterpriseID === 'K54827062'" class="w3-col s4 w3-padding-16">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <span class="w3-badge w3-display-topright w3-green w3-center" style="padding:0;width:1.5rem;margin:-1rem -1rem 0 0;">
              3
            </span>
            <img src="../../../assets/images/cup.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardGiftVouchers')">
          </div>
          <div class="w3-medium" style="margin-top:.5rem">寄杯兌換</div>
        </div> -->
        <!-- <div v-if="$store.getters.currentApp.EnterpriseID === 'K54827062'" class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/foodmenu.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/ordering')">
          <div class="w3-medium" style="margin-top:.5rem">點餐</div>
        </div> -->
        <div class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/news.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardNews')">
          <div class="w3-medium" style="margin-top:.5rem">最新消息</div>
        </div>
        <div class="w3-col s4 w3-padding-16">
          <img src="../../../assets/images/card-profile.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardProfile')">
          <div class="w3-medium" style="margin-top:.5rem">會員資訊</div>
        </div>
        <div class="w3-col s4 w3-padding-16" v-if="currentApp!='53239538'">
          <img src="../../../assets/images/faq.svg" class="w3-opacity" style="height:3rem;" @click="$router.push('/cardFaq?name=常見問題')">
          <div class="w3-medium" style="margin-top:.5rem">常見問題</div>
        </div>
        <div class="w3-col s4 w3-padding-16" v-else>
          <img src="../../../assets/images/preOrder.svg" class="w3-opacity" style="height:3rem;">
          <div class="w3-medium" style="margin-top:.5rem">服務預約</div>
        </div>
      </div>
    </div>

    <!-- 龍海 DEMO -->
    <div v-if="currentApp === '53239538'" class="w3-section-8 w3-content w3-large w3-container" style="max-width:480px">
      <div class="w3-border w3-round-large" style="overflow:hidden;background:#def4ff">
        <div style="background:#3aa9e1"><p class="w3-text-white w3-center w3-padding" style="margin:0"><b>我的契約</b></p></div>
        <ul class="w3-ul">
          <li class="w3-display-container" @click="openLink('https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3aa9e1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w3-display-right w3-margin-right"><path d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z"/><path d="M14 3v5h5M16 13H8M16 17H8M10 9H8"/></svg>
            契約清單
          </li>
          <li class="w3-display-container" @click="openLink('https://customer-info-jinher.azurewebsites.net/Customer_Deed_Loan_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3aa9e1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w3-display-right w3-margin-right"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
            契約價值
          </li>
          <li class="w3-display-container" @click="openLink('https://customer-info-jinher.azurewebsites.net/Customer_deed_payment_need.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3aa9e1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w3-display-right w3-margin-right"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
            待繳費契約
          </li>
          <li class="w3-display-container" @click="openLink('https://customer-info-jinher.azurewebsites.net/Customer_Deed_complete_term.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3aa9e1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w3-display-right w3-margin-right"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg>
            已申辦待滿期契約清單
          </li>
        </ul>
      </div>
    </div>

    <!-- 卡Code -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="currentCardCode">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="currentCardCode=false;$store.commit('setCssTouch', true)">
        </header>
        <div class="w3-container w3-padding-large w3-padding-64 w3-center">
          <img :src="cardQrCode.image" class="w3-image" alt="" style="width: 75%">
          <p>{{cardQrCode.value}}</p>
        </div>
      </div>
    </transition>

    <!-- 外連結 -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isLink">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="isLink=false;$store.commit('setCssTouch', true)">
        </header>
        <div style="width:100vw;height:calc(100% - 62px);overflow:auto;-webkit-overflow-scrolling:touch">
          <iframe :src="srcLink" frameborder="0" width="98%" height="100%"></iframe>
        </div>
      </div>
    </transition>

  </div>

</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 暫時假資料
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    points()     { return this.state.memberData.card_info.Points ? parseInt(this.state.memberData.card_info.Points) : 0 },
  },
  // 頁面模組
  methods: {
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    }
  },
  // 每次進入此頁面會執行的設定
  beforeRouteEnter: function(to, form, next){
    // 取企業 App 的會員資料
    store.commit('setLoading', true)
    store.dispatch('fetchAppLogo')
    store.dispatch('fetchAppUserData')
    setTimeout(() => { store.commit('setLoading', false) }, 200)

    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>

