<template>
  <div>

    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      最新消息
    </div>

    <!-- simtree社群連結 -->
    <div v-if="currentApp === '748386345'" class="w3-container w3-cell-row w3-section w3-content" style="max-width:480px">
      <div class="w3-cell w3-cell-middle" @click="deviseUrl('https://zh-tw.facebook.com/simtree.tw/')">
        <img src="images/social-media-fb.png" style="height:1.75rem;">
        <span class="w3-text-gray w3-medium">Facebook</span>
      </div>
      <div class="w3-cell w3-cell-middle w3-center" @click="deviseUrl('https://www.instagram.com/simtree.tw/')">
        <img src="images/social-media-ig.png" style="height:1.75rem;">
        <span class="w3-text-gray w3-medium">Instagram</span>
      </div>
      <div class="w3-cell w3-cell-middle w3-right-align" @click="deviseUrl('https://page.line.me/simtree')">
        <img src="images/social-media-line.png" style="height:1.75rem;">
        <span class="w3-text-gray w3-medium">LINE</span>
      </div>
    </div>

    <!-- 三分春色社群連結 -->
    <div v-if="currentApp === '24982896'" class="w3-container w3-cell-row w3-section w3-content" style="max-width:480px">
      <div class="w3-cell w3-cell-middle" @click="deviseUrl('https://www.facebook.com/three077905557/')">
        <img src="images/social-media-fb.png" style="height:1.75rem;">
        <span class="w3-text-gray w3-medium">Facebook</span>
      </div>
      <div class="w3-cell w3-cell-middle w3-center" @click="deviseUrl('https://www.instagram.com/thre_spring/?hl=zh-tw')">
        <img src="images/social-media-ig.png" style="height:1.75rem;">
        <span class="w3-text-gray w3-medium">Instagram</span>
      </div>
      <div class="w3-cell w3-cell-middle w3-right-align" @click="deviseUrl('http://nav.cx/xnW5B8')">
        <img src="images/social-media-line.png" style="height:1.75rem;">
        <span class="w3-text-gray w3-medium">LINE</span>
      </div>
    </div>

    <!-- 輪播 Banner -->
    <div class="w3-center">
      <p class="w3-center w3-opacity-max w3-padding-48" v-if="newsData.length === 0">-- 無最新消息 --</p>

      <Swiper ref="awesomeSwiperA" :options="swiperOptionA">
        <!-- slides -->
        <SwiperSlide v-for="news in newsData" :key="news.DetailID">
          <img class="w3-image" :src="showImage(news._PicURL)" @click="$router.push('cardNewspage/' + news.DetailID)">
        </SwiperSlide>
        <!-- Optional controls -->
        <div class="swiper-pagination" slot="pagination"></div>
      </Swiper>
    </div>

    <ul class="w3-ul">
      <!-- <li class="w3-center w3-opacity-max w3-padding-48" v-if="newsData.length === 0">無最新消息</li> -->
      <li v-for="news in newsData" @click="$router.push('/cardNewspage/' + news.DetailID)" :key="news.DetailID">
        <b class="w3-medium">{{news.SaleTime.substring(0, 10)}}</b>
        <p class="w3-section-8">{{news.DetailName}}</p>
      </li>
    </ul>

  </div>
</template>

<script>
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage } from 'src/libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
// BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.getters.srcUrl },
    newsData() { return this.state.publicData.news.data.filter(item => item.KindID !== "_INFO_") },
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      // BANNER輪播
      swiperOptionA: {
        pagination: {
          el: '.swiper-pagination'
        },
      },
    };
  },
  // 頁面模組
  methods: {
    showImage,
    deviseUrl(url){
      return deviseFunction('openWeburl', url, '')
    }
  },
}
</script>
