<template>
  <div v-if="pageData && pageData.KindID !== undefined" v-cloak>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      {{pageData.DetailName}}
    </div>
    <div>
      <img class="w3-image" :src="showImage(pageData.PicURL)"  alt="">
    </div>
    <p class="w3-container primary-text-red w3-display-container">
      發布日期: {{pageData.SaleTime.substring(0, 10)}}
    </p>
    <!-- 讓 /n 可以在 html 裡自動斷行 -->
    <p class="w3-container" style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;">
      {{pageData.SubText1}}
    </p>
  </div>
</template>

<script>
import { showImage } from 'src/libs/appHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl() { return this.getters.srcUrl },
    pageData() {
      if (this.state.publicData.news.data.length > 0) return this.state.publicData.news.data.find(item => { return item.DetailID == this.$route.params.id })
      return {}
    },
    newsTypes() { return this.state.publicData.news.types },
  },
  methods: {
    showImage,
    // 顯示分類名稱
    newsTypeName(){
      if (this.newsTypes.length === undefined || this.pageData.KindID === undefined ) return ''

      return this.newsTypes.find((type)=>{return type.KindID === this.pageData.KindID }).KindName
    },
  },
}
</script>
