<template>
  <div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      {{showPageHeader()}}
    </div>

    <div v-if="pageData">
      <h5 class="w3-center">{{pageData.DetailName}}</h5>
      <div class="w3-display-container">
        <img class="w3-image" :src="showImage(pageData.PicURL)">
      </div>

      <div class="w3-row w3-light-gray flex-center-h tabBar" style="flex-wrap:nowrap">
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==1}"
             @click.prevent="currentType=1"
             >{{pageData.SubTitle1}}</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==2}"
             @click.prevent="currentType=2"
             v-if="pageData.SubTitle2!=''"
             >{{pageData.SubTitle2}}</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==3}"
             @click.prevent="currentType=3"
             v-if="pageData.SubTitle3!=''"
             >{{pageData.SubTitle3}}</div>
      </div>
      <div>
        <div v-show="currentType === 1" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText1}}</div>
        <div v-show="currentType === 2" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText2}}</div>
        <div v-show="currentType === 3" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText3}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { showImage } from 'src/libs/appHelper.js'

export default {
  data: function(){
    return {
      state: this.$store.state,
      currentType: 1,
    };
  },
  computed: {
    // (從 route 取的)常用資訊
    mainName() { return this.$route.query.mainName },
    subName()  { return this.$route.query.subName },
    KindID()   { return this.$route.query.subCode },
    LinkID()   { return this.$route.params.id },
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl()   { return this.$store.getters.srcUrl },
    pageData() {
      const subTypeData = this.state.publicData.menu.subType.find(item => {return item.code == this.KindID})
      if (subTypeData) return subTypeData.list.find(item => { return item.DetailID == this.LinkID})
      return {}
    },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
  },
  methods: {
    showImage,
    // 顯示主標
    showPageHeader() {
      if (this.subName == undefined) return this.mainName
      if (this.subName != undefined) return this.mainName + " > " + this.subName
    },
    resetPage() {
      this.currentType = 1;
    },
  },
  watch: {
    // 如果路由有变化，会再次执行该方法
    '$route': 'resetPage'
  },
}
</script>
