<template>
  <div>

    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      會員資訊
    </div>
    <form>
      <ul class="w3-ul w3-large m-0">
        <li>
          <div class="w3-cell-row w3-section-8">
            <div class="w3-cell w3-cell-middle w3-text-gray">手機</div>
            <div class="w3-cell w3-cell-middle w3-right-align"><b>{{userData.Account}}</b></div>
          </div>
        </li>
        <li v-if="userData.Name !== ''">
          <div class="w3-cell-row w3-section-8">
            <div class="w3-cell w3-cell-middle w3-text-gray">姓名</div>
            <div class="w3-cell w3-cell-middle w3-right-align"><b>{{userData.Name}}</b></div>
          </div>
        </li>
        <li>
          <div class="w3-cell-row w3-section-8">
            <div class="w3-cell w3-cell-middle w3-text-gray">生日</div>
            <div class="w3-cell w3-cell-middle w3-right-align"><b>{{userData.Birthday}}</b></div>
          </div>
        </li>
        <li>
          <div class="w3-cell-row w3-section-8">
            <div class="w3-cell w3-cell-middle w3-text-gray">性別</div>
            <div class="w3-cell w3-cell-middle w3-right-align"><b>{{userData.Sex}}</b></div>
          </div>
        </li>
        <li>
          <div v-if="userData.Email !== ''" class="w3-cell-row w3-section-8">
            <div class="w3-cell w3-cell-middle w3-text-gray">電子信箱</div>
            <div class="w3-cell w3-cell-middle w3-right-align"><b>{{userData.Email}}</b></div>
          </div>
        </li>
      </ul>
    </form>

  </div>

</template>

<script>
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isSideMenu: false
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    userData() { return this.$store.state.currentAppUser },
  },
}
</script>
