<template>
  <div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      門市查詢
    </div>

    <ul class="w3-ul m-0 mt-3">
      <li v-for="item in stores" :key="item.GID" class="w3-display-container">
        <a v-if="inDeviseApp" @click="deviseToGoogleMapsLink(item)" class="w3-section-8 w3-large" style="text-decoration: none;"><i class="fas fa-map-marker-alt"></i>&nbsp;<b>{{item.OrgName}}</b></a>

        <a v-if="!inDeviseApp" :href="`http://maps.google.com/?q=${item.Addr}`" target="_blank"
          class="w3-section-8 w3-large" style="text-decoration: none;"><i class="fas fa-map-marker-alt"></i>&nbsp;<b>{{item.OrgName}}</b></a>

        <p class="w3-section-8">{{item.Addr}}<br>
          <a v-if="inDeviseApp" @click="deviseMakePhoneCall(item)">{{item.Tel}}</a>
          <a v-if="!inDeviseApp" :href="'tel:'+ item.Tel">{{item.Tel}}</a>
        </p>
        <p v-if="item.Open" style="white-space:pre-wrap"> 營業時間： <br> {{item.Open}} </p>

        <div v-if="item.Mode" class="w3-padding-8">
          <!-- <button class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showIframe = true;$store.commit('setCssTouch', false)"><i class="fas fa-utensils fa-fw w3-opacity"></i> 預訂快取</button> -->
          <button v-if="item.Mode.takeout" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'takeout')">
            <i class="fas fa-shopping-bag fa-fw w3-opacity"></i> 自取
          </button>
          <button v-if="item.Mode.delivery" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'delivery')">
            <i class="fas fa-motorcycle fa-fw w3-opacity"></i> 外送點我
          </button>
          <button v-if="item.Mode.DeskPay" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'DeskPay')">
            <i class="fas fa-utensils fa-fw w3-opacity"></i> 掃碼點餐
          </button>
          <button v-if="item.Mode.resdelivery" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'resdelivery')">
            <i class="fas fa-motorcycle fa-fw w3-opacity"></i> 預定外送
          </button>
          <button v-if="item.Mode.restakeout" class="w3-button w3-round-xxlarge primary-color" style="padding:.25rem 1rem !important" @click="showMOrder(item.ShopID, 'restakeout')">
            <i class="fas fa-shopping-bag fa-fw w3-opacity"></i> 預定外帶
          </button>
        </div>
      </li>
    </ul>

    <!-- 點餐 iframe -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="showIframe">
        <img src="images/x.svg" class="w3-opacity" style="height:1.75rem;position: absolute;top: 12px;right: 20px;" @click="showIframe=false;$store.commit('setCssTouch', true)">
        <iframe
            src="https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?EnterpriseID=54827062&ShopID=KH01#/"
            style="width: 100%;height: 100%;"
            frameborder=0 scrolling=auto></iframe>
      </div>
    </transition>

  </div>

</template>

<script>
import { deviseFunction } from 'src/libs/deviseHelper.js'

const storesDate = [
  {
    Name: '中正店',
    Addr: '800 高雄市新興區中正三路73號',
    Tel: '(07)215-7766'
  },
  {
    Name: '五福店',
    Addr: '802 高雄市苓雅區五福一路10號',
    Tel: '(07)225-1959'
  },
  {
    Name: '瑞隆店',
    Addr: '802 高雄市前鎮區瑞隆路314號1樓',
    Tel: '(07)721-1747'
  },
  {
    Name: '巨蛋店',
    Addr: '813 高雄市左營區博愛二路777號8樓（漢神巨蛋8F）',
    Tel: '(07)522-2688'
  },
  {
    Name: '衛武營店',
    Addr: '830 高雄市鳳山區三多一路1號3樓（國家藝術中心）',
    Tel: '(07)740-6988'
  },

]

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isSideMenu: false,
      showIframe: false,
      storesDate: storesDate,
      state: this.$store.state,
    };
  },
  computed: {
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    pageData() { return this.state.publicData.storeList },
    stores() { return this.pageData.store },
  },
  methods: {
    // (殼專屬) 打電話
    deviseMakePhoneCall(store) {
     return deviseFunction('Tel', store.Tel, '')
    },
    // (殼專屬) 另開瀏覽器 app，開啟 Google map 連結
    deviseToGoogleMapsLink(store) {
      const gmapUrl = `http://maps.google.com/?q=${store.Addr}`
     return deviseFunction('openWeburl', gmapUrl, '')
    },
    // (殼專屬) 點擊分享按鈕
    deviseShare(store){
      const gmapUrl = `http://maps.google.com/?q=${this.eName},${store.Addr}`
      return deviseFunction('shareTo', `{"subject":"", "body":"嗨!跟你分享一個美食好所在!! ${gmapUrl}", "chooserTitle":""}`, '')
    },
    // 導向點餐頁
    showMOrder(ShopID, ShopType) {
      const isDevelopment = (/dev-service.jinher.com.tw\/projectFeature\//.test(window.location.href))
      let url
      if (isDevelopment)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`
      if (!isDevelopment) url = `https://kakar.jinher.com.tw/app/morder/index.html?EnterpriseID=${this.mainEnterpriseID}&ShopID=${ShopID}#/`

      // 預設值
      const data = {
        // 會員門店號
        "ShopID": ShopID,
        // 主企業號的 ID
        "mainEnterpriseID": this.mainEnterpriseID,
        // 主企業號的 connect
        "mainConnect": this.state.publicData.MainConnect,
        // Mode選的type, (ex:takeout)
        "ShopType": ShopType,
        // Mode選的type, (ex:takeout)
        "Mobile": this.state.userData.Account,
        // 登入者姓名
        "Username": this.state.userData.Name,
        // 登入者地址
        "Address": this.state.userData.Address,
      }

      // 寫入要存的 key 設定
      data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect"

      // 執行存入殼裡
      deviseFunction('SetSPS', JSON.stringify(data), '')

      return window.location.href = url
    }
  },
}
</script>
