<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>季河會員 app</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but newpos-register doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <!-- 資料加載動畫 -->
      <div v-if="false"
      style="height:100%;width:100%;display:flex;position:absolute;align-items:center;justify-content:center;z-index:99999">
        <div>
          <img src="<%= BASE_URL %>pending.svg">
          <p style="color: gray;margin-top: 1rem">資料加載中，請稍後...</p>
        </div>
        <!-- 沒有網路連線動畫 -->
        <div style="display:none">
          <img src="<%= BASE_URL %>disconnected.svg">
          <p style="color: gray;margin-top: 1rem">沒有網路連線，請稍後再試...</p>
          <div style="margin-top: 1rem;background: dimgray;color: white;padding: 8px 32px;border-radius: 4px;text-align: center;">重新載入</div>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
