// bulma 變數
$navbar-breakpoint: 1px;
$tabs-border-bottom-width: 2px;
$tabs-toggle-link-border-width: 2px;
$tabs-border-bottom-color: #f5f5f5;
$tabs-link-hover-border-bottom-color:hsl(217, 71%, 53%);
$tablet: 768px;
$link: #2196F3;
$tabs-toggle-link-border-width: 2px;
$tabs-link-hover-border-bottom-color: hsl(0, 0%, 96%);

// ref: https://bulma.io/documentation/
@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../../node_modules/bulma/sass/base/_all';
@import '../../../node_modules/bulma/sass/elements/_all';
@import '../../../node_modules/bulma/sass/form/_all';
@import '../../../node_modules/bulma/sass/components/_all';
@import '../../../node_modules/bulma/sass/grid/_all';
@import '../../../node_modules/bulma/sass/layout/_all';
// ref: https://getbootstrap.com/docs/4.1/utilities/
@import '../../../node_modules/bootstrap-utilities/bootstrap-utilities.css';
// blueprint css
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
