<template>
  <div>
    <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../assets/images/loading.svg" alt="">
      </div>
    </div>

    <div v-if="pageData && pageData.KindID !== undefined" v-cloak>
      <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
        {{pageData.DetailName}}
      </div>
      <div class="text-center">
        <img class="w3-image" :src="showImageWuhu(pageData.PicURL)"  alt="">
      </div>
      <p class="w3-container primary-text-red w3-display-container mt-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        發布日期: {{pageData.SaleTime.substring(0, 10)}}
      </p>
      <!-- 讓 /n 可以在 html 裡自動斷行 -->
      <p class="w3-container" style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;" :style="{ fontSize: fontSizeBase*16 + 'px' }">{{pageData.SubText1}}</p>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { showImageWuhu } from 'src/libs/appHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl() { return this.getters.srcUrl },
    pageData() {
      const newsData = this.state.baseInfo.publicData.news.data
      if(newsData && newsData.length>0) {
        return newsData.find(item => { return item.DetailID == this.$route.params.id })
      } else {
        return null
      }
    },
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let resultData = null

      const newsData = this.state.baseInfo.publicData.news.data
      if (newsData && newsData.length > 0) {
        resultData = newsData.find(item => { 
          return item.DetailID == this.$route.params.id 
        })
      }

      if (resultData) {
        // console.log('newsPage isReady ===> true')
        return true
      } else {
        // console.log('newsPage isReady ===> false')
        return false
      }
    },
    newsTypes() { return this.state.baseInfo.publicData.news.types },
  },
  methods: {
    showImageWuhu,
    // 顯示分類名稱
    newsTypeName(){
      if (this.newsTypes.length === undefined || this.pageData.KindID === undefined ) return ''

      return this.newsTypes.find((type)=>{return type.KindID === this.pageData.KindID }).KindName
    },
  },
  beforeRouteEnter(to, from, next) {
    if (to && to.params) { 
      store.dispatch('fetchAppPublicDataNewsWuhu')  
    }
    next()
  },
}
</script>
