<template>
  <div>
    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      消費點數紀錄
    </div>
    <div class="w3-container">
      <!-- <div class="w3-center w3-padding w3-margin-bottom w3-stretch w3-dark-gray"><span class="w3-text-light-gray" :style="{ fontSize: fontSizeBase*16 + 'px' }">近十筆紀錄</span></div> -->
      <div class="mt-2 py-1">
        <div class="columns is-variable is-1 is-mobile">
          <!-- 總消費點數 -->
          <div class="column text-center">
            <div class="notification is-info is-light p-2 border border-info">
              <div :style="{ fontSize: fontSizeBase*16 + 'px' }">
                未使用總消費點數<br>
                <b class="has-text-black mx-2 line-height-100" :style="{ fontSize: fontSizeBase*36 + 'px' }" v-if="isLoadPoint">{{balance}}</b>點
                <span class="has-text-black mx-2 line-height-100" v-if="!isLoadPoint">讀取中...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 篩選 -->
      <div class="py-2 border-bottom sticky-top bg-white">
        <!-- 選擇契約類型 -->
        <div class="columns is-variable is-1 is-mobile is-multiline my-0">
          <div class="column py-0">
            <div class="select is-fullwidth">
              <select v-model="queryType">
                <option value="type" disabled>選擇契約類型</option>
                <option value="all">全部</option>
                <option value="1">一年期契約</option>
                <option value="3N">三年期契約</option>
                <option value="6N">六年期契約</option>
                <option value="3Y">三年期躉繳契約</option>
              </select>
            </div>
          </div>
          <div class="column py-0">
            <div class="select is-fullwidth">
              <select v-model="queryUse">
                <option value="use" disabled>選擇消費類型</option>
                <option value="all">全部</option>
                <option value="Y">已使用契約</option>
                <option value="N">未使用契約</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
      <!-- empty -->
      <p class="text-center w3-opacity-max py-5 my-5" v-if="!consumerData || consumerData.length<=0" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無紀錄 --</p>
      <!-- 列表 -->
      <div class="w3-stretch p-3" v-else>
        <article class="message border mb-3" v-for="(item,index) in consumerData" :key="index">
          <div class="message-body px-3">
            <div class="columns is-variable is-1 is-mobile">
              <div class="column is-narrow py-1">
                契約期限<br>{{formatTime(item.end_day, 'YYYY/MM/DD')}}
              </div>
              <div class="column py-1 text-right" :style="{ fontSize: fontSizeBase*20 + 'px' }" @click="popDetail(item)">
                <b class="has-text-info" style="text-decoration:underline">{{item.deed_no}}
                <i class="fas fa-search fa-xs has-text-grey-light"></i></b>
              </div>
            </div>
            <div class="columns is-variable is-1 is-mobile">
              <!-- 轉入日期先隱藏
              <div class="column is-narrow py-1 w3-text-orange" v-if="item==1">
                轉入日期<br>2022/03/28
              </div>-->
              <div class="column py-1 text-right">
                <div class="has-text-grey-light" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  消費點數<b class="has-text-black mb-2 mx-2" style="line-height:1" :style="{ fontSize: fontSizeBase*26 + 'px' }">{{item.points}}</b>點
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>

    <!-- 跳窗 overlay -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 1040;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>

    <!-- 明細 -->
    <div class="fixed-top flex-center h-100" style="z-index:1041" v-if="isTypeModal=='detail'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round" style="min-width:360px">
        <p class="text-center">
          <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a>
        </p>
        <h4 class="text-center mt-4 mb-0">
          <!--SC99999999-->{{oneDeedNo}} 消費明細
          <div class="notification p-2 mt-3 mx-3">
            總計已消費金額 <!--10000-->{{oneDetailSummary}}
          </div>
        </h4>
        <div class="p-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <div class="scroll-touch w3-stretch" style="height:360px">
            
            <!-- empty -->
            <p class="text-center w3-opacity-max py-5 my-5" v-if="!consumerDetail || consumerDetail.length<=0" :style="{ fontSize: fontSizeBase*16 + 'px' }">--無紀錄--</p>
            <div v-else class="px-2">
              <table class="table is-fullwidth cp-table">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>金額</th>
                    <th>訂單編號</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="(item, index) in consumerDetail">
                    <!-- 清單 -->
                    <tr :class="{'open-order-list':item.readMore}" :key="'order_'+index">
                      <td><nobr>{{formatTime(item.LastModify, 'YYYY-MM-DD')}}</nobr></td>
                      <td class="text-right">{{parseInt(item.TradeBalance)}}</td>
                      <td class="has-text-info" @click="clickOrderNo(item, index)">
                        <nobr>
                          {{item.OrderNo}}
                          <!-- 開啟 -->
                          <span v-show="!item.readMore"><i class="fas fa-angle-down"></i></span>
                          <!-- 收闔 -->
                          <span v-show="item.readMore"><i class="fas fa-angle-up"></i></span>
                        </nobr>
                      </td>
                    </tr>
                    <!-- 清單的明細清單 -->
                    <tr class="order-list" v-if="item.readMore" :key="'desc_'+index">
                      <td class="px-2 pt-0 pb-3" colspan="3">
                        <div class="notification p-2 is-info is-light">
                          <div v-if="!item.orderDetail || item.orderDetail.length<=0" style="text-align: center; color: gray;">
                            <!-- 避免先顯示無紀錄才跳出紀錄,所做的處理 --> 
                            <template v-if="item.orderDetail && item.orderDetail.length<=0">--無紀錄--</template> 
                          </div>
                          <table v-else class="table is-fullwidth bg-transparent">
                            <tbody>
                              <tr v-for="(item2, index2) in item.orderDetail" :key="index2">
                                <td>{{item2.FoodName}}</td>
                                <td class="text-right">{{item2.Count}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
import store from 'src/store'
import { formatTime } from '../../libs/timeHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isTypeModal: '',
      oneDeedNo: '',
      queryType: 'type',
      queryUse: 'use'
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    memberData() { return this.$store.state.baseInfo.memberData },
    fontSizeBase() { return store.getters.fontSizeBase },
    isLoadPoint(){
      return this.state.baseInfo.memberData.isVipDataLoad;
    },
    balance()     { return this.state.baseInfo.memberData.card_info.Balance ? parseInt(this.state.baseInfo.memberData.card_info.Balance) : 0 },
    consumerData() {
      return this.memberData.consumerPoints
    },
    consumerDetail() { 
      return this.memberData.consumerPointDetail
    },
    oneDetailSummary() {
      let sum = 0
      if (this.consumerDetail && this.consumerDetail.length>0) {
        this.consumerDetail.forEach((item)=>{
          sum += parseFloat(item.TradeBalance)
        })
      }
      return sum
    }
  },
  watch: {
    // 查詢契約類型
    queryType: function() {
      store.dispatch('fetchMemberConsumerPointsDataWuhu', this.getQueryObj())
    },
    // 查詢契約類型
    queryUse: function() {
      store.dispatch('fetchMemberConsumerPointsDataWuhu', this.getQueryObj())
    }
  },
  // 頁面模組
  methods: {
    formatTime(timeStr, formatStr) {
      return formatTime(timeStr, formatStr)
    },
    async popDetail(item) {
      // 一開始先清空
      store.commit('setMemberConsumerPointDetailWuhu', null)

      this.oneDeedNo = item.deed_no
      this.isTypeModal='detail'
      this.$store.commit('setCssTouch', false)
      await store.dispatch('fetchMemberConsumerPointsDetailWuhu', {deed_no: item.deed_no})
    },
    // 產生查詢物件
    getQueryObj() {
      let request = null
      if (this.queryType && this.queryType!='all') {
        request = {
          Terms: this.queryType
        }
      }
      if (this.queryUse && this.queryUse!='all') {
        if (request) {
          request.Used = this.queryUse
        } else {
          request = {
            Used: this.queryUse
          }   
        }
      }
      return request
    },
    clickOrderNo(item, index) {
      item.readMore=!item.readMore

      if (item.readMore) {
        // 一開始先清空
        store.commit('setOneOrderDetail', null, index)
        store.dispatch('fetchOneOrderByOrderNo', {
          requestBody: {
            "OrderNo": item.OrderNo
          },
          arrayIndex: index
        })
      }
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行

    store.dispatch('fetchAppPublicDataMemberWuhu')
    store.dispatch('fetchMemberConsumerPointsDataWuhu', null)

    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>
<style scoped>
.cp-table th,
.cp-table td {
  padding: 8px
}
.cp-table .open-order-list > td {
  border-bottom : none;
}
.cp-table .open-order-list + .order-list table td {
  padding: 4px 8px;
  border-bottom : none;
}
</style>