<template>
  <div :class="{'has-background-light':($route.fullPath.indexOf('hotel') > 0 || $route.fullPath.indexOf('clean') > 0 || $route.fullPath.indexOf('mine') > 0)}" style="min-height:100%;padding:.1px">
    <div class="w3-container w3-padding-8 w3-sand w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }" @click="bookingType=''"> 
      {{$route.query.type==null?'會員專屬 - 預約服務':''}}
      {{$route.query.type=='hotel'?'特約飯店訂房服務':''}}
      {{$route.query.type=='clean'?'潔力屋清潔服務':''}}
      {{$route.query.type=='mine'?'我的預約':''}}
    </div>
    <div class="text-center" v-if="$route.query.type==null">
      <span class="d-inline-block has-background-light rounded-circle mt-4 mb-5 p-4">
        <img src="../../assets/images/preOrder.svg" class="" style="height:4.5rem;">
      </span>
      <div class="w3-display-container" style="background: linear-gradient(0deg, #fff 50%, #e6f8ff 100%);height:50vh;padding-top:64px">
        <!--
        <button class="button is-large is-success is-rounded w3-display-topmiddle"
          style="width:260px;margin-top:-30px;border-width:2px"
          @click="$router.push({ path: '/bookingMine' })">
          <i class="fas fa-user fa-sm mr-2"></i> 我的預約
        </button>
        <button class="shadow button is-large is-info is-rounded m-2" style="width:260px" @click="$router.push({ path: '/bookingClean' })">潔力屋 - 服務預約</button>
        <button class="shadow button is-large is-info is-rounded m-2" style="width:260px" @click="$router.push({ path: '/bookingHotel' })">特約飯店訂房</button>
        -->
        <button class="button is-large is-success is-rounded w3-display-topmiddle"
          style="width:260px;margin-top:-30px;border-width:2px"
          @click="$router.push({ path: '/bookingMine' })">
          <i class="fas fa-user fa-sm mr-2"></i> 我的預約
        </button>
        <button class="shadow button is-large is-info is-rounded m-2" style="width:260px" @click="$router.push({ path: '/bookingClean' })">潔力屋 - 服務預約</button>
        <button class="shadow button is-large is-info is-rounded m-2" style="width:260px" @click="$router.push({ path: '/bookingHotel' })">特約飯店訂房</button>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      selectedDate: '',
      remarkClean: '',
      remarkHotel: '',
      addrs: '',
      editAddrs: true,
      range: {},
      singleDate: {}
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  // 頁面模組
  methods: {

  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchAppPublicDataPointWuhu')
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>