<template>
  <div class="h-100" v-if="mallData.isCarUI!=undefined">
    <!-- 頂大類選單 -->
    <div class="border-bottom top-nav-bg top-nav-inner">
      <!-- <img src="../../assets/images/search.svg" class="w3-opacity align-top mt-1" style="height:48px;padding:8px"> -->
      <nav class="topnav-container py-1 px-2 position-relative w-100" :style="{ fontSize: fontSizeBase*20 + 'px' }" v-if="$route.query.type==null">
        <div class="topnav-item position-relative" v-for="(item, index) in $store.state.mallData.foodkind2" :class="{'is-active':(index==$route.query.kind2Index)}" v-show="haveKind(index)" :key="index" :id="'kind2Index'+index" @click="goKind(index)">
          <span class="position-relative" style="z-index:1">{{item.Name}}</span>
        </div>
      </nav>
    </div>
    <!-- 商品分類 -->
    <div style="height:calc(100% - 58px)" v-if="$route.query.type==null">
      <!-- 歡迎提示 <div class="w3-sand w3-text-brown is-size-6 py-2 text-center">歡迎加入龍海生活家!!</div> -->
      <div class="h-100">
        <div class="columns is-mobile is-variable is-0 mt-0 h-100">
          <!-- 左欄類別項目 -->
          <div class="column is-3 pt-0 w3-light-gray scroll-touch position-relative" style="height: 100%; padding-bottom: 4.25rem;">
            <ul class="w3-ul w3-text-gray m-0 p-0" style="line-height: 1.25;" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-scroll-spy-active="{class:'spyActive'}" v-scroll-spy-link="{selector: 'li'}">
              <li class="w3-border-0 w3-padding-16 px-2" v-for="(itemType, typeIndex) in mallData.kind" :key="'leftKind'+typeIndex" :id="'spyScrollLink'+ typeIndex">
                <!-- 加入購物籃數字 -->
                <div v-if="mallData.kindQty[itemType.ID] && mallData.kindQty[itemType.ID] > 0 && false" class="w3-right w3-badge w3-red item-badge">{{mallData.kindQty[itemType.ID]}}</div>
                {{itemType.Name}}
              </li>
            </ul>
          </div>
          <!-- 右欄類別商品項目 -->
          <div class="column is-9 pt-0 scroll-touch" style="position: relative; height: 100%; padding-bottom: 4.25rem;" v-scroll-spy="{data: 'spySection', offset:108, time: 0, steps: 1}">
            <section v-for="(itemType, typeIndex) in mallData.kind" :key="'kind'+typeIndex" v-show="mallData.isCarUI!=undefined"><!-- v-show="itemType.foods && itemType.foods.length > 0"-->
              <div class="p-2 border-bottom spySectionActive" style="background-image: linear-gradient(to right, rgb(241, 241, 241), rgb(255, 255, 255));" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <div class="columns is-mobile is-gapless is-vcentered">
                  <div class="column">{{itemType.Name}}</div>
                  <div class="column is-narrow">
                    <div class="field has-addons">
                      <p class="control mb-0">
                        <button class="button py-1 px-2 h-auto" :class="[(mallData.sortPriceType=='sp1')?'is-light is-info is-outlined':'has-background-white-bis']" @click="$store.commit('setSortPriceType', 'sp1');">
                          <i class="fas fa-dollar-sign mr-1"></i>
                          <span>低到高</span>
                        </button>
                      </p>
                      <p class="control mb-0">
                        <button class="button py-1 px-2 h-auto" :class="[(mallData.sortPriceType=='sp2')?'is-light is-info is-outlined':'has-background-white-bis']" @click="$store.commit('setSortPriceType', 'sp2')">
                          <i class="fas fa-dollar-sign mr-1"></i>
                          <span>高到低</span>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
                <div class="px-2 py-3">
                  <article class="media"
                    v-for="(item, itemIndex) in sortPrice(itemType.foods)"
                    :key="'item'+itemIndex" @click="item_click(item,undefined,typeIndex,itemIndex)"                    
                  >
                    <!-- 資料結構預載動畫 -->
                    <div class="skeleton-container" v-if="item.Name == '...'">
                      <div class="skeleton">
                        <div class="avatar"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line price"></div>
                      </div>
                    </div>
                    <div class="media-left mr-2" v-show="item.Name !== '...'">
                      <figure class="image is-1by1 m-0 image-rwd">
                        <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">
                        <img :src="foodSrc(item.ID)" :alt="item.Name">-->
                        <!-- <img v-lazy="showImageWuhu(item.PIC1)" :key="showImageWuhu(item.PIC1)" class="has-background-white-ter" :alt="item.Name"> -->
                        <img :src="showImageWuhu(item.PIC1)" :key="showImageWuhu(item.PIC1)" class="has-background-white-ter" :alt="item.Name">
                        <span v-if="toDecimal(item.ShowQty) > 0" class="w3-display-centerbottom is-size-7 px-1 tag is-warning shadow" style="transform:translateY(-16px);min-width:64px">限量 {{item.ShowQty}} 組</span>
                      </figure>
                    </div>
                    <div class="media-content" v-show="item.Name !== '...'">
                      <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                        <p><b>{{item.Name}}</b></p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                            <small>NT$ </small>
                            <b>{{item.Price1}}</b>
                            <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                          </div>
                        </div>
                        <div class="level-right">
                          <!-- 數量,不能有加減項,因為有規格問題 -->
                          <span class="numSpinner" v-if="mallData.isCarUI!=undefined && !item.Stop">
                            <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" v-if="false">
                              <i class="fas fa-minus"></i>
                            </button>
                            <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" :value="mallData.foodQty[item.MainID]" v-if="mallData.foodQty[item.MainID] > 0">
                            <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge circle-button-small" @click.stop="item_click(item,true,typeIndex,itemIndex)">
                              <i class="fas fa-plus"></i>
                            </button>
                          </span>
                          <button class="button  has-background-grey-lighter py-1 h-auto" v-else>停售</button>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </section>
            </div>
          </div>
        </div>

      <!-- 半透明遮罩 -->
      <transition name="slide-fade">
        <div class="fixed-top w-100 h-100" style="z-index: 999;background-color: rgba(10,10,10,0.86)"  v-if="isTypeModal=='bill'||isTypeModal=='spec'" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
      </transition>
      <transition name="slide-top">
        <!-- 結帳BAR明細 -->
        <div class="w3-bottom w3-card-4 w3-white bill" style="z-index:1000" v-if="isTypeModal=='bill'">
          <div class="w3-container">
            <p class="w3-margin-8 w3-large w3-center">結帳明細
              <span class="w3-padding w3-display-topright" @click="isTypeModal='';$store.commit('setCssTouch', true)"><i class="fas fa-times"></i></span>
            </p>
            <div class="w3-stretch w3-container w3-right-align w3-light-gray w3-padding-large w3-opacity" @click="deleteAll()">
              <i class="fas fa-trash-alt"></i> 清空明細
            </div>
          </div>
          <div class="container scroll-touch">	
            <!-- 商品項目 -->
            <div class="px-2 py-3">
              <article class="media" v-for="(item, iIndex) in mallData.shopping_cart" :key="iIndex">
                <div class="media-left mr-2">
                  <figure class="image  is-1by1 m-0 image-rwd">
                    <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                    <!-- <img v-lazy="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt=""> -->
                    <img :src="showImageWuhu((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter" alt="">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content h-auto" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                    <p><b>{{item.FoodName}}</b></p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <div  :style="{ fontSize: fontSizeBase*16 + 'px' }">
                        <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                        <div class="w3-text-red"><small>NT$ </small><b>{{item.Total}}</b></div>
                      </div>                      
                    </div>
                    <small class="mx-2">{{item.Taste}}</small>
                    <div class="level-right">
                      <!-- 數量 -->
                      <span class="numSpinner">
                        <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" @click="delItem(item)">
                          <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" :value="item.Count">
                        <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge circle-button-small" @click="addItem(item)">
                          <i class="fas fa-plus"></i>
                        </button>
                      </span>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
        </div>

        <!-- 選規格 -->
        <div class="fixed-top flex-center h-100" style="z-index:1000" v-if="isTypeModal=='spec'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
          <div class="w3-modal-content w3-card-4 w3-round spec-modal">
            <div class="w3-container">
              <p class="w3-margin-8 w3-center text-elps" :style="{ fontSize: fontSizeBase*16 + 'px' }">{{mallData.nowItem.Name}}
                <span class="w3-medium w3-padding w3-display-topright" @click="isTypeModal='';$store.commit('setCssTouch', true)"><i class="fas fa-times"></i></span>
              </p>
              <div class="w3-container w3-stretch spec-content scroll-touch" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                <div>
                  <p class="w3-section-8">規格名稱
                    <span v-show="false">可選數量：1</span>
                  </p>
                  <div>
                    <span class="ck-box" v-for="(item, iIndex) in mallData.nowItem.style" :key="'chisty'+iIndex">
                      <input :id="item.ID" type="radio" name="項目" class="ck-button w3-hide" v-bind:value="iIndex" v-model="styleIndex">
                      <label :for="item.ID">{{item.Name}}</label>
                    </span>        
                  </div>
                </div>
                <p class="w3-section-8 mb-0" v-show="false">備註</p>
                <input type="text" placeholder="請輸入文字說明" class="w3-input" v-show="false">
              </div>
              <footer class="w3-stretch w3-container w3-light-gray w3-padding-16">
                <div class="w3-cell-row">
                  <div class="w3-cell w3-cell-middle">
                    <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                      <small>NT$ </small>
                      <!-- <b>{{mallData.nowItem.Price}}</b> -->
                      <b>{{(styleIndex > -1 && mallData.nowItem.style.length > styleIndex?mallData.nowItem.style[styleIndex]["Price1"]:mallData.nowItem.Price)}}</b>
                    </div>
                  </div>
                  <div class="w3-cell w3-cell-middle w3-right-align">
                    <span class="numSpinner">
                      <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" :disabled='Qty < 2' @click="Qty--">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" :value="Qty">
                      <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge circle-button-small" @click="Qty++">
                        <i class="fas fa-plus"></i>
                      </button>
                      <button class="w3-small w3-padding w3-blue w3-hover-blue w3-button w3-round-xxlarge ml-3">
                        <span class="w3-large" @click="addToCart()">放入購物車</span>
                      </button>
                    </span>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        </div>

      </transition>

      <!-- 結帳BAR -->
      <div class="w3-bottom" style="margin-bottom: 0.5rem;padding: 0 1rem" :style="{'z-index':(isTypeModal=='spec') ? '998':'1001' }">
        <div class="w3-content w3-black w3-round-xxlarge w3-card-4 p-2 pl-4" style="max-width: 400px; line-height: 24px;">
          <div class="w3-cell-row">
            <div class="w3-cell" @click="isTypeModal='bill';$store.commit('setCssTouch', false)">
              <div class="w3-display-container d-inline-block">
                <span class="d-inline-block align-middle" :class="[(cartQty(mallData.kindQty)==0)?'w3-opacity-max':'cart-bounceIn']">
                  <img src="../../assets/images/cart_w.svg" style="height:2.25rem;margin-top:-4px">
                </span>
                <!-- 加入購物籃數字 -->
                <transition name="slide-up" mode="out-in">
                  <div class="w3-display-topright w3-badge w3-red item-badge" v-if="cartQty(mallData.kindQty) != 0" :key="cartQty(mallData.kindQty)">{{cartQty(mallData.kindQty)}}</div>
                </transition>
              </div>
              <span class="ml-2">
                總共 <span class="w3-tiny">NT$ </span> 
                <transition name="slide-up" mode="out-in">
                  <span class="d-inline-block w3-large w3-text-amber" :key="totalAmount()">
                    <b>{{totalAmount()}}</b>
                  </span>
                </transition>
              </span>
            </div>
            <div class="w3-cell w3-right-align">
              <div class="w3-blue w3-round-xxlarge d-inline-block" style="padding: 0.5rem 1rem" @click="$router.push('/shopCart')">結帳去</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 商品頁 -->
    <div style="padding-bottom:54px" v-if="$route.query.type=='product' && (Object.keys(mallData.nowItem)).length > 0">
      <!-- 輪播 Banner -->
      <div class="text-center has-background-white-ter" style="margin-top: 0px!important;">
        <!-- 無圖時 -->
        <img v-if="mallData.nowItem.PIC1 ==''" src="../../assets/images/img_init.gif">
        <swiper ref="awesomeSwiperA" :options="swiperOptionA">
          <!-- slides -->
          <swiper-slide v-if="mallData.nowItem.PIC1 !=''">
            <!-- 圖 -->
            <img :src="showImageWuhu(mallData.nowItem.PIC1)" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </swiper-slide>
          <swiper-slide v-if="mallData.nowItem.PIC2 !=''">
            <!-- 圖 -->
            <img :src="showImageWuhu(mallData.nowItem.PIC2)" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </swiper-slide>
          <swiper-slide v-if="mallData.nowItem.PIC3 !=''">
            <!-- 圖 -->
            <img :src="showImageWuhu(mallData.nowItem.PIC3)" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </swiper-slide>
          <swiper-slide v-if="mallData.nowItem.PIC4 !=''">
            <!-- 圖 -->
            <img :src="showImageWuhu(mallData.nowItem.PIC4)" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </swiper-slide>
          <swiper-slide v-if="mallData.nowItem.PIC5 !=''">
            <!-- 圖 -->
            <img :src="showImageWuhu(mallData.nowItem.PIC5)" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
          </swiper-slide>
          <!-- Optional controls -->
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </div>
      <!-- 置底固定結帳按鈕 -->
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" v-if="!isSelectStyle() || checkStock()">
        <div class="column py-1">
          <button class="button is-link is-outlined is-fullwidth is-light is-medium" @click="addToCart()">放入購物車</button>
        </div>
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="addToCart(true)">直接購買</button>
        </div>
      </div>
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" v-if="isSelectStyle() && !checkStock() || mallData.nowItem.Stop">        
        <div class="column py-1">
          <button class="button is-outlined is-fullwidth is-medium has-background-grey-lighter">{{mallData.nowItem.Stop?'停  售':'銷售一空'}}</button>
        </div>
      </div>
      <div class="p-3">
        <span v-if="mallData.nowItem.ShowQty" class="tag is-medium is-warning">限量 {{mallData.nowItem.ShowQty}} 組</span>
        <!--<h3 class="my-3" :style="{ fontSize: fontSizeBase*22 + 'px' }">【新機上市★N95口罩等級濾淨原理】3M FA-E180 淨呼吸倍淨型空氣清淨機(適用6-14坪空間)</h3>-->
        <h3 class="my-3" :style="{ fontSize: fontSizeBase*22 + 'px' }">{{mallData.nowItem.Name}}</h3>
        <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <!-- 商品簡述：100個中文字以內 -->
          <b class="d-block  mb-2">商品簡述：</b>
          <span class="d-block white-space-wrap">{{mallData.nowItem.Remark.replace(/"/g, "")}}</span>
          <!-- <span class="d-block">
            ● 10分鐘有效濾淨99.9%PM2.5<br>
            ● 3.3分鐘產出20000公升乾淨空氣<br>
            ● 提升2倍累計淨化量、續航力<br>
            ● 可用手機APP遠端監控<br>
            ● 超節能，一天電費僅1.76元
          </span>-->
        </p>
        <div class="columns is-mobile is-variable is-1 is-multiline mb-0">
          <div class="column">
            <div class="w3-text-red w3-xlarge">
              <span class="w3-medium">NT$ </span>
              <!-- <b>{{mallData.nowItem.Price1}}</b> -->
              <b>{{(styleIndex > -1 && mallData.nowItem.style.length > styleIndex?mallData.nowItem.style[styleIndex]["Price1"]:mallData.nowItem.Price1)}}</b>
              <span class="w3-medium" v-if="mallData.nowItem.Unit!=''">/{{mallData.nowItem.Unit}}</span>
              <!-- <del class="ml-2 has-text-grey-light is-size-5">{{mallData.nowItem.Price}}</del> -->
              <del class="ml-2 has-text-grey-light is-size-5">{{(styleIndex > -1 && mallData.nowItem.style.length > styleIndex?mallData.nowItem.style[styleIndex]["CurPrice"]:'')}}</del>
            </div>
          </div>
          <div class="column is-narrow text-right">
            <!-- 數量 -->
            <span class="numSpinner">
              <!-- 數量 -->
              <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" :disabled='Qty < 2' @click="Qty--">
                <i class="fas fa-minus"></i>
              </button>
              <!-- <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" :value="Qty"> -->
              <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="text-center rounded is-size-5 mx-2 has-background-white-bis to-fill" @input="checkValue" v-model.number="Qty">
              <!-- <input type="number" class="w3-border-0 w3-center" v-model.number="Qty" style="width:50px"> -->
              <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge circle-button-small" @click="Qty++">
                <i class="fas fa-plus"></i>
              </button>
            </span>
          </div>
          <div class="column is-full" v-if="!isHideStyle()">
            <p class="mb-2"><b>規格：</b></p>
            <span class="ck-box" v-for="(item, iIndex) in mallData.nowItem.style" :key="'substy'+iIndex">
              <input :id="item.ID" type="radio" name="color" class="ck-button w3-hide" v-bind:value="iIndex" v-model="styleIndex">
              <label :for="item.ID">
                {{item.Name}}
              </label>
            </span>
          </div>
          <!--
          <div class="column is-full" v-for="(itemStyle, sIndex) in mallData.nowItem.style" :key="'style'+sIndex">
            <p class="mb-2"><b>{{itemStyle.Name}}：</b></p>
            <span class="ck-box" v-for="(item, iIndex) in itemStyle.type" :key="'substy'+iIndex">
              <input :id="item.ID" type="radio" name="color" class="ck-button w3-hide" value="">
              <label :for="item.ID">
                {{item.Name}}
              </label>
            </span>
          </div>
          -->
        </div>
        <!-- 折扣
        <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <b>適用活動：</b>
          <span class="pt-2 d-block">
            <span class="tag is-warning is-medium mr-2">折價券</span>
            NT$100 折價券
          </span>
        </p> -->
        <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <b>商品編號：</b>{{(styleIndex > -1 && mallData.nowItem.style.length > styleIndex?mallData.nowItem.style[styleIndex]["ID"]:'')}}
        </p>
        <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <!-- <b>庫存：</b>{{mallData.nowItem.CurStock}} 組 -->
          <b>庫存：</b>{{(styleIndex > -1 && mallData.nowItem.style.length > styleIndex?mallData.nowItem.style[styleIndex]["CurStock"]:'0')}} {{(mallData.nowItem.Unit!=''?mallData.nowItem.Unit:'組')}}
          <span class="has-text-danger ml-2" v-show="mallData.nowItem.MaxCount!='' && mallData.nowItem.MaxCount!='0'">* 每人限購 {{mallData.nowItem.MaxCount}} {{(mallData.nowItem.Unit!=''?mallData.nowItem.Unit:'組')}}</span>
        </p>
        <!-- Tabs  -->
        <div class="tabs is-medium is-centered bg-white sticky-top w3-stretch" :style="{ fontSize: fontSizeBase*20 + 'px' }">
          <ul class="m-0">
            <li :class="{'is-active':(tabIndex=='tab01')}" @click="tabsIntoView('tab01')"><a style="text-decoration:none">詳情</a></li>
            <li :class="{'is-active':(tabIndex=='tab02')}" @click="tabsIntoView('tab02')"><a style="text-decoration:none">運送方式&說明</a></li>
          </ul>
        </div>
        <!-- 詳情：簡易HTML編輯器(圖/文) -->
        <section class="border-bottom pb-3" id="tab01" v-html="mallData.nowItem.Note" :style="{ fontSize: fontSizeBase*16 + 'px' }"></section>
        <!-- <section class="text-center w3-stretch" id="tab01">
          <iframe style="width:100vw;height: 56.25vw;" src="https://www.youtube.com/embed/w15_ebf24BI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <figure class="m-0">
          <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/0.jpg?ts=142747">
          </figure>
          <figure class="m-0">
          <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/1.jpg?ts=142747">
          </figure>
          <figure class="m-0">
          <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/3.jpg?ts=142747">
          </figure>
          <figure class="m-0">
          <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/4.gif?ts=142747">
          </figure>
        </section>-->
        <section id="tab02" v-show="mallData.foodFreight[mallData.nowItem.PYCode]">
          <!-- 運送方式 -->
          <div class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <b>運送方式：</b>
            <div class="columns is-mobile is-variable is-2 pt-2">
              <div class="column is-narrow">
                {{(mallData.foodFreight[mallData.nowItem.PYCode]["Name"])}}
              </div>
              <div class="column">
                <div v-for="(frei, freiIndex) in mallData.foodFreight[mallData.nowItem.PYCode]['items']" :key="'frei'+freiIndex">{{frei.text}}</div>
              </div>
            </div>
          </div>
          <!-- 規格說明：500個中文字以內 -->
          <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <b>說明：</b>
            <span class="pt-2 d-block white-space-wrap">
              {{mallData.nowItem.Spec.replace(/"/g, "")}}
              <!-- 品名：<br> 
              型號：<br> 
              額定輸入：<br> 
              消耗功率：<br> 
              產品尺寸：<br> 
              產地：  -->
            </span>
          </p>
        </section>
      </div>
    </div>

  </div>

</template>

<script>
  import store from 'src/store'
  import Vue from 'vue'
  import Scrollspy from 'vue2-scrollspy'
  Vue.use(Scrollspy);

  import VueAwesomeSwiper from 'vue-awesome-swiper'
  import 'swiper/dist/css/swiper.css'
  import { incNumber,foodSrc,cartQty,decNumber,delItem,addItem,totalAmount,getFoodmarket,getFoodmarketDetail,cleanCart,toDecimal,reloadShopType,chkTypeInt,sortPrice } from 'src/libs/market.js'
  // import fetchData from '../../libs/fetchData.js'
  import { showConfirm, hideModal,showAlert,showImageWuhu,showToast } from 'src/libs/appHelper.js'

  export default {
    components: {
      // BANNER輪播
      Swiper: VueAwesomeSwiper.swiper,
      SwiperSlide: VueAwesomeSwiper.swiperSlide
    },
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        // BANNER輪播
        swiperOptionA: {
          lazy: true,
          pagination: {
            el: '.swiper-pagination'
          },
        },
        isTypeModal: '', // 選規格&結帳明細
        allCount: 1,
        allAmount: '8,999',
        spySection: 0,
        styleIndex: -1,  //現在所選規格
        tabIndex: 'tab01',
        Qty:1, //預設要加到購物車的數量
        lastQty:1, //上一次購物車的數量
        prepareKind:[], //準備要撈的小類品項IDs
        isSortPrice: '', //價格排序
        listenEL:null,
        prepareKindObj:{},
        isLoadScrollTop:false, //是否撈上一次的ScrollTop
      };
    },
    computed: {
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return store.state.mallData;
      },
      mallNowItem() {
        return store.state.mallData.nowItem;
      },
      currentMallData() {
        const kinds = this.$store.state.mallData.kind.filter(p_kind=>{
          return p_kind.foods && p_kind.foods.length > 0;
        });
        return kinds;
        
      },
    },
    beforeDestroy(){      
      window.removeEventListener('scroll', this.listenerType,true);
      
    },
    props: {
      el: String
    },
    mounted() {
      // 监听滚动事件
      window.removeEventListener('scroll', this.listenerType,true);      
      window.addEventListener('scroll', this.listenerType, true);
    },
    // 頁面模組
    methods: { 
      incNumber,
      cartQty,
      foodSrc,
      decNumber,
      delItem,
      addItem,
      totalAmount,
      showImageWuhu,
      sortPrice,
      toDecimal,
      listenerType(el){        
        var elTmp = el.srcElement.children || el.target.children;
        const p_tag = "section";
        var isSection = elTmp.length > 0 && ((elTmp[0]["nodeName"]).toLowerCase() == p_tag || (elTmp[0]["localName"]).toLowerCase() == p_tag || (elTmp[0]["tagName"]).toLowerCase() == p_tag);
        if (isSection && this.$route.query.goto!=undefined && this.$route.query.type==undefined && Array.isArray(this.mallData.kind)){
          this.listenEL =  el.srcElement || el.target;
          
          if (this.isLoadScrollTop){
            this.listenEL.scrollTop = store.state.mallData.mallScrollTop
            this.isLoadScrollTop = false;  
          }
          var st = el.srcElement.scrollTop || el.target.scrollTop; 
 
          this.$store.commit('setShoplistenELe', this.listenEL)
          this.$store.commit('setMallScrollTop', st);//提供第scrollTop<=3才能刷新
          var tta = el.srcElement.children || el.target.children;
          var scollHt = el.srcElement.clientHeight || el.target.clientHeight;
          for (var j = 0, len = tta.length; j < len; j++) {
            var chiBot = (tta[j]).getBoundingClientRect().bottom;
            var chiTop = (tta[j]).getBoundingClientRect().top;            
            var isBottomLoad = (chiBot > 108 && chiBot < scollHt);
            var isTopLoad = (scollHt-chiTop > -36 && chiTop > -1);  //-36保守讓kiosk可撈到畫面已出現小類待出品項
           
            if (this.mallData.kind.length > j){
              var isLocal = this.spySection != j && !this.mallData.kind[j]["isLoad"] && (isTopLoad || isBottomLoad)
              if (isLocal && this.prepareKindObj.ID != this.mallData.kind[j]["ID"]){
              
                this.prepareKindObj = {ID:this.mallData.kind[j]["ID"],index:j};
                
              }

            }
              
          }  
          
        }
      },
      // 類別右側定位
      isSelectStyle(){
        return this.styleIndex > -1 && this.mallData.nowItem.style.length > this.styleIndex;
      },
      checkValue(e){
        // console.log("Qty>>",e.target.value,"*",this.lastQty);
        if (e.target.value < 0 || e.target.value.indexOf('-') > -1 || e.target.value.indexOf('0') == 0) {this.Qty=this.lastQty;}
        else if(toDecimal(e.target.value)>999){this.Qty=this.lastQty;showToast('數值填入過大,修正為:'+this.Qty);}
        else {this.lastQty=e.target.value}
      },
      runPrepareKind(){        
        if (this.prepareKind.length > 0) {
          var lastIndex = this.prepareKind.length - 1;          
          getFoodmarket(this.prepareKind[lastIndex]["ID"],this.prepareKind[lastIndex]["index"],()=>{  
            // this.$store.commit('turnShopCart');  
            if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll
            if (this.prepareKind.length > lastIndex) this.prepareKind.splice(lastIndex,1);
          }); 

          
        }
      },
      
      haveKind(p_index){
        var isOk = false;
        var kind=[]
        if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {
          kind = store.state.mallData.foodkind.filter(p_kind=>{  
            return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
          });
          isOk = (kind.length > 0);
        }
        return isOk;
      },
      triggerScrollAct() {
        this.prepareKind = []; 
        this.$nextTick(()=>{     
              
          // if (index!=undefined) return this.$scrollTo(index)  //或計要回到上(下)一個
        })
      },
      spyScrollAct() {
        this.$nextTick(()=>{          
          if (this.$route.query.goto!=undefined) this.$store.state.mallData.spyIndex = this.$route.query.goto;
          if(this.$route.fullPath.includes('?goto')) {
            this.isLoadScrollTop = true;
            
            return this.$scrollTo(this.$route.query.goto);
          }
          // if(this.$route.fullPath.includes('?goto')) return this.$scrollTo(this.spySection)
          
        })
      },
      scrollTopAct() {        
        this.$nextTick(()=>{
          if (this.listenEL) {            
            this.listenEL.scrollTop = store.state.mallData.mallScrollTop;
            console.log(this.listenEL.scrollTop,"mallScrollTop>>",store.state.mallData.mallScrollTop);
          }
          
        })
      },
      
      // 類別右側定位
      spyScrollLinkAct() {
        this.$nextTick(()=>{
          // console.log("spyScrollLink",this.spySection);
          let anchorId = 'spyScrollLink' + this.spySection
          
          let anchorEl = document.getElementById(anchorId)
          
          if (anchorEl) anchorEl.scrollIntoView()
        })
      },
      // 商品內容Tabs定位
      tabsIntoView(elId) {
        this.tabIndex = elId
        let El = document.getElementById(elId)
        El.scrollIntoView()
      },
      isHideStyle(){
        if (!this.mallData.nowItem.style) return false;
        return (this.mallData.nowItem.style.length === 1 && this.mallData.nowItem.style[0]["isNoStyle"]);
      },
      item_click(p_item,isSpec,kIndex,fIndex){               
        this.Qty = 1; //預設數量
        this.$store.state.mallData.nowItem = p_item;
        var isLoad=true;
        if (isLoad){
        // if (!p_item.isLoad){
          getFoodmarketDetail(p_item.MainID,kIndex,fIndex,(p_food)=>{             
            this.$store.state.mallData.nowItem = p_food;            
            this.item_ok(isSpec);
          });
        }else{
          this.item_ok(isSpec);
        }
      },
      item_ok(isSpec){        
        if (isSpec) {
          this.styleIndex = -1;
          if (this.mallData.nowItem.style.length == 1) this.styleIndex = 0; //若規格只有1筆,則預設選它
          if (this.isHideStyle()){
            this.addToCart();             
            return;
          } 
          
          this.isTypeModal = 'spec'
          this.$store.commit('setCssTouch', false) // 修正手機端遮罩層bug
          
          
        } else { 
          if (this.$route.query.kind2Index!=undefined){
            this.$router.push({ path: '/shopType', query: { type: 'product',from:'subKind',goto:this.spySection,kind2Index: this.$route.query.kind2Index  } });
          }else{
            this.$router.push({ path: '/shopType', query: { type: 'product',from:'subKind',goto:this.spySection } });
          }
          
        }
      },
      deleteAll(){
        showConfirm("是否清除購物車", '確定', '取消')
        // 點擊確認執行
        .then(() => { 
          cleanCart(()=>{
            hideModal(); 
            this.$store.state.mallData.shopping_cart.map(p_cart=>{
              this.$store.state.mallData.foodQty[p_cart.MainID] = 0;
              this.$store.state.mallData.kindQty[p_cart.KindID] = 0;
            });
            this.isTypeModal='';
            this.$store.state.mallData.shopping_cart=[]; 
            this.$store.state.mallData.shopOrderTmp={Total:0};
            //showToast('購物車已變更');
          });
          
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => hideModal())
      },
      checkStock(){
        var isIndexStyle = this.styleIndex > -1 && this.mallData.nowItem.style.length > this.styleIndex;  
        var int_curStock = chkTypeInt(isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["CurStock"]:0);//庫存
        return int_curStock > 0;
      },
      addToCart(isGoCart){
        if (this.styleIndex < 0 || this.mallData.nowItem.style.length <= this.styleIndex) {showAlert("請選擇規格!"); return;}
        var isIndexStyle = this.styleIndex > -1 && this.mallData.nowItem.style.length > this.styleIndex;
        this.mallData.nowItem.styleFoodID = (isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["ID"]:'');
        this.mallData.nowItem.Taste = (isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["Name"]:''); //規格名稱
        this.mallData.nowItem.Price1 = (isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["Price1"]:'');//規格價格
        this.mallData.nowItem.CurPrice = (isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["CurPrice"]:'');//規格原價
        
        if (!this.checkStock()) {showAlert("商品已無庫存!"); return;}

        if (isGoCart){
          incNumber(this.mallData.nowItem,this.Qty,()=>{
            this.valInit();
            this.$router.push('/shopCart')  
          });
        }else{
          incNumber(this.mallData.nowItem,this.Qty);
          this.valInit();
        }
        
        
        // if(isGoCart) this.$router.push('/shopCart')
      },
      valInit(){        
        this.styleIndex = -1;
        if (this.$route.query.type=='product' && this.mallData.nowItem.style.length == 1) this.styleIndex = 0;
        this.isTypeModal='';
        this.$store.commit('setCssTouch', true);
      },    
      goKind(p_index,sub_index){
        if (sub_index == undefined) sub_index=0;
        this.prepareKindObj={};
        if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {        
          store.state.mallData.kind = store.state.mallData.foodkind.filter(p_kind=>{  
              return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
            });
        }
        
        if (store.state.mallData.kind.length == 0) {showToast('無類別');return;} 
        store.state.mallData.kind.map((p_kind,kIndex)=>{
          // if (kIndex == sub_index) getFoodmarket(p_kind.ID,kIndex,()=>{  //this.mallData.kind[kIndex]["ID"]
            //改到shoptype==>beforeRouteEnter
          //   if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
          //   // this.$router.replace({ path: '/shopType', query: { goto: 0,kind2Index: index} })
          // });
          
          var tmpFoods=[];
          for (var i = 0; i < 17; i++) {
            tmpFoods.push({Name:"..."}); //為了讓點餐頁類別可以置頂
            
          }
          if (kIndex != sub_index && !p_kind.isLoad) p_kind.foods = tmpFoods;
          
        });
        if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index,reload:'yes'} })
      }
      
    },
    beforeRouteUpdate: function (to, form, next) {
      reloadShopType(to);  
      if (to.query != null && to.query.reload === 'yes') store.dispatch("fetchMallKindData",to.query)
      next()
    },
    // 在路由刷新前
    beforeRouteEnter: function (to, form, next) {           
      reloadShopType(to); 
      store.commit('setSortPriceType', '');
      if (((form.path === "/shop" && to.query.reload === 'yes') || form.path === "/shopType") && to.query != null) store.dispatch("fetchMallKindData",to.query)

      next(vm=>{
        vm.spyScrollAct();
      })
      // next((vm) => { // vm is the Vue instance
      //   vm.valInit();
        
      // })
     
    },
    beforeRouteLeave: function(to, form, next){
      this.isTypeModal = ''
      // 消滅此 instance
      this.$destroy()
      next()
    },
    // 建立頁面後
    created: function () { 
      
      this.spyScrollAct()      
      if (this.$route.query.type=='product' && this.mallData.nowItem.style && this.mallData.nowItem.style.length == 1) this.styleIndex = 0;

      // Nav橫向捲動到位
      this.$nextTick(()=>{        
        let El = document.querySelector('.topnav-container')
        let navItem = document.getElementById('kind2Index'+this.$route.query.kind2Index)
        if (El && navItem) El.scrollLeft = navItem.getBoundingClientRect().left -16
      })

  
    },
    watch: {
      '$route' () {        
        this.spyScrollAct();
        this.tabIndex = 'tab01'
        this.styleIndex = -1;
        if (this.$route.query.type=='product' && this.mallData.nowItem.style.length == 1) this.styleIndex = 0;
      },
      spySection(kIndex){   
        // if (this.mallData.isLoadKind2) {store.state.mallData.isLoadKind2=false;this.spySection=0;}
        //console.log("rrrr",kIndex);
        var isLoading = this.prepareKindObj.ID == this.mallData.kind[kIndex]["ID"]
        if (!this.mallData.kind[kIndex]["isLoad"] && !isLoading) {
          getFoodmarket(this.mallData.kind[kIndex]["ID"],kIndex,()=>{ 
            if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll
            this.$store.commit('turnShopCart');//觸發UI更新用          
          });
        }
        
        this.$store.state.mallData.spyIndex = kIndex;       
      },
      mallNowItem(){
        
        if (!this.mallData.nowItem.style) {
          // showAlert("此商品已下架或不存在a");return this.$router.go(-1)
        }else{
          this.valInit();
        }
        
      },
      prepareKind(){   
        this.runPrepareKind()     
        // setTimeout(() => this.runPrepareKind(), 100);
      },
      prepareKindObj(p_obj){
        if (p_obj.ID) getFoodmarket(p_obj.ID,p_obj.index,()=>{  
          this.prepareKindObj={};
          if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll2
          
        }); 
      }
    }
  }
</script>

<style scoped>
  .spySectionActive {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1;
    border-color: #e5e5e5 !important;
  }
  .spyActive {
      background: white;
      color: black !important;
  }
  .item-badge {
      height: 1.5rem;
      line-height: 1.5rem;
      min-width: 1.5rem;
      border-radius: .75rem;
      padding: 0 .25rem;
      margin: -1rem -.75rem;
  }
  .scrollspy-container li + li {
      margin-top: 0;
  }
  .twoline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
  }
  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all .15s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  }
  .slide-up-leave {
    opacity: 1;
    transform: translateY(0rem);
  }
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(.75rem);
  }
  .slide-up-enter {
    opacity: 0;
    transform: translateY(-.75rem);	
  }
  .slide-up-enter-to {
    opacity: 1;
    transform: translateY(0rem);
  }
  .cart-bounceIn {
    animation: bounceIn .3s;
  }
  @keyframes bounceIn {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.5);
    }
    65% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.025);
    }
    90% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
  .bill {
    width: 100%;
    position: absolute;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    z-index: 8;
  }
  .bill .container {
    min-height: 360px;
    max-height: 480px;
    overflow: auto;
    padding-bottom: 4.5rem; 
  }
  .swiper-slide img {
    min-height: 375px;
  }

  /* skeleton loading 資料結構預載動畫 */

  .skeleton {
    width: 240px;
    height: 64px;
  }
  .skeleton .avatar {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 8px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    background-size: 600px;
    animation: shine-avatar 2s infinite ease-out;
  }
  .skeleton .line {
    float: left;
    width: 120px;
    height: 10px;
    margin-top: 6px;
    border-radius: 6px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    background-size: 600px;
    animation: shine-lines 2s infinite ease-out;
  }
  .skeleton .avatar + .line {
    width: 160px;
  }
  .skeleton .line ~ .line {
    background-color: #ddd;
  }
  .skeleton .line.price {
    margin-top: 16px;
    width: 60px;
  }

  @keyframes shine-lines {
    0% {  background-position: -100px; }
    40%, 100% { background-position: 140px; }
  }
  @keyframes shine-avatar {
    0% { background-position: -32px; }
    40%, 100% { background-position: 208px; }
  }

  .button.is-info.is-light:hover, .button.is-info.is-light.is-hovered {
    border-color: #3298dc !important;
  }

  .to-fill {
    border: 1px solid #eee;
    user-select: auto;
    width: 44px;
    line-height: 32px;
    vertical-align: sub;
  }

  .top-nav-inner::before {
    left: 0;
  }

  @media (min-width:768px) { 
    .skeleton {
      width: 480px;
      height: 128px;
    }
    .skeleton .avatar {
      width: 128px;
      height: 128px;
    }
    .skeleton .line {
      float: none;
      margin-left: 144px;
    }
  }
</style>