<template>
  <div>
    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      聯絡我們
    </div>
    <div class="container px-3" style="line-height:1.5">
      <h2 class="title text-center has-text-info my-3">龍海客服中心</h2>
      <div :style="{ fontSize: fontSizeBase*18 + 'px' }">
        <p>親愛的客戶您好，如對公司商品或服務有任何問題，歡迎來電或填寫
          <!-- TODO:安卓系統跳多次窗 -->
          <b @click="deviseToLink('https://forms.gle/WJpVjgWbqYcETGH88')"><u>建議改善反應單(按我)</u></b>
          ，我們將以最快速度為您處理。</p>
        <div class="notification is-info is-light p-3" style="line-height:2">
          免付費客服專線：<br>
          <b @click="deviseToCall('0800-668-179')"><u>0800-668-179</u> 按9</b><br>
          <b @click="deviseToCall('0800-668-180')"><u>0800-668-180</u> 按9</b><br>
          <!-- <b @click="deviseToCall('07-213-0199')"><u>07-213-0199</u> 按9</b><br> -->
          訂閱箱免付費客服專線：<br>
          <b @click="deviseToCall('0800-866-668')"><u>0800-866-668</u></b><br>
          電話客服在線時間：<br><b>週一～週五 AM8:30 ~ PM5:30</b>
        </div>
        <p>E-mail：<b @click="deviseToMail('Service@wuhu.com.tw')"><u>Service@wuhu.com.tw</u></b></p>
        <p>地址：高雄市前金區七賢二路396號3樓之1</p>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  methods:{
    // (殼專屬) 另開瀏覽器app，開啟連結
    deviseToLink(Url) {
     return deviseFunction('openWeburl', Url, '')
    },
    // (殼專屬) APP另開啟電子信箱
    deviseToMail(email) {
      deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    }, 
    // (殼專屬) APP另撥電話
    deviseToCall(callNumber) {
      deviseFunction('Tel', callNumber, '')
    }, 
  }
}
</script>
<style scoped>

</style>
