<template>
  <div>
    <!-- 頂分類選單 -->
    <template v-if="$route.query.type==null">
      <div class="sticky-top top-nav-bg">
        <img src="../../assets/images/search.svg" class="w3-opacity align-top mt-1" style="height:48px;padding:8px 4px 8px 8px" @click="getSearchFoods();$router.push({ path: '/shop', query: { type: 'search' } })">
        <nav class="topnav-container py-1" style="padding-left:8px" :style="{ fontSize: fontSizeBase*20 + 'px' }" v-if="$route.query.type==null">
          <div class="topnav-item position-relative" v-for="(item, index) in $store.state.mallData.foodkind2" :key="index" v-show="haveKind(index)" @click="goKind(index,0,true)">
            <span class="position-relative" style="z-index:1">{{item.Name}}</span>
          </div>
        </nav>
      </div>
    </template>

    <!-- 首頁內容 -->
    <div v-show="$route.query.type==null" key="shopSwiper">
      <!-- 輪播 Banner -->
      <div class="text-center has-background-white-ter" style="overflow:hidden;margin-top:0px!important;">
        <swiper ref="awesomeSwiperA" :options="swiperOptionA">
          <!-- slides -->
          <swiper-slide v-for="(banner, bIndex) in mallData.Banner" :key="'banr'+bIndex">
            <!-- 圖 -->
            <img :src="showImageWuhu(banner.PicURL)" @click="redirectToLink(banner)">            
              <!--<img :data-src="showImageWuhu(banner.PicURL)" class="swiper-lazy" @click="redirectToLink(banner)">
              <div class="swiper-lazy-preloader"></div>-->
          </swiper-slide>
          <!-- Optional controls -->
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </div>
    </div>

    <!-- 推薦分類區塊 -->
    <template v-if="$route.query.type==null">
      <section v-for="(itemFeature, fIndex) in mallData.home" :key="'home'+fIndex">
        <div class="columns is-mobile is-gapless border-bottom p-3 mb-2">
          <div class="column font-weight-bold" :style="{ fontSize: fontSizeBase*24 + 'px' }">
            <span class="ft-header">{{itemFeature.Name}}</span> 
          </div>
          <div class="column is-narrow font-weight-bold w3-text-blue text-right" :style="{ fontSize: fontSizeBase*20 + 'px' }" @click="reloadHome(fIndex)">更多...</div>
        </div> 
        <div class="p-2">
          <div class="columns is-mobile is-variable is-2 is-multiline mt-0">
            <div class="column is-6-mobile is-4-tablet"
              v-for="(item, tIndex) in itemFeature.type" :key="'sub'+tIndex"
              :class="[(itemFeature.Counts > tIndex)?'py-2':'py-0']"
              @click="item_click(item,undefined,fIndex,tIndex,true)"
            >
              <div v-if="itemFeature.Counts > tIndex">
                <div class="card-image">
                  <figure class="image is-1by1 m-0 w3-display-container">
                    <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                    <!-- <img v-lazy="showImageWuhu(item.PIC1)" :key="showImageWuhu(item.PIC1)" class="has-background-white-ter" alt=""> -->
                    <img :src="showImageWuhu(item.PIC1)" :key="showImageWuhu(item.PIC1)" class="has-background-white-ter" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="w3-display-topleft is-size-6 tag is-warning py-1 shadow" style="top:4px;left:4px">限量 {{item.ShowQty}} 組</span>
                  </figure>
                </div>
                <div class="card-content px-0 py-2" :style="{ fontSize: fontSizeBase*18 + 'px' }">
                  <p class="mb-1 text-break"><b> {{item.Name}}</b></p>
                  <p class="has-text-danger">
                    <small>NT$ </small>
                    <b>{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>

    <!-- 推薦分類區塊(完整) -->
    <template v-if="nowHome()">
      <section>
        <div class="columns is-mobile is-gapless border-bottom mb-0" style="padding: 12px 0">
          <div class="column font-weight-bold text-center" :style="{ fontSize: fontSizeBase*24 + 'px' }">
            {{mallData.home[$route.query.index]["Name"]}}
          </div>
          <div class="column is-narrow font-weight-bold w3-text-blue text-right"></div>
        </div>
        <h3 class="px-3 py-4 my-0 has-text-white colorHeader" :style="{ fontSize: fontSizeBase*26 + 'px' }">龍海就是消費，為您精挑細選!!!</h3>
        <div class="p-2">
          <div class="columns is-mobile is-variable is-2 is-multiline mt-0" v-if="mallData.isCarUI!=undefined"> 
            <div class="column py-2 is-6-mobile is-4-tablet"
              v-for="(item, sIndex) in mallData.home[$route.query.index]['type']"
              :key="'sitem'+sIndex"
              @click.stop="item_click(item,undefined,$route.query.index,sIndex,true)"
              :class="[(item.Counts > sIndex)?'py-2':'py-0']"
            >
              <div>
                <div class="card-image">
                  <figure class="image is-1by1 m-0 w3-display-container">
                    <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                    <!-- <img  v-lazy="showImageWuhu(item.PIC1)" :key="showImageWuhu(item.PIC1)" class="has-background-white-ter" alt=""> -->
                    <img :src="showImageWuhu(item.PIC1)" :key="showImageWuhu(item.PIC1)" class="has-background-white-ter" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="w3-display-topleft is-size-6 tag is-warning py-1 shadow" style="top:4px;left:4px">限量 {{item.ShowQty}} 組</span>
                  </figure>
                </div>
                <div class="card-content px-0 py-2" :style="{ fontSize: fontSizeBase*18 + 'px' }">
                  <p class="mb-1 text-break"><b>{{item.Name}}</b></p>
                  <p class="has-text-danger mb-2">
                    <small>NT$ </small>
                    <b>{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                  <button class="button is-info is-outlined is-light is-fullwidth" v-if="!item.Stop" @click.stop="item_click(item,true,$route.query.index,sIndex,true)">放入購物車</button>
                  <button class="button has-background-grey-lighter is-light is-fullwidth" v-else>停&nbsp;&nbsp;售</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>

    <!-- 半透明遮罩 -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 999;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>
    <!-- 選規格 -->
    <div class="fixed-top flex-center h-100" style="z-index:1002" v-if="isTypeModal=='spec'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round spec-modal">
        <div class="w3-container">
          <p class="w3-margin-8 w3-center text-elps" :style="{ fontSize: fontSizeBase*16 + 'px' }">{{mallData.nowItem.Name}}
            <span class="w3-medium w3-padding w3-display-topright" @click="isTypeModal='';$store.commit('setCssTouch', true)"><i class="fas fa-times"></i></span>
          </p>
          <div class="w3-container w3-stretch spec-content scroll-touch" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div>
              <p class="w3-section-8">規格名稱
                <span v-show="false">可選數量：1</span>
              </p>
              <div>
                <span class="ck-box" v-for="(item, iIndex) in mallData.nowItem.style" :key="'chisty'+iIndex">
                  <input :id="item.ID" type="radio" name="項目" class="ck-button w3-hide" v-bind:value="iIndex" v-model="styleIndex">
                  <label :for="item.ID">{{item.Name}}</label>
                </span>        
              </div>
            </div>
            <p class="w3-section-8 mb-0" v-show="false">備註</p>
            <input type="text" placeholder="請輸入文字說明" class="w3-input" v-show="false">
          </div>
          <footer class="w3-stretch w3-container w3-light-gray w3-padding-16">
            <div class="w3-cell-row">
              <div class="w3-cell w3-cell-middle">
                <div class="w3-text-red" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <small>NT$ </small>
                  <!-- <b>{{mallData.nowItem.Price}}</b> -->
                  <b>{{(styleIndex > -1?mallData.nowItem.style[styleIndex]["Price1"]:mallData.nowItem.Price)}}</b>
                </div>
              </div>
              <div class="w3-cell w3-cell-middle w3-right-align">
                <span class="numSpinner">
                  <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" :disabled='Qty < 2' @click="Qty--">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input type="number" min="0" readonly="readonly" class="w3-border-0 w3-center" :value="Qty">
                  <button class="w3-small w3-blue w3-hover-blue w3-button w3-round-xxlarge circle-button-small" @click="Qty++">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button class="w3-small w3-padding w3-blue w3-hover-blue w3-button w3-round-xxlarge ml-3">
                    <span class="w3-large" @click="addToCart()">放入購物車</span>
                  </button>
                </span>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- 搜尋功能 -->
    <div v-if="$route.query.type=='search'">
      <!-- 輸入框 -->
      <div class="bg-white pb-1 sticky-top">
        <div class="d-inline-block" style="padding: 0 12px;width: calc(100% - 76px)">
          <form action="." v-on:submit.prevent="searchOnline()">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input shadow-none border-bottom is-medium" style="border: 0;padding: .5em 0em .5em 1.75em" type="search" placeholder="輸入關鍵字" ref="searchInput" v-model="keyFilter">
                <span class="icon is-small is-left">
                  <img src="../../assets/images/search.svg" class="w3-opacity align-top" style="height:32px;margin-left:-24px">
                </span>
              </div>
            </div>
          </form>
        </div>
        <!-- <button class="button is-dark mt-2" @click="$router.replace('/shop');keyFilter='';">取消</button> -->
        <button class="button is-dark mt-2" @click="searchOnline()">搜尋</button>
      </div>

      <!-- 搜尋結果 -->
      <section :style="{ fontSize: fontSizeBase*18 + 'px' }">
        <!-- 無搜尋結果 -->
        <p v-if="onlineItem.length == 0" class="w3-center w3-opacity-max w3-padding-48">-- 無搜尋結果 --</p> 
        <div class="p-2">
          <div class="columns is-mobile is-variable is-2 is-multiline mt-0">
            <div class="column py-2 is-6-mobile is-4-tablet" v-for="(item, cuIndex) in onlineItem" :key="'current'+cuIndex" @click="item_click(item,undefined,0,0,false)">
              <div>
                <div class="card-image">
                  <figure class="image is-1by1 m-0 w3-display-container">
                    <!-- <img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt=""> -->
                    <!-- 無圖資料時顯現 -->
                    <!--<img v-if="false" class="w3-image" src="../../assets/images/temp-img.png">-->
                    <!-- <img  v-lazy="showImageWuhu(item.PIC1)" alt=""> -->
                    <img :src="showImageWuhu(item.PIC1)" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="w3-display-topleft is-size-6 tag is-warning py-1 shadow" style="top:4px;left:4px">限量 {{item.ShowQty}} 組</span>
                  </figure>
                </div>
                <div class="card-content px-0 py-2" :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <p class="mb-1 text-break"><b>{{item.Name}}</b></p>
                  <p class="has-text-danger">
                    <small>NT$ </small>
                    <b>{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<!--<script src="src/assets/test.js"></script>--><!--商城假data-->
<script>
  import store from 'src/store'
  import VueAwesomeSwiper from 'vue-awesome-swiper'
  import 'swiper/dist/css/swiper.css'  

  import { malltmp } from 'src/assets/mall_temp.js'
  import { foodSrc,incNumber,foodCheck,getFoodKind,getHeadergroup,getFoodmarketDetail_kind,getFoodSpec,getSearchFoods,getFoodFreight,getFoodmarketDetail_only,singlefoodmarket,searchFood,toDecimal,chkTypeInt,getGroupitems,getMyShopCart,itmeQtyReload } from 'src/libs/market.js'
  // import fetchData from '../../libs/fetchData.js'
  import { showAlert,showImageWuhu,showToast } from 'src/libs/appHelper.js'
  import { deviseFunction } from 'src/libs/deviseHelper.js'
  export default {
    components: {
      // BANNER輪播
      Swiper: VueAwesomeSwiper.swiper,
      SwiperSlide: VueAwesomeSwiper.swiperSlide,
      
    },
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        // BANNER輪播
        swiperOptionA: {
          autoplay: {
            delay: 3000,
            disableOnInteraction: false
          },
          pagination: {
            el: '.swiper-pagination'
          },
        },
        searchBar: false,
        mallTmp: malltmp,
        keyFilter:"", 
        isTypeModal: '', // 選規格  
        Qty:1, //預設要加到購物車的數量 
        styleIndex: -1,  //現在所選規格
        onlineItem:[], //搜尋線上品項
      };
    },
    computed: {     
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return this.$store.state.mallData;
      },
      currentItem(){
        return this.$store.state.mallData.iv_currentItem.filter(food =>RegExp(this.keyFilter).test(food.Name));
      }
    },    
    // 頁面模組
    methods: { 
      doSomething() {
      },
      foodSrc,
      showImageWuhu,
      foodCheck,
      getFoodKind,
      getHeadergroup,
      getSearchFoods,
      toDecimal,
      reloadHome(fIndex){    
        this.$store.commit('setMallHomeScrollTop', document.querySelector(".pull-down-container").scrollTop);
        getGroupitems(this.mallData.home[fIndex]["GID"],(p_data)=>{          
          this.$store.commit('groupFood', {"fIndex":fIndex,"GroupItems":p_data});
          // this.$store.commit('turnShopCart');
          this.$router.push({ path: '/shop', query: { type: 'feature',index:fIndex } })
        });
        
      },
      nowHome(){
        return (this.$route.fullPath.includes('&index') && this.$route.fullPath.includes('?type') && this.$route.query.type === "feature" && this.$route.query.index > -1);
        
      },
      searchOnline(){
        searchFood(this.keyFilter,(foods)=>{
          this.onlineItem = foods;
        });
        this.$refs.searchInput.blur()
      },    
      item_click(p_item,isSpec){        
        this.Qty = 1; //預設數量
        // this.$store.state.mallData.nowItem = p_item;
        store.commit('setShopNowItem', p_item);
        this.$store.commit('setMallHomeScrollTop', document.querySelector(".pull-down-container").scrollTop);
        if (this.mallData.nowItem.ID){
          singlefoodmarket(this.mallData.nowItem.ID,(food_arrs)=>{                    
            if (Array.isArray(food_arrs) && food_arrs.length > 0){ 
              getFoodmarketDetail_only(store.state.mallData.nowItem.ID,(p_style)=>{
                store.state.mallData.nowItem.style = p_style;
                this.$store.commit('turnShopCart');
                this.item_ok(isSpec); 
              });
            }else{                    
              showAlert("此商品已下架或不存在");
            }
          });
        }
        // var isLoad=true;
        // if (isLoad){
        // if (isLoad && !isFromHome){
        // if (!p_item.isLoad){
        //   if (!p_item.isLoad && !isFromHome){
        //     搜尋商品頁
            
            
        //     const findKind = (et) => et.ID == p_item.Kind;     
        //     var kind_index = this.mallData.foodkind.findIndex(findKind);           
        //     var kindID = this.mallData.foodkind[kind_index]["ID"];
        //     if (!this.mallData.iv_foods[kindID]){
        //       getFoodmarket_only(kindID,()=>{
        //         this.findFoods(p_item,isSpec,kind_index,kindID);  
        //       });
        //     }
        //     else{
        //       this.findFoods(p_item,isSpec,kind_index,kindID);  
        //     }
            
        // }else if (isLoad && isFromHome){
        //   }else if (!p_item.isLoad && isFromHome){
        //     首頁群組商品
        //     this.item_ok(isSpec);
        //     getFoodmarketDetail_home(p_item.MainID,kIndex,fIndex,(p_food)=>{   
        //       this.$store.state.mallData.nowItem = p_food;
              

        //       this.item_ok(isSpec);
        //     });
        //   }
        // }else{
        //   this.item_ok(isSpec);
        // }


      },      
      item_ok(isSpec){
        
        if (isSpec) {
          this.styleIndex = -1;
          if (this.mallData.nowItem.style.length == 1) this.styleIndex = 0;
          
          if (this.isHideStyle()){
            this.addToCart();             
            return;
          } 

          this.isTypeModal = 'spec' 
          this.$store.commit('setCssTouch', false) // 修正手機端遮罩層bug
        } else {  
          // console.log("count...",this.$router.length);
          //console.log(">>>>222>>",this.mallData.nowItem);
          if (this.nowHome()){
            this.$router.push({ path: '/shopType', query: { type: 'product',fromIndex:this.$route.query.index } });
          }else{
            this.$router.push({ path: '/shopType', query: { type: 'product' } });
          }
          
        }
      },
      isHideStyle(){
        if (!this.mallData.nowItem.style) return false;
        return (this.mallData.nowItem.style.length === 1 && this.mallData.nowItem.style[0]["isNoStyle"]);
      },
      findFoods(p_item,isSpec,kind_index,kindID){
        
        if (this.mallData.iv_foods[kindID] && !this.mallData.foodkind[kind_index]["foods"]) {
          this.$store.state.mallData.foodkind[kind_index]["foods"] = this.mallData.iv_foods[kindID]
          const findFood = (et) => et.GID == p_item.GID; 
          var fin_index = this.mallData.foodkind[kind_index]["foods"].findIndex(findFood);
          getFoodmarketDetail_kind(p_item.MainID,kind_index,fin_index,(p_food)=>{               
            this.$store.state.mallData.nowItem = p_food;            
            this.item_ok(isSpec);

          });
        }
      },
      setDemo(){
        this.$store.state.mallData.foodkind2 = this.mallTmp.kind2; //暫時塞假的資料
        this.$store.state.mallData.foodkind = this.mallTmp.kind;
        
        this.$store.state.mallData.foodkind.map(p_kind => {
          p_kind.foods= this.mallTmp[p_kind.ID] || [];
          //首頁顯示的品項
          var foodIds = p_kind.foods.map(p_food =>{
            //p_food.style = this.mallTmp.style;
            // p_food.MainMenu = this.mallTmp.foodMainMenu;  //詳請頁的Banner,五張圖
            p_food.PIC1 = this.mallTmp.foodMainMenu.PIC1;
            p_food.PIC2 = this.mallTmp.foodMainMenu.PIC2;
            p_food.PIC3 = this.mallTmp.foodMainMenu.PIC3;
            p_food.PIC4 = this.mallTmp.foodMainMenu.PIC4;
            p_food.PIC5 =  this.mallTmp.foodMainMenu.PIC5;
            // p_food.Market= this.mallTmp.foodMarket;
            p_food.style = this.mallTmp.foodMarket.map(p_style =>{
              var style_arr = [];
              Object.keys(p_style).map( p_key =>{
                if (p_key.indexOf("SpecID") == 0){
                  var specKey = p_style[p_key];
                  if (specKey && specKey != "") style_arr.push(this.mallTmp.specName[specKey]);
                  
                }
              });
            
            // return {ID:p_style.ID,Name:style_arr.join()};
              return {ID:p_food.ID+"-"+p_style.ID,Name:style_arr.join()}; //暫時加foodid來區別訂單ID
            });
            
            // p_food.MinOrderCount = 1;//最低購量
            // p_food.MaxOrderCount = 3;//最高購量          

            return p_food.ID;
          });

          this.mallTmp.home.map(p_home => {
            p_home.type.map((obj,oIndex) =>{
              var id_index = foodIds.indexOf(obj.ID);           
              if (obj.Kind === p_kind.ID && id_index > -1){              
                p_home.type[oIndex] = p_kind.foods[id_index]; 
                
              }
            })
          });


        });
        this.$store.state.mallData.home = this.mallTmp.home;
      },
      checkStock(){
        var isIndexStyle = this.styleIndex > -1 && this.mallData.nowItem.style.length > this.styleIndex;  
        var int_curStock = chkTypeInt(isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["CurStock"]:0);//庫存
        return int_curStock > 0;
      },
      addToCart(isGoCart){        
        if (this.styleIndex < 0 || this.mallData.nowItem.style.length <= this.styleIndex) {showAlert("請選擇規格!"); return;}
        this.mallData.nowItem.styleFoodID = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["ID"]:'');
        this.mallData.nowItem.Taste = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["Name"]:''); //規格名稱
        this.mallData.nowItem.Price1 = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["Price1"]:'');//規格價格
        this.mallData.nowItem.CurPrice = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["CurPrice"]:'');//規格原價
        if (!this.checkStock()) {showAlert("商品已無庫存!"); return;}
        incNumber(this.mallData.nowItem,this.Qty);
        this.styleIndex = -1;
        if (this.$route.query.type=='product' && this.mallData.nowItem.style.length == 1) this.styleIndex = 0;
        this.isTypeModal='';
        this.$store.commit('setCssTouch', true)
        if(isGoCart) this.$router.replace('/shopCart')
      },
      redirectToLink(banner) {
        // console.log(banner);  
        //console.log(banner);LinkType= FoodKind, FoodDetail ...LinkPostion='300100001'
       
        const isStop = banner.LinkType !== 'OuterURL' && (banner.LinkType === '' || banner.LinkPostion === '');
        const isOut = banner.LinkType === 'OuterURL' && (banner.LinkType === '' || banner.OuterURL === '');
        
        if (isStop || isOut) return
        
        if (banner.LinkType === "FoodDetail" || banner.LinkType === "MarketDetail"){
          this.getSearchFoods();
          const findfood = (et) => et && et.ID == banner.LinkPostion; //依規格的ID來區分群組
          
          var p_index = this.mallData.iv_currentItem.findIndex(findfood);          
          if (p_index> -1) this.item_click(this.mallData.iv_currentItem[p_index],undefined,0,0,false)
          if (p_index < 0) singlefoodmarket(banner.LinkPostion,(food_arrs)=>{
            if (Array.isArray(food_arrs) && food_arrs.length > 0){
              this.item_click(food_arrs[0],undefined,0,0,false)
            }else{
              showAlert("此商品已下架或不存在");
            }
          });
       
        }else if (banner.LinkType === "FoodKind" || banner.LinkType === "MarketKind"){
          
          const findKind = (et) => et.ID == banner.LinkPostion; 
          // var k_index = this.mallData.foodkind2.findIndex(findKind);
          var sub_index = this.mallData.foodkind.findIndex(findKind);
          if (sub_index < 0) return showAlert("無法找到此類別");
          var kind2ID = this.mallData.foodkind[sub_index]["FLevel"];
          const findKind2 = (et) => et.ID == kind2ID;
          var k_index = this.mallData.foodkind2.findIndex(findKind2);
          if (k_index < 0) return showAlert("無法找到此類別");

          var sub_kind = this.mallData.foodkind.filter(p_kind=>{  
            return p_kind.FLevel == this.mallData.foodkind2[k_index]["ID"];
          });
          
          var findSub_index = sub_kind.findIndex(findKind);
          if (findSub_index> -1) this.goKind(k_index,findSub_index,true)
        }else if (banner.LinkType === "FoodHead" || banner.LinkType === "MarketHead"){
          const findHome = (et) => et.SN == banner.LinkPostion; 
          var homeIndex = this.mallData.home.findIndex(findHome);
          if (homeIndex < 0) return showAlert("無法找到分組"); 
          if (homeIndex > -1) this.$router.push({ path: '/shop', query: { type: 'feature',index:homeIndex } })
        }else if (banner.LinkType == 'InnerURL') {
          this.$router.push(banner.LinkPostion)
        }else if (banner.LinkType == 'OuterURL') {
          let url = banner.OuterURL
          // 在殼裡面 => 開啟瀏覽器
          if (typeof(JSInterface) !== 'undefined') {
            deviseFunction('openWeburl', url, '')
          // 在瀏覽器 => 瀏覽器新開一個tab
          } else {
            window.open(url, '_blank')
          }
        }




        // let linkPrefix
        // if (banner.LinkType === "FoodDetail") linkPrefix = '/cardProducts/'
        // if (banner.LinkType === "MessageDetail") linkPrefix = '/cardNewspage/'

        // this.$router.push(linkPrefix + banner.LinkPostion)
      },      
      goKind(p_index,sub_index,isreload){
        if (sub_index == undefined) sub_index=0;
        if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {        
          store.state.mallData.kind = store.state.mallData.foodkind.filter(p_kind=>{  
              return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
            });
        }
        if (store.state.mallData.kind.length == 0) {showToast('無類別');return;} 
        store.state.mallData.kind.map((p_kind,kIndex)=>{
          // if (kIndex == sub_index) getFoodmarket(p_kind.ID,kIndex,()=>{  //this.mallData.kind[kIndex]["ID"]
            //改到shoptype==>beforeRouteEnter
          //   if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
          //   // this.$router.replace({ path: '/shopType', query: { goto: 0,kind2Index: index} })
          // });
          
         
          var tmpFoods=[];
          for (var i = 0; i < 17; i++) {
            tmpFoods.push({Name:"..."}); //為了讓點餐頁類別可以置頂
            
          }
          if (kIndex != sub_index && !p_kind.isLoad) p_kind.foods = tmpFoods;
          
        });
        if (p_index!=undefined) {
          if (isreload){
            this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index ,reload:'yes'} })
          }else{
            this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
          }
          
        }
      },
      haveKind(p_index){
        var isOk = false;
        var kind=[]
        if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {
          kind = store.state.mallData.foodkind.filter(p_kind=>{  
            return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
          });
          isOk = (kind.length > 0);
        }
        return isOk;
      },
    },
    // 在路由刷新前
    //beforeRouteEnter: function (to, form, next) { 
    async beforeRouteEnter(to, form, next){   
      //document.querySelector(".pull-down-container").scrollTop = store.state.mallData.mallHomeScrollTop // 此頁置頂
      //v-if="$route.path == '/shop' && $route.query.type == 'specShop'"
      
      if (to.path === "/shop" && to.query && to.query.type === 'specShop' && to.query.list){
        store.dispatch('fetchVipAndCardInfoWuhu');//點數
        await store.dispatch('fetchSpecShopWuhu');//特約商
      }
      store.state.mallData.reloadShopFn=(p_next)=>{
        
        store.commit('clsShopMall');
        getFoodKind(()=>{// 取大中類別
          getMyShopCart(()=>{
            itmeQtyReload();
          });
          // store.dispatch('fetchFoodmarketMulti') //取所有品項          
          getFoodFreight(()=>{ //取運費            
            getHeadergroup(()=>{//取首頁群組商品
              getFoodSpec(()=>{
                // if (p_next) p_next();                
                if (p_next) p_next(vm=>{                  
                  vm.$refs.awesomeSwiperA.swiper.autoplay.run()
                  setTimeout(() => {                    
                    if (Object.keys(store.state.marketBanner).length){
                      vm.redirectToLink(store.state.marketBanner)
                      setTimeout(function() {
                        store.commit('setMarketBanner',{}); 
                      }, 100);
                      
                    }     
                  }, 10);

                });
              }); //取規則表
                
            }); 
          });
               
        }); 
      }
      var p_path = ["/shopType","/shopCart","/shopMine"];   //在商城相關,不重撈     
      const isLoad = store.state.mallData.foodSpec.length == 0 || Object.keys(store.state.mallData.foodFreight).length == 0
      if (p_path.indexOf(form.path) > -1 && store.state.mallData.foodkind.length > 0 && !isLoad){       
        store.state.isLoading = true;
        next(vm=>{     
          // 此頁swiper autoplay可正常執行
          vm.$refs.awesomeSwiperA.swiper.autoplay.run()     
          setTimeout(() => {
            store.state.isLoading = false;
            document.querySelector(".pull-down-container").scrollTop = store.state.mallData.mallHomeScrollTop //    
          }, 500);
        }); 
      }else{ 
        document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
        store.state.mallData.reloadShopFn(
          next
          // next(
          //   // 此頁swiper autoplay可正常執行
          //   vm=>{vm.$refs.awesomeSwiperA.swiper.autoplay.run()}
          // )
        );     
        // 取門店資訊的資料
        //store.dispatch('fetchAppPublicDataStoreWuhu')
        //取自取門店
        await store.dispatch('fetchStoreListDataFtype')
      }
      // next();
    },
    beforeRouteUpdate: function (to, form, next) {
      this.$refs.awesomeSwiperA.swiper.autoplay.run()
      if(this.$route.query.type == 'feature' && this.$route.query.index != '')  document.querySelector(".pull-down-container").scrollTop = store.state.mallData.mallHomeScrollTop // 推薦頁置頂
      else document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂      
      if (to.path === "/shop" && to.query.from === 'scanSend'){
        //scanSend,透過掃描生成購物車
        var promise_arr = [];
        store.state.mallData.barcodeItem.map((p_item)=>{
          //if (p_item.Price1 != '') incNumber(p_item);  
                 
          promise_arr.push(new Promise((resolve) => {
            if (p_item.Price1 != '') {            
              incNumber(p_item,1,(new_cart)=>{    
                store.commit('addShopCart', new_cart);            
                resolve('ok');
              });
            }else{
              resolve('no');
            }  
          }));  
        });
        Promise.all(promise_arr).then((suces)=> {
          // 一次性同時回傳成功訊息           
          if (suces.indexOf('ok') > -1){
            this.$router.replace({ path: '/shopCart', query: { from: 'scanToCart' }}) 
          }else{ 
            showToast("沒有新增商品");
            next();
          }
          
          //next();
        }).catch( () => {
          // 失敗訊息 (立即)
          next();
        });
        
      }else{
        next();
      }
    },
    // 建立頁面後
    created: function () {
      // this.setDemo();
      this.keyFilter='';
    },
    watch: {
      '$route' () {       
        this.keyFilter='';
      }
    }
  }
</script>

<style scoped>
  .image-square {
    background-size: cover;
    background-position: center;
    background-color: #f2f2f2;
    position: relative;
  }
  .image-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .colorHeader {
    background: linear-gradient(to left,#c2e59c,#64b3f4);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .swiper-slide img {
    min-height: 225px;
  }
  .ft-header {
    position: relative;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .ft-header::after {
    content:'';
    position: absolute;
    background: linear-gradient(to left,#c2e59c,#64b3f4);
    height: 1.66em;
    width: calc(100% + 4em);
    left: -1.5em;
    top: 50%;
    transform: translateY(-50%) skew(-45deg);
    z-index: -1;
  }
</style>