<template>
  <div class="has-background-white-bis" style="min-height:100%;padding:.1px">
    <div class="w3-container w3-padding-8 w3-sand w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }" @click="bookingType=''"> 
      我的預約
    </div>

    <!-- Tabs  -->
    <div class="tabs is-medium is-centered bg-white mb-3 sticky-top" :style="{ fontSize: fontSizeBase*20 + 'px' }">
      <ul class="m-0">
        <li :class="{'is-active':(tabIndex=='')}" @click="tabIndex=''"><a>全部</a></li>
        <li :class="{'is-active':(tabIndex=='S')}" @click="tabIndex='S'"><a>已送出</a></li>
        <li :class="{'is-active':(tabIndex=='P')}" @click="tabIndex='P'"><a>處理中</a></li>
        <li :class="{'is-active':(tabIndex=='Y')}" @click="tabIndex='Y'"><a>已確認</a></li>
        <li :class="{'is-active':(tabIndex=='N')}" @click="tabIndex='N'"><a>已取消</a></li>
      </ul>
    </div>

    <!-- -->
    <div>

      <!-- 我的預約區塊 -->
      <div :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <!---->
        <template v-if="noData!='' || !filteredList">
          <!-- Jerry's version -->
          <p class="text-center w3-opacity-max py-5" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無預約資料 --</p>
          <!-- Karen's version -->
          <!-- <div v-if="noData!=''" class="no-data">{{noData}}</div> -->
        </template>
        <template v-else>
          <template v-for="(item) in filteredList">
            <!-- clean start -->
            <div v-if="item.ServiceKind=='02'" :key="item.GID" class="w3-white shadow-sm border w3-border-gray w3-round-large" style="margin:8px;overflow:hidden">
              <!-- header start -->
              <!-- S:已送出 -->
              <header v-if="item.Status=='S'" class="card-header border-bottom shadow-none">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">潔力屋服務</div>
                    <div class="column text-right">
                      <button class="button is-light is-rounded px-2 py-0 h-auto border border-light" style="margin:-3px 5px" v-if="item.Status=='S'" @click="cancel('clean', item)">取消預約</button> 
                    </div>
                    <div class="column text-right has-text-grey is-narrow">
                      <i class="fas fa-paper-plane"></i>
                      <!-- 已送出 --> {{statusCode2Text(item.Status)}}
                      <!-- <button class="button is-outlined is-rounded is-small has-background-white-ter" style="margin:-5px -5px -5px 3px" v-if="item.Status=='S'" @click="cancel('clean', item)">取消預約</button>   -->
                    </div>
                  </div>
                </div>
              </header>

              <!-- P:處理中 -->
              <header v-if="item.Status=='P'" class="card-header border-bottom shadow-none w3-pale-blue">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">潔力屋服務</div>
                    <div class="column text-right has-text-info"><i class="far fa-clock"></i> <!-- 處理中 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>

              <!-- Y:己確認 -->
              <header v-if="item.Status=='Y'" class="card-header border-bottom shadow-none w3-pale-green">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">潔力屋服務</div>
                    <div class="column text-right has-text-success"><i class="fas fa-check-circle"></i> <!-- 已確認 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>

              <!-- F:己完成 -->
              <header v-if="item.Status=='F'" class="card-header border-bottom shadow-none has-background-grey-lighter">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">潔力屋服務</div>
                    <div class="column text-right"><i class="far fa-smile"></i> <!-- 已完成 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>

              <!-- N:己取消 -->
              <header v-if="item.Status=='N'" class="card-header border-bottom shadow-none w3-pale-red">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">潔力屋服務</div>
                    <div class="column text-right has-text-danger"><i class="fas fa-times-circle"></i> <!-- 已取消 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>
              <!-- header end -->
              <div class="card-content p-3">
                <div class="" style="line-height:1.5">
                  <div class="columns is-multiline is-mobile is-gapless">
                    <div class="column is-4">單號:</div>
                    <div class="column is-8">{{item.OrderNO}}</div>
                    <div class="column is-4">預約日期:</div>
                    <div class="column is-8">{{formatTime(item.BeginDate, 'YYYY/MM/DD')}}</div>
                    <div class="column is-4">預約時段:</div>
                    <div class="column is-8">{{item.KindDescs}}</div>
                    <div class="column is-4">服務項目:</div>
                    <div class="column is-8">{{item.KindName}}</div>
                    <div class="column is-4">建立日期:</div>
                    <div class="column is-8">{{formatTime(item.OrderDate, 'YYYY/MM/DD HH:mm')}}</div>
                    <div class="column is-4" v-if="item.Remark">備註:</div>
                    <div class="column is-8" v-if="item.Remark">{{item.Remark}}</div>
                    <div class="column is-4 mt-2 border-top" v-if="item.ResultRemark"><div class="pt-2">回覆:</div></div>
                    <div class="column is-8 mt-2 border-top white-space-wrap" v-if="item.ResultRemark" @click="item.readMore=!item.readMore">
                      <div class="pt-2" :class="[(!item.readMore)?'text-elps':'']">{{item.ResultRemark}} (回覆時間: {{formatTime(item.ResultTime, 'YYYY/MM/DD HH:mm:ss')}})</div>
                      <div class="text-center" style="margin-bottom:-8px">
                        <span v-show="item.readMore==false"><i class="fas fa-angle-down fa-lg"></i></span>
                        <span v-show="item.readMore==true"><i class="fas fa-angle-up fa-lg"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- only S:已送出才可以取消
              <footer v-if="item.Status=='S'" class="card-footer" @click="cancel(item)">
                <a href="#" class="has-background-white-bis card-footer-item has-text-danger">取消預約</a>
              </footer> -->
            </div>
            <!-- clean end -->
            <!-- hotel start -->
            <div v-if="item.ServiceKind=='01'" :key="item.GID" class="w3-white shadow-sm border w3-border-gray w3-round-large" style="margin:8px;overflow:hidden">
              <!-- header start -->
              <!-- S:已送出 -->
              <header v-if="item.Status=='S'" class="card-header border-bottom shadow-none">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">訂房服務</div>
                    <div class="column text-right has-text-grey">
                      <i class="fas fa-paper-plane"></i>
                      <!-- 已送出 --> {{statusCode2Text(item.Status)}}
                      <button class="button is-outlined is-rounded is-small has-background-white-ter" style="margin:-5px -5px -5px 3px" v-if="item.Status=='S'" @click="cancel('hotel', item)">取消預約</button>
                    </div>
                  </div>
                </div>
              </header>

              <!-- P:處理中 -->
              <header v-if="item.Status=='P'" class="card-header border-bottom shadow-none w3-pale-blue">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">訂房服務</div>
                    <div class="column text-right has-text-info"><i class="far fa-clock"></i> <!-- 處理中 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>

              <!-- Y:己確認 -->
              <header v-if="item.Status=='Y'" class="card-header border-bottom shadow-none w3-pale-green">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">訂房服務</div>
                    <div class="column text-right has-text-success"><i class="fas fa-check-circle"></i> <!-- 已確認 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>

              <!-- F:己完成 -->
              <header v-if="item.Status=='F'" class="card-header border-bottom shadow-none has-background-grey-lighter">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">訂房服務</div>
                    <div class="column text-right"><i class="far fa-smile"></i> <!-- 已完成 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>

              <!-- N:己取消 -->
              <header v-if="item.Status=='N'" class="card-header border-bottom shadow-none w3-pale-red">
                <div class="card-header-title">
                  <div class="columns is-mobile is-gapless w-100">
                    <div class="column">訂房服務</div>
                    <div class="column text-right has-text-danger"><i class="fas fa-times-circle"></i> <!-- 已取消 -->{{statusCode2Text(item.Status)}}</div>
                  </div>
                </div>
              </header>
              <!-- header end -->
              <div class="card-content p-3">
                <div class="" style="line-height:1.5">
                  <div class="columns is-multiline is-mobile is-gapless">
                    <div class="column is-4">單號:</div>
                    <div class="column is-8">{{item.OrderNO}}</div>
                    <div class="column is-4">訂房日期:</div>
                    <div class="column is-8">{{formatTime(item.BeginDate, 'YYYY/MM/DD')}}-{{formatTime(item.EndDate, 'YYYY/MM/DD')}} ({{item.Days}}晚)</div>
                    <div class="column is-4">預約飯店:</div>
                    <div class="column is-8">{{item.KindName}}</div>
                    <div class="column is-4">房型:</div>
                    <div class="column is-8">{{item.KindDescs}} ({{item.Amount}}間)</div>
                    <div class="column is-4">人數:</div>
                    <div class="column is-8">{{item.Person}}大人,{{item.Child}}小孩</div>
                    <div class="column is-4">建立日期:</div>
                    <div class="column is-8">{{formatTime(item.OrderDate, 'YYYY/MM/DD HH:mm')}}</div>
                    <div class="column is-4" v-if="item.Remark">備註:</div>
                    <div class="column is-8" v-if="item.Remark">{{item.Remark}}</div>
                    <div class="column is-4" v-if="item.ResultRemark">回覆:</div>
                    <div class="column is-8 white-space-wrap" v-if="item.ResultRemark" @click="item.readMore=!item.readMore">
                      <div :class="[(!item.readMore)?'text-elps':'']">{{item.ResultRemark}} (回覆時間: {{formatTime(item.ResultTime, 'YYYY/MM/DD HH:mm:ss')}})</div>
                      <div class="text-center" style="margin-bottom:-8px">
                        <span v-show="item.readMore==false"><i class="fas fa-angle-down fa-lg"></i></span>
                        <span v-show="item.readMore==true"><i class="fas fa-angle-up fa-lg"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- only S:已送出才可以取消
              <footer v-if="item.Status=='S'" class="card-footer" @click="cancel(item)">
                <a href="#" class="has-background-white-bis card-footer-item has-text-danger">取消預約</a>
              </footer> -->
            </div>
            <!-- hotel end -->
          </template>
        </template>
      </div>

    </div>
  </div>
</template>

<script>
import store from 'src/store'
import moment from 'moment'

import { showAlert, showConfirm, hideModal } from '../../libs/appHelper.js'
import { formatTime } from '../../libs/timeHelper.js'
import fetchData from '../../libs/fetchData.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      // myList: null,
      // statusList: [] // S:已送出, P:處理中, Y:己確認, N:己取消
      tabIndex: 'S', // 類別標籤
      readMore: false, // 讀更多
      cancelChoice : [
        {code: '1', text: '訂錯類型'},
        {code: '2', text: '訂錯時間'},
        {code: '3', text: '評價不佳'},
        {code: '4', text: '價格太貴'},
        {code: '5', text: '其他'}
      ],
      confirmNoteChoosed: '', // 附註選項已選
      confirmNoteRemark: '', // 附註選了其他要手key的說明
      confirmNoteWarnMsg: '' // 警告訊息
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    fontSizeBase() { return store.getters.fontSizeBase },
    myList() { return store.getters.getMyBookList },
    filteredList() {
      // '':全部, S:已送出, P:處理中, Y:己確認, N:己取消
      if (this.tabIndex != '') {
        return this.myList.filter((item)=>{
          return item.Status==this.tabIndex
        })
      } else {
        return this.myList
      } 
    },
    statusList() { return store.getters.getMyBookStatusList },
    noData() {
      if (this.filteredList == null) {
        return ''
      } else if (this.filteredList && this.filteredList.length>0) {
        return ''
      } else {
        return '★ 無資料 ☆'
      }
    }
  },
  // 頁面模組
  methods: {
    getCancelChoiceByType(type) {
      if (type=='hotel') {
        return [
          {code: '1', text: '訂錯飯店'},
          {code: '2', text: '訂錯房型'},
          {code: '3', text: '訂錯時間'},
          {code: '4', text: '評價不佳'},
          {code: '5', text: '價格太貴'},
          {code: 'other', text: '其他'}]
      } else if (type=='clean') {
        return [
          {code: '1', text: '訂錯預約項目'},
          {code: '2', text: '訂錯時間'},
          {code: '3', text: '評價不佳'},
          {code: '4', text: '價格太貴'},
          {code: 'other', text: '其他'}]
      }
    },
    setDefaultData() {
      this.tabIndex = 'S' // 預設在[S: 已送出]頁籤
      this.confirmNoteChoosed = ''
      this.confirmNoteRemark = ''
      this.confirmNoteWarnMsg = ''
    },
    formatTime(timeStr, formatStr) {
      return formatTime(timeStr, formatStr)
    },
    // 把狀態從Code轉成Text
    statusCode2Text(statusCode) {
      let resultObj = this.statusList.find((statusObj)=>{
        return statusObj.Code == statusCode
      })
      return resultObj.Text
    },
    // 取得我的預約資料
    async setMyList() {
      // https://wuhuapp.jh8.tw/Public/AppBooking.ashx
      const url = this.$store.getters.appBookUrlWuhu
      const body = this.$store.getters.appBodyWuhu({act: 'get_mybooking'})
      const data = await fetchData({url, body})
      this.myList = data.mybooking
      this.statusList = data.status
      // console.log('===> myList =>', this.myList)
    },
    // async cancel1(item) {
    //   showConfirm("確定取消?", '是', '不是') // to delete => showConfirm2 -> showConfirm
    //     // 點擊確認執行
    //     .then(() => {
    //       this.doCancel(item)
    //     })
    //     // 點擊取消執行 => 關閉 confirmn 視窗
    //     .catch(() => hideModal())
    // },
    async cancel(type='clean', item) {
      this.setDefaultData()
      this.popShowConfirm(type, item)
    },
    async popShowConfirm(type, item) {
      
      return showConfirm("", '確定取消', '不要取消',
        '取消原因', this.getCancelChoiceByType(type), this.confirmNoteChoosed, this.confirmNoteRemark,
        '請輸入其他原因'/*confirmNoteRemarkPlaceHolder*/, this.confirmNoteWarnMsg)
        // 點擊確認執行
        .then(() => {
          const modalData = this.$store.state.customModal    
          const choosed = modalData.confirmNoteChoosed
          this.confirmNoteChoosed = choosed
          this.confirmNoteRemark = modalData.confirmNoteRemark
          if (choosed && choosed.trim()!='') {
            
            // 選[其他]要輸入[其他原因]
            if (choosed=='other' && modalData 
              && modalData.confirmNoteRemark.trim()=='') {
              this.confirmNoteWarnMsg = '* 請輸入其他原因'
              return this.popShowConfirm(type, item)
            // ok => 寫入資料庫
            } else {
              this.doCancel(type, item)
            }
          // 都沒有選擇取消原因
          } else {
            this.confirmNoteWarnMsg = '* 請選擇取消原因'
            return this.popShowConfirm(type, item)
          }
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => {
          hideModal()
        })
    },
    async doCancel(type, item) {
      // https://wuhuapp.jh8.tw/Public/AppBooking.ashx
      const url = this.$store.getters.appBookUrlWuhu
      const body = this.$store.getters.appBodyWuhu({act: 'cancel_booking'})

      body.OrderNo = item.OrderNO

      // 寫入取消原因
      // ex: 會員於: 2020/03/06 12:29:03 取消預約，原因: 行程改期。
      const currentTime = moment().format('YYYY-MM-DD HH:mm:ss')
      let remarkNew = ' (會員於: ' + currentTime + ' 取消預約，原因: '
      
      const modalData = this.$store.state.customModal
      let cancelReason = ''
      if (modalData.confirmNoteChoosed=='other') {
        cancelReason = modalData.confirmNoteRemark
      } else {
        let cancelObj = this.getCancelChoiceByType(type).find((item) => {
          return item.code == modalData.confirmNoteChoosed
        })
        cancelReason = cancelObj.text
      }

      remarkNew = remarkNew + cancelReason + '。)'
      
      body.Remark = remarkNew

      const data = await fetchData({url, body})

      if (data.error) {
        showAlert(data.msg)
      } else {
        showAlert('取消成功') 
        store.commit('setMyBookList', data.mybooking) // 更新mylist
        // this.myList = data.mybooking
        // this.$router.push(`/booking`)
      }

    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchAppLogoWuhu')
    store.dispatch('fetchMyBookList')

    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    next();

    next((vm) => { // vm is the Vue instance
      // vm.setMyList() // 取得我的預約資料
      vm.setDefaultData()
    })
  },
  // 建立頁面後
  // created: function(){
  //  // this.setMyList() // 取得我的預約資料
  // },
}
</script>

<style>
.no-data {
  text-align: center;
  margin-top: 10px;
  border: dashed 1px #363636c9;
  border-radius: 10px;
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 81px;
}
</style>