<template>
  <div>
    <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../assets/images/loading.svg" alt="">
      </div>
    </div>
    <!-- 輪播 Banner -->
    <div class="w3-section w3-center" style="margin-top: 0px!important;">
      <!-- 有輪播 Banner 資料 -->
      <Swiper ref="awesomeSwiperA" :options="swiperOptionA" v-if="pageData.slideBanners">
        <!-- slides -->
        <swiper-slide  v-for="banner in pageData.slideBanners" :key="banner.PicURL">
          <!-- 錯誤的預設圖
          <img v-if='showImageWuhu(banner.PicURL)=="notImage"' class="w3-image" src="../../assets/images/img_init.gif" @click="redirectToLink(banner)"> -->
          <!-- 正確的圖 -->
          <img class="w3-image" :src="showImageWuhu(banner.PicURL)" @click="redirectToLink(banner)">
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
      </Swiper>
      <!-- 無輪播 Banner 資料，放入預設圖 -->
      <Swiper :options="swiperOptionA" v-else>
        <!-- slides -->
        <swiper-slide>
          <img class="w3-image" src="../../assets/images/default-banner.jpg">
        </swiper-slide>
        <swiper-slide>
          <img class="w3-image" src="../../assets/images/default-banner.jpg">
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
      </Swiper>
    </div>
    <!-- 副 Banner (有資料) -->
    <div v-if="pageData.subBanner.length > 0">
      <div class="w3-section w3-center" v-for="banner in pageData.subBanner" :key="banner.GID">
        <img class="w3-image" :src="showImageWuhu(banner.PicURL)" @click="redirectToLink(banner)">
      </div>
    </div>
    <!-- 副 Banner (無資料) -->
    <div class="w3-section w3-center" v-if="pageData.subBannerIsLoaded && pageData.subBanner.length === 0" >
      <img class="w3-image" src="../../assets/images/default-subbanner.jpg">
    </div>

  </div>
</template>

<script>
import store from 'src/store'
import { router } from 'src/libs/systemEnv.js'
import { isLogin } from 'src/libs/appHelper.js'
import { computed, reactive, watch } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImageWuhu } from 'src/libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

// 卡面文字要設成白色的名搬
const whiteValidate = { kakartest: false, '4210098209': true, '24981398': true, '2498313603': true }
// 取得的卡包
const vipApps = computed(() => store.state.vipApps )
// 卡包的會員資訊
const currentAppUsers = computed(() => store.getters.currentAppUsers )

// 判斷是否顯示白色樣式
function isWhite(userData) {
  return whiteValidate[userData.EnterPriseID]
}

// 卡面底圖
function showCardImg(userData) {
  let style = 'background-image: url(https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-card.png)'
  if (userData.CardFacePhoto) style = `background-image: url(${userData.CardFacePhoto})`
  if (isWhite(userData)) style += ';color: white'
  return style
}
// 顯示卡包的企業名
function showEnterpriseName(userData) {
  const eID = userData.EnterPriseID
  const vip = vipApps.value.find(item => item.EnterpriseID === eID)
  return (vip) ? vip.AppName : ''
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode(userData) {
  store.commit('setCurrentAppUser', userData)
  store.commit('setCssTouch', false)

  cardQRcode.gid = userData.cardGID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}

export default {
  name: 'index',
  components: {
    // BANNER輪播
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data() {
    return {
      // BANNER輪播
      swiperOptionA: {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination'
        }
      },
      state: this.$store.state,
    };
  },
  setup(props, context) {
    // 如果未登入，直接導向登入頁
    if (!isLogin.value) router.push('/login')
    // 取得龍海的公開 & 會員資料
    store.dispatch('fetchAppPublicDataWuhu')
    // store.dispatch('fetchAppUserDataWuhu')
    store.dispatch('fetchVipAndCardInfoWuhu') // for QR Codeca70f6725a691972
    
    //if (isLogin.value) store.dispatch('fetchQrcodUrl',{url:"https://surl.jh8.tw/c5b8848f80c18856"})//https://surl.jh8.tw/7204572f4f41e4c5  //https://surl.jh8.tw/f8fdf93163b04f04
    
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    return {
      isLogin, vipApps, isWhite, showCardImg,
      currentAppUsers, showEnterpriseName,
      cardQRcode, showQrcode, hideCardCode, layout,
      VueAwesomeSwiper
    }
  },
  computed: {
    pageData() {
      return this.state.baseInfo.publicData.index
    },
    isReady() {
      let allData = this.state.baseInfo.publicData
      if (allData.logoLoaded && allData.index.slideBannerIsLoaded && allData.index.subBannerIsLoaded) {
        return true
      } else {
        return false
      }
    },
    mallData() {
      return this.$store.state.mallData;
    }
  },
  methods: {
    showImageWuhu,    
    redirectToLink(banner) {
      const marketID = ['MarketHead','MarketKind','MarketDetail'];
      if (banner.LinkType == 'InnerURL') {
        this.$router.push({path: '/' + banner.LinkPostion})
      } else if (banner.LinkType == 'OuterURL') {
        let url = banner.OuterURL
        // 在殼裡面 => 開啟瀏覽器
        if (typeof(JSInterface) !== 'undefined') {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }
      else if (marketID.indexOf(banner.LinkType) > -1) {
        store.commit('setMarketBanner',{ LinkType:banner.LinkType,LinkPostion:banner.LinkPostion}); 
        if (banner.LinkPostion != '') this.$router.push({ path: '/shop'})
      }

      // else if (banner.LinkType === "FoodDetail" || banner.LinkType === "FoodKind"){  
      //   if (banner.LinkPostion != '') this.$router.push({ path: '/shop', query: { LinkType:banner.LinkType,LinkPostion:banner.LinkPostion} }) 
        
      // }
      else if (banner.LinkType == 'MessageDetail') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.$router.push('/newspage/' + banner.LinkPostion)     
        }
      }else if (banner.LinkType == 'MessageKind') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.$router.push('/news')
          
        }
      }
    }
  },
  // 每次進入此頁面會執行的設定
  beforeRouteEnter: function(to, form, next){
    document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
    // 取企業 App 的會員資料
    store.commit('setLoading', true)
    setTimeout(() => { store.commit('setLoading', false) }, 200)
    next(vm => {
      // 返回此頁swiper autoplay可正常執行
      vm.$refs.awesomeSwiperA.swiper.autoplay.run()
    });
  }
}
</script>

<style lang="scss">
  .appCard {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 62.8%;
    background-image: linear-gradient(135deg, white 50%, #e6e6e6 100%);
    background-size: cover;
    margin-bottom: 16px!important;
    font-size: 18px!important;
    border-radius: 16px;
    position: relative;
  }

  .badge {
    background-color: var(--primary-color);
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
</style>
