<template>
  <div>

    <!-- <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);margin-top: -52px;" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../assets/images/loading.svg" alt="">
      </div>
    </div> -->

    <div class="w3-container w3-padding-8 w3-light-gray w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
      最新消息
    </div>

    <template v-if="!newsData">
      <p class="w3-center w3-opacity-max w3-padding-48">-- 無最新消息 --</p>  
    </template>
    <template v-else>
      <!-- 輪播 Banner -->
      <div class="w3-center">
        <Swiper class="bg-light" ref="awesomeSwiperA" :options="swiperOptionA">
          <!-- slides -->
          <SwiperSlide v-for="news in newsData" :key="news.DetailID">
            <img class="w3-image" :src="showImageWuhu(news._PicURL)" @click="$router.push('newspage/' + news.DetailID)">
          </SwiperSlide>
          <!-- Optional controls -->
          <div class="swiper-pagination" slot="pagination"></div>
        </Swiper>
      </div>
      <ul class="w3-ul m-0" :style="{ fontSize: fontSizeBase*16 + 'px' }">
        <!-- <li class="w3-center w3-opacity-max w3-padding-48" v-if="newsData.length === 0">無最新消息</li> -->
        <li v-for="news in newsData" @click="$router.push('/newspage/' + news.DetailID)" :key="news.DetailID">
          <b>{{news.SaleTime.substring(0, 10)}}</b>
          <p class="w3-section-8">{{news.DetailName}}</p>
        </li>
      </ul>
    </template>
  </div>
</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImageWuhu } from 'src/libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
// BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.getters.srcUrl },
    newsData() {
      const newsData = this.state.baseInfo.publicData.news.data
      if(newsData && newsData.length>0) {
        return newsData.filter(item => item.KindID !== "_INFO_") 
      } else {
        return null
      }
    },
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let resultData = null

      const newsData = this.state.baseInfo.publicData.news.data
      if(newsData && newsData.length>0) {
        resultData = newsData.filter(item => item.KindID !== "_INFO_") 
      } else {
        resultData = null
      }

      if (resultData && resultData.length>0) {
        // console.log('isReady ===> true')
        return true
      } else {
        // console.log('isReady ===> false')
        return false
      }
    }
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      // BANNER輪播
      swiperOptionA: {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination'
        },
      },
    };
  },
  // 頁面模組
  methods: {
    showImageWuhu,
    deviseUrl(url){
      return deviseFunction('openWeburl', url, '')
    }
  },
  beforeRouteEnter(to, from, next) {
    store.dispatch('fetchAppPublicDataNewsWuhu')
    next(vm => {
      // 返回此頁swiper autoplay可正常執行
      if(vm.$refs.awesomeSwiperA) vm.$refs.awesomeSwiperA.swiper.autoplay.run()
    })
  },
}
</script>
