<template>
  <div>
    {{isCidReady}}
    <!-- 讀取中效果(使用v-show預載) -->
    <div v-show="isLoadingHomeMember" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
        <img src="../../assets/images/loading.svg" alt="">
      </div>
    </div>
    <div class="w3-content w3-padding-32 w3-cell-row" style="width:85%">
      <div class="w3-cell w3-cell-middle" style="width:118px">
        <img style="width:96px" src="../../assets/images/avatar_male.png" v-if="userDataSet.Sex=='True'">
        <img style="width:96px" src="../../assets/images/avatar_female.png" v-else>
      </div>
      <div class="w3-cell w3-cell-middle">
        <!-- <div class="w3-xlarge" style="margin-top:.5rem">{{$store.state.currentAppUser.CardTypeName}}</div>
        <div v-if="currentApp!='53239538'">累積 <b class="w3-xxlarge" style="line-height:1">{{points}}</b> 點</div> -->
        <div class="mb-1" :style="{ fontSize: fontSizeBase*26 + 'px' }"><!--{{cardTypeName}} 先隱藏--></div>
        <div :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="isLoadPoint">
          <div>消費點數 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{balance}}</b> 元</div>
          <div>體驗點數 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{points}}</b> 點</div>
          
        </div>
        <div v-if="!isLoadPoint">讀取中...</div>
      </div>
    </div>

    <!-- 功能選單 -->
    <div style="background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);padding: 1.5rem 1rem"
      :style="{ fontSize: fontSizeBase*16 + 'px' }"
    >
      <div class="columns is-multiline is-mobile text-center mb-0">
        <!-- <div class="column px-1 py-3 is-one-third" @click="openPoint()"> -->
        <div class="column px-1 py-3 is-one-third" v-if="userTag != 'employee'" @click="$router.push('/consumePoint')">
          <img src="../../assets/images/rec-pay.svg" style="height:3rem;">
          <div class="mt-2">消費點數紀錄</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/point')">
          <img src="../../assets/images/rec-point.svg" style="height:3rem;">
          <div class="mt-2">體驗點數紀錄</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/coupon')">
          <div class="w3-display-container" style="width:3rem;margin:0 auto;">
            <div class="w3-display-topright badge-wrapper" style="right:-16px;top:-16px" v-if="state.baseInfo.memberData.ticketList.length!=''">
              <span class="badge primary-color" :style="{ fontSize: fontSizeBase*16 + 'px' }">{{state.baseInfo.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}</span>
            </div>
            <!-- <span class="w3-badge w3-display-topright primary-color w3-center item-badge" style="margin:-1rem -1rem 0 0;" v-if="state.baseInfo.memberData.ticketList.length!=''">{{state.baseInfo.memberData.ticketList.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}
            </span> -->
            <img src="../../assets/images/coupon.svg" style="height:3rem;">
          </div>
          <div class="mt-2">共用優惠券</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/news')">
          <img src="../../assets/images/news.svg" style="height:3rem;">
          <div class="mt-2">最新消息</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/setting')">
          <img src="../../assets/images/card-profile.svg" style="height:3rem;">
          <div class="mt-2">會員資訊</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/setting?type=changePW')">
          <img src="../../assets/images/reset-pw.svg" style="height:3rem;">
          <div class="mt-2">修改密碼</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="isSetFontSize = true;$store.commit('setCssTouch', false)">
          <img src="../../assets/images/font-size.svg" style="height:3rem">
          <div class="mt-2">字體調整</div>
        </div>
        <div class="column px-1 py-3 is-one-third" @click="$router.push('/booking')">
          <img src="../../assets/images/preOrder.svg" style="height:3rem;">
          <div class="mt-2">服務預約</div>
        </div>
      </div>
      <div class="w3-display-container w3-center py-4" v-if="userTag != 'employee'">
        <div class="w3-display-middle px-2 has-background-white" style="color:deeppink" :style="{ fontSize: fontSizeBase*16 + 'px' }"><b>我的契約</b></div>
        <hr class="m-0" style="border-color:deeppink">
      </div>
      <div class="columns is-multiline is-mobile text-center mt-0">
        <div class="column px-1 py-3 is-one-third" v-if="userTag != 'employee'" @click="openDeed()">
          <img src="../../assets/images/contract_list.svg" style="height:3rem;">
          <div class="mt-2">契約清單</div>
        </div>
        <div class="column px-1 py-3 is-one-third" v-if="userTag != 'employee'" @click="openLoan()">
          <img src="../../assets/images/contract_value.svg" style="height:3rem;">
          <div class="mt-2">契約價值</div>
        </div>
        <div class="column px-1 py-3 is-one-third" v-if="userTag != 'employee'" @click="openPayment()">
          <img src="../../assets/images/contract_unpaid.svg" style="height:3rem;">
          <div class="mt-2">待繳費契約</div>
        </div>
        <div class="column px-1 py-3 is-one-third" v-if="userTag != 'employee'" @click="openComplete()">
          <img src="../../assets/images/contract_apply.svg" style="height:3rem;">
          <div class="mt-2">已申辦待滿期契約</div>
        </div>
      </div>
    </div>

    <!-- 卡Code -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="currentCardCode">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="currentCardCode=false;$store.commit('setCssTouch', true)">
        </header>
        <div class="w3-container w3-padding-large w3-padding-64 w3-center">
          <img height="255" :src="cardQrCode.image" class="w3-image" alt="" style="width: 75%">
          <p>{{cardQrCode.value}}</p>
        </div>
      </div>
    </transition>

    <!-- 外連結 -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isLink">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="isLink=false;$store.commit('setCssTouch', true)">
        </header>
        <div style="width:100vw;height:calc(100% - 62px);overflow:auto;-webkit-overflow-scrolling:touch">
          <iframe :src="srcLink" frameborder="0" width="98%" height="100%"></iframe>
        </div>
      </div>
    </transition>

    <!-- 文字大小 -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0.4)" v-if="isSetFontSize" v-cloak>
        <div class="fixed-bottom" style="margin-bottom: 5rem">
          <div class="buttons has-addons is-centered w3-animate-bottom">
            <span class="shadow-lg rounded">
              <button class="button is-large px-3 mb-0" @click="fontSizeBase = 1" :class="{'is-info is-selected':fontSizeBase == 1}">預設</button>
              <button class="button is-large px-3 mb-0" @click="fontSizeBase = 1.25" :class="{'is-info is-selected':fontSizeBase == 1.25}">中</button>
              <button class="button is-large px-3 mb-0" @click="fontSizeBase = 1.5" :class="{'is-info is-selected':fontSizeBase == 1.5}">大</button>
              <button class="button is-large px-3 mb-0" @click="fontSizeBase = 1.75" :class="{'is-info is-selected':fontSizeBase == 1.75}">特大</button>
              <button class="button is-large px-3 mb-0 has-text-danger has-background-light" @click="isSetFontSize = false;$store.commit('setCssTouch', true)"><i class="fas fa-times"></i></button>
            </span>
          </div>
        </div>
      </div>
    </transition>

    <!-- 外連結 -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="sampleModal !== ''">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="sampleModal='';$store.commit('setCssTouch', true)">
        </header>
        <div style="width:100vw;height:calc(100% - 62px);overflow:auto;-webkit-overflow-scrolling:touch">
          <p class="w3-center w3-opacity-max w3-padding-48" v-if="sampleModal === 'news'">-- 無最新資料 --</p>

          <div v-if="sampleModal === 'profile'">
            <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
              會員資訊
            </div>
            <form>
              <ul class="w3-ul w3-large m-0">
                <li>
                  <div class="w3-cell-row w3-section-8">
                    <div class="w3-cell w3-cell-middle w3-text-gray">帳號</div>
                    <div class="w3-cell w3-cell-middle w3-right-align"><b>00321</b></div>
                  </div>
                </li>
                <li>
                  <div class="w3-cell-row w3-section-8">
                    <div class="w3-cell w3-cell-middle w3-text-gray">姓名</div>
                    <div class="w3-cell w3-cell-middle w3-right-align"><b>王小明</b></div>
                  </div>
                </li>
                <li>
                  <div class="w3-cell-row w3-section-8">
                    <div class="w3-cell w3-cell-middle w3-text-gray">生日</div>
                    <div class="w3-cell w3-cell-middle w3-right-align"><b>1998-05-25</b></div>
                  </div>
                </li>
                <li>
                  <div class="w3-cell-row w3-section-8">
                    <div class="w3-cell w3-cell-middle w3-text-gray">性別</div>
                    <div class="w3-cell w3-cell-middle w3-right-align"><b>男</b></div>
                  </div>
                </li>
              </ul>
            </form>
          </div>

        </div>
      </div>
    </transition>

  </div>

</template>

<script>
import store from 'src/store'
import fetchData from 'src/libs/fetchData.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      sampleModal: '', // 秀假資料用
      srcLink: '',
      openUrlPrefix: 'https://customer-info-jinher.azurewebsites.net/',
      openUrlPostfix: '.aspx?rq_var=',
      // 動態用API取得rq_var
      openUrlRqVar: '', // 'X6bFzC3Ee0AwWz39z11ZwA%3d%3d'
      isLoadingHomeMember: false,
      pageName: '',
      fontSizeBase: store.getters.fontSizeBase,
      isSetFontSize: false
    };
  },
  computed: {    
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    userTag() {return this.$store.state.baseInfo.userTag;},
    // 暫時假資料
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    cardTypeName() {
      const card_info = this.state.baseInfo.memberData.card_info
      let cardTypeName = ''
      if (card_info && card_info!==undefined) {
        cardTypeName = card_info.CardTypeName  
      }
      
      return cardTypeName
    },
    isLoadPoint(){
      return this.state.baseInfo.memberData.isVipDataLoad;
    },
    points()     { return this.state.baseInfo.memberData.card_info.Points ? parseInt(this.state.baseInfo.memberData.card_info.Points) : 0 },
    balance()     { return this.state.baseInfo.memberData.card_info.Balance ? parseInt(this.state.baseInfo.memberData.card_info.Balance) : 0 },
    userData() { return this.$store.state.currentAppUser },
    userDataSet()   { return this.state.userData }, // for 性別icon
    isCidReady() {
      // console.log('[HomeMember] isCidReady ===> start')
      if (this.openUrlRqVar && this.openUrlRqVar.length>0) {
        // console.log('[HomeMember] isCidReady ===> openUrlRqVar =>' + this.openUrlRqVar)
        if (this.pageName && this.pageName.length>0) {
          // console.log('[HomeMember] isCidReady ===> pageName =>' + this.pageName)
          this.pushUrl(this.pageName)
        }

        return ''
      } else {
        // console.log('isCidReady ===> false')
        if (this.pageName && this.pageName.length>0) {
          // console.log('===> 要轉轉')
          this.setLoading(true)
        }
        return ''
      }
    }
  },
  // 頁面模組
  methods: {
    setLoading(loading) {
      this.isLoadingHomeMember = loading
    },
    // TODO: 待秋林殼改好in app browser後,openLink改成用下面那個function[這個註解起來]
    openLink(src) {
      // console.log('===> src =>' + src)
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
    // TODO: 待秋林殼改好in app browser後,openLink改成用這個function[這個取消註解]
    // openLink(src) {
    //   // console.log('===> src =>' + src)
    //   // window.open('https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d')
    //   window.open(src)
    // },
    // openUrl(pageName) {
    //   // 'Customer_Deed_complete_term'
    //   const srcUrl = this.openUrlPrefix + pageName + this.openUrlPostfix + this.openUrlRqVar
    //   this.openLink(srcUrl)
    // },
    pushUrl(pageName) {
      // console.log('[HomeMember] pushUrl ===>' + pageName)
      this.$router.push({path: 'openUrl/'+pageName,
        query: { cid: this.openUrlRqVar }})
    },
    openUrl(pageName) {
      // this.$router.push({path: 'openUrl/Customer_point_history',
      //   query: { cid: this.openUrlRqVar }})
      this.pageName = pageName
    },
    /** 契約清單 */
    openDeed() {
      // https://customer-info-jinher.azurewebsites.net/Customer_Deed_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_Deed_list')
    },
    /** 消費點數紀錄 */
    openPoint() {
      // https://customer-info-jinher.azurewebsites.net/Customer_point_history.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d

      // this.$router.push({path: 'openUrl/Customer_point_history',
      //   query: { cid: this.openUrlRqVar }})

      this.openUrl('Customer_point_history')
    },
    /** 已申辦待滿期契約清單 */
    openComplete() {
      // https://customer-info-jinher.azurewebsites.net/Customer_Deed_complete_term.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_Deed_complete_term')
    },
    /** 契約價值 */
    openLoan() {
      // https://customer-info-jinher.azurewebsites.net/Customer_Deed_Loan_list.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_Deed_Loan_list')
    },
    /** 待繳費契約 */
    openPayment() {
      // https://customer-info-jinher.azurewebsites.net/Customer_deed_payment_need.aspx?rq_var=X6bFzC3Ee0AwWz39z11ZwA%3d%3d
      this.openUrl('Customer_deed_payment_need')
    },
    async getCid() {
      // console.log('[HomeMember] getCid ===> start')
      const url = this.$store.state.api.memberUrl // 'https://8012.jinher.com.tw/Public/AppVipOneEntry.ashx'
      const body = {
        "EnterPriseID":"53239538", // 這個在五戶資料夾內可以hardcode
        "act":"GetCID",
        "Account": this.$store.state.member.code,
        "isFrom":"wuhulifeapp", // 這個在五戶資料夾內可以hardcode
        "mac":this.$store.state.member.mac,
        "Tokenkey": this.$store.state.member.Tokenkey,
        }
      const head = { "headers": { "Content-Type": "application/x-www-form-urlencoded" } }
      const data = await fetchData({url, body, head})
      this.openUrlRqVar = data.Result
      // console.log('[HomeMember] getCid ===> this.openUrlRqVar =>' + this.openUrlRqVar)
    }
  },
  watch: {
    fontSizeBase(newVal) {
      store.commit('setFontSizeForever', newVal)
    }
  },
  // 每次進入此頁面會執行的設定
  beforeRouteEnter: async function(to, from, next){
    document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
    // 取企業 App 的會員資料
    // store.commit('setLoading', true)
    // store.dispatch('fetchAppLogoWuhu')
    // store.dispatch('fetchAppUserDataWuhu')
    // setTimeout(() => { store.commit('setLoading', false) }, 200)
    
    // [自動領優惠券]做在這裡 -> 這個要在最一開始做,後面優惠券數量才會對
    await store.dispatch('fetchMemberDrawTicketListDataWuhu')
    // 重新撈一次優惠券,顯示數量才會對
    store.dispatch('fetchMemberTicketListDataWuhu')

    store.dispatch('fetchAppPublicDataMemberWuhu')

    next(vm => vm.getCid());
  },
  beforeRouteLeave: function(to, from, next){
    // 消滅此 instance
    this.$destroy()
    next()
  }
}
</script>

