<template>
  <div class="has-background-light" style="min-height:100%;padding:.1px">
    <div class="w3-container w3-padding-8 w3-sand w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }" @click="bookingType=''"> 
      潔力屋清潔服務
    </div>
    

    <!-- 訂房服務頁 -->
    <div :style="{ fontSize: fontSizeBase*18 + 'px' }">

      <!-- 預約人資料 -->
      <div class="w3-container w3-white w3-padding-24">
        <p class="mb-3"><b>預約人資料</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline" v-if="!editData" @click="editData=true">
          <div class="column py-1 is-half">{{cname}}</div>
          <div class="column py-1 is-half text-right">
            <!-- 編輯 -->
            <span>
              <i class="fas fa-edit fa-lg"></i>
            </span>
          </div>
          <div class="column py-1 is-12" :class="{'has-text-danger':(mobile=='')}">
            {{(mobile=='')?'輸入手機號碼':mobile}}
          </div>
          <div class="column py-12">{{addrs}}</div>
        </div>
        <div class="bg-white" v-else>
          <div class="columns is-mobile is-variable is-1 is-multiline">
            <div class="column py-1 is-half">
              <input type="text" placeholder="輸入姓名" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="cname">
            </div>
            <div class="column py-1 is-half text-right">
              <!-- 叉叉註解不用 -->
              <!-- <span @click="editData=false"><i class="fas fa-times fa-lg ml-3 has-text-grey-lighter"></i></span> -->
              <!-- 勾勾留著 -->
              <span @click="editData=false"><i class="fas fa-check fa-lg ml-3 text-success"></i></span>
            </div>
            <div class="column py-1">
              <input type="number" placeholder="輸入手機號碼" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="mobile">
            </div>
            <div class="column py-1 is-12">
              <input type="text" placeholder="輸入地址" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter" v-model="addrs">
            </div>
          </div>
        </div>
        <!-- <div class="w3-cell-row">
          <div class="w3-cell">{{cname}}</div>
          <div class="w3-cell">{{mobile}}</div>
        </div>
        <div class="w3-cell-row mt-2" v-if="editAddrs">
          <div class="w3-cell">{{addrs}}
            <div class="w3-btn w3-black w3-round w3-padding-small ml-1 w3-medium align-text-bottom" @click="editAddrs=!editAddrs">修改</div>
          </div>
        </div>
        <div class="mt-2" v-else>
          <div class="w3-display-container">
            <input type="text" placeholder="輸入新地址" class="w3-input w3-show-inline-block w3-border-0" v-model="addrs">
            <div class="w3-display-right w3-opacity-max" v-if="addrs!==''" @click="addrs=''"><i class="fas fa-times-circle"></i></div>
          </div>
          <div class="text-right">
            <div class="w3-btn w3-light-gray w3-round w3-padding-small w3-medium align-text-bottom" @click="editAddrs=!editAddrs">取消</div>
            <div class="w3-btn w3-green w3-round w3-padding-small ml-2 w3-medium align-text-bottom" @click="editAddrs=!editAddrs">確認</div>
          </div>
        </div> -->
      </div>

      <!-- 清潔服務區塊 -->
      <div>
        <!-- 選擇服務項目 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <b>預約項目</b>
          <div class="select mt-2 w-100">
            <select class="w-100" v-model="cleanItemSelect">
              <option value="none" disabled="disabled" selected="selected">請選擇服務項目</option>
              <option v-for="(item) in cleanItemList" :key="item.Code" :value="item.Code">{{item.Text}}</option>
              <!--
              <option value="">居家清潔</option>
              <option value="">冷氣清潔</option>
              <option value="">洗衣機清潔</option>
              -->
            </select>
          </div>
        </div>
        <!-- 服務日期 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <p class="mb-2">
            <b>預約日期</b>
          </p>
          <vc-date-picker
            locale="zh"
            mode='date'
            class="vCalendar mb-2 d-block"
            v-model='singleDate'
            is-dark
            :min-date='new Date()'
            :input-props='{
              placeholder: "請選擇日期",
              readonly: true
            }'
            />
          <p class="mb-2">
            <b>時段</b>
          </p>
          
          <!--<span v-for="item in 3" :key="item" @click="clickType(item)">
            <input :id="item" :value="item" type="radio" name="room" class="ck-button w3-hide">
            <label :for="item">
              {{item==1?'上午':''}}
              {{item==2?'下午':''}}
              {{item==3?'以上皆可':''}}
            </label>
          </span>-->
          <span v-for="(item, index) in periodList" :key="index">
            <input :id="index" :value="item" type="radio" name="period" v-model="periodSelect" class="ck-button w3-hide">
            <label :for="index">
              {{item}}
            </label>
          </span>
        </div>
        <!-- 備註 -->
        <div class="w3-section w3-container w3-padding-16 w3-white">
          <b>備註</b> 
          <div class="w3-display-container w3-show-inline-block ml-1" style="width: calc(100% - 3rem);">
            <input class="w3-input w3-show-inline-block w3-border-0" type="text" v-model="remarkClean" placeholder="請輸入文字說明">
            <div class="w3-display-right w3-opacity-max" v-if="remarkClean!==''" @click="remarkClean=''"><i class="fas fa-times-circle"></i></div>
          </div>
        </div>
        <!-- pull bottom space -->
        <div style="height:50px"></div>
        <!-- <button class="position-fixed fixed-bottom button is-medium is-info is-fullwidth rounded-0" @click="save()">預約送出</button> -->
        <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="save()">預約送出</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<style>
.vCalendar > input {
  padding: 10px 15px;
  height: 50px;
  border-color: #dbdbdb;
  font-size: 20px;
  border-radius: 4px !important;
} 
.vCalendar .vc-w-full {
  width: calc(100vw - 32px);
} 
.vc-text-sm, .vc-text-lg {
  font-size: 20px !important;
}
</style>

<script>
import Vue from 'vue';
import moment from 'moment'
import store from 'src/store'

import { showAlert } from '../../libs/appHelper.js'
import fetchData from '../../libs/fetchData.js'

import VCalendar from 'v-calendar' // 套件API https://vcalendar.io/
Vue.use(VCalendar, {
  componentPrefix: 'vc',  // Use <vc-calendar /> instead of <v-calendar />
});
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      selectedDate: '',
      remarkClean: '',
      cname: '',
      mobile: '',
      addrs: '',
      editData: false,
      singleDate: {},

      cleanItemList: [], // 清潔項目清單
      cleanItemSelect: 'none', // 已選擇清潔項目

      periodList: ['上午','下午','以上皆可'], // 時段清單
      periodSelect: '', // 選擇時段
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    fontSizeBase() { return store.getters.fontSizeBase },
  },
  // 頁面模組
  methods: {
    // 取得預約人基本資料
    async setDefaultVipInfo() {
      // https://wuhuapp.jh8.tw/Public/AppVip.ashx
      const url = this.$store.getters.appMemberUrlWuhu
      const body = this.$store.getters.appBodyWuhu({act: 'GetVipAndCardInfo'})
      const data = await fetchData({url, body})
      let vipInfo = data.querydata_return_info.vip_info
      this.cname = vipInfo.CnName
      this.mobile = vipInfo.Mobile
      this.addrs = vipInfo.Addr
      this.editData = false
    },
    // 設定預設起迄時間
    setDefaultDate() {
      let now = new Date()
      let today = new Date(now.getFullYear(), now.getMonth(), now.getDate())

      let milliSecs = (24*60*60*1000)
      let cleanDate = new Date(today.getTime()+(milliSecs*3))

      this.singleDate = cleanDate // new Date(2020, 1, 21)
    },
    // 取得清潔項目資料
    async setCleanItem() {
      // https://wuhuapp.jh8.tw/Public/AppBooking.ashx
      const url = this.$store.getters.appBookUrlWuhu
      const body = this.$store.getters.appBodyWuhu({act: 'get_cleanitem'})
      const data = await fetchData({url, body})
      this.cleanItemList = data.cleanItem
    },
    // 把所有資料清到預設值
    clearData2Default() {
      this.editAddrs = true
      this.cleanItemSelect = 'none' // 已選擇清潔項目
      this.periodSelect = '' // 選擇時段
      this.remarkClean = ''
    },
    clickType(code) {
      this.periodSelect = code
    },
    checkStrNull(str) {
      if (str && str.length>0) {
        return true
      } else {
        return false
      }
    },
    checkMust() {
      let flag = false
      if (!this.checkStrNull(this.cname)) {
        showAlert('請輸入姓名')
      } else if (!this.checkStrNull(this.mobile)) {
        showAlert('請輸入手機號碼')  
      } else if (!this.checkStrNull(this.addrs)) {
        showAlert('請輸入地址')
      } else if (this.cleanItemSelect == 'none') {
        showAlert('請選擇服務項目')
      } else if (!this.checkStrNull(this.periodSelect)) {
        showAlert('請選擇時段')
      } else {
        flag = true
      }
      return flag
    },
    async save() {
      if (this.checkMust()) {
        // https://wuhuapp.jh8.tw/Public/AppBooking.ashx
        const url = this.$store.getters.appBookUrlWuhu
        const body = this.$store.getters.appBodyWuhu({act: 'add_newbooking'})

        body.ServiceKind = '02' // 01: hotel, 02: clean
        body.ContactName = this.cname
        body.ContactTel = this.mobile
        body.ContactAddress = this.addrs
        body.KindCode = this.cleanItemSelect // clean
        body.BeginDate = moment(this.singleDate).format('YYYY-MM-DD')
        body.KindDescs = this.periodSelect
        body.Remark = this.remarkClean

        const data = await fetchData({url, body})

        if (data.error) {
          showAlert(data.msg)
        } else {
          showAlert('送出成功')
          this.$router.push(`/booking`)
        }
      }
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchAppLogoWuhu') // 上方logo須重撈不然refresh會不見
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    // next();
    next((vm) => { // vm is the Vue instance
      vm.setDefaultVipInfo() // 取得預約人基本資料
      vm.setDefaultDate() // 設定預設起迄時間
      vm.setCleanItem() // 取得清潔項目清單
      vm.clearData2Default() // 把所有資料清到預設值
    })
  },
  // 建立頁面後
  // created: function(){
  //   this.setDefaultVipInfo() // 取得預約人基本資料
  //   this.setDefaultDate() // 設定預設起迄時間
  //   this.setCleanItem()
  // },
}
</script>