<template>
  <div class="px-4 mx-auto" style="max-width: 500px">
    <div class="w3-center pt-4 pb-2">
      <img src="../../assets/images/wuhu_logo.png" style="height:10rem">
    </div>
    <div class="tabs is-centered is-boxed is-fullwidth is-medium">
      <ul class="ml-0">
        <li :class="{'is-active':isTab=='tab1'}" @click="isTab='tab1';useTransition()">
          <a class="py-2">
            <span>會員</span>
          </a>
        </li>
        <li :class="{'is-active':isTab=='tab2'}" @click="isTab='tab2';useTransition()">
          <a class="py-2">
            <span>員工</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 會員登入表單 -->
    <transition :name="isTransition" mode="out-in">
      <div key="tab1" v-if="isTab=='tab1'">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="text" placeholder="身分證字號" v-model="loginForm.account">
            <span class="icon is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="password" placeholder="密碼" v-model="loginForm.password">
            <span class="icon is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button primary-color is-fullwidth is-medium mt-4" :disabled="loginForm.submited" @click="login">
              <span v-if="!loginForm.submited">確定</span>
              <span v-if="loginForm.submited">登入中...</span>
            </button>
            <div class="mt-3 text-right">
              <!-- <a @click="showAlert('請聯絡管理員<br>07-2130199轉9 或<br>0800-668-179轉9')">
                忘記密碼？
              </a> -->
							<a @click="pwModal = true; $store.commit('setCssTouch', false)">忘記密碼</a>
            </div>
          </div>
        </div>
      </div>
      <div key="tab2" v-if="isTab=='tab2'">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="text" placeholder="身分證字號" v-model="loginForm.account">
            <span class="icon is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="password" placeholder="密碼" v-model="loginForm.password">
            <span class="icon is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button primary-color is-fullwidth is-medium mt-4" :disabled="loginForm.submited" @click="login">
              <span v-if="!loginForm.submited">確定</span>
              <span v-if="loginForm.submited">登入中...</span>
            </button>
            <div class="mt-3 text-right">
              <!-- <a @click="showAlert('請聯絡管理員<br>07-2130199轉9 或<br>0800-668-179轉9')">
                忘記密碼？
              </a> -->
							<a @click="pwModal = true">忘記密碼</a>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <!--<div class="field mt-3">
      <label class="checkbox">
        <input type="checkbox" v-model="loginForm.rememberMe">
        保持登入狀態
      </label>
      -->
      <!-- <a @click="$router.push('/register')" style="position: absolute;right: 17px;">
        加入會員
      </a>
    </div> -->

    <!-- 忘記密碼 Modal -->
    <div class="modal is-active" v-if="pwModal">
      <div class="modal-background"></div>
      <div class="modal-card p-3">
        <header class="modal-card-head border-0 py-3 justify-content-center">
          <p class="modal-card-title is-size-5 text-center">忘記密碼</p>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input rounded-0 border-top-0 border-left-0 border-right-0 shadow-none" type="text" placeholder="請輸入身分證字號" v-model="forgotPWForm.memberCode" name="usrname">
              <span class="icon is-left">
                <i class="fas fa-user-alt"></i>
              </span>
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control has-icons-left is-expanded">
              <input class="input rounded-0 border-top-0 border-left-0 border-right-0 shadow-none" type="text" placeholder="驗證碼" v-model="forgotPWForm.SMSValidateCode" name="pscode">
              <span class="icon is-left">
                <i class="fas fa-key"></i>
              </span>
            </p>
            <p class="control">
              <button class="w-100 button is-warning" :disabled="forgotPWForm.countNum > 0" @click="getSMSValidateCode">
                <b>{{ (forgotPWForm.countNum > 0) ? `${forgotPWForm.countNum} 秒後重發` : '取得驗證碼' }}</b>
              </button>
            </p>
          </div>
        </section>
        <footer class="modal-card-foot border-0 d-block bg-white pt-0">
          <div class="columns is-mobile is-variable is-1 mt-n1">
            <div class="column">
              <button class="button is-fullwidth text-wide is-light border" @click="pwModal = false; $store.commit('setCssTouch', true)">
                <b>取消</b>
              </button>
            </div>
            <div class="column">
              <button class="button is-fullwidth is-link" @click="snedAppSMSForgetPW" :disabled="forgotPWForm.memberCode=='' || forgotPWForm.SMSreCode=='' || forgotPWForm.SMSValidateCode==''">
                <b>取得新密碼</b>
              </button>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { isLogin, showAlert } from 'src/libs/appHelper.js'
import { reactive, ref, computed } from '@vue/composition-api'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'


const pwModal = ref(false)
// 取今天日期 (格式： yyyymmdd => e.g. 20190514)
const currentDay = computed(() => new Date().toISOString().slice(0,10).replace(/-/g,"") )
// 簡訊發送間隔的最低時間 (預設： 50 秒)
const AppSMSIntervalMin = computed(() => parseInt(store.state.SMS_Config.AppSMSIntervalMin) )
// 簡訊每日發送上限 (預設： 5 封)
const APPSMSDayTimes = computed(() => parseInt(store.state.SMS_Config.APPSMSDayTimes) )
// 取簡訊的發送扣打紀錄
const SMSSendQuota = computed(() => store.state.SMS_Config.SMSSendQuota )
// 取簡訊驗證碼
const SMSreCode = computed(() => store.state.SMS_Config.reCode )
// 取簡訊驗證碼
const userTag = computed(() => store.state.baseInfo.userTag )

const forgotPWForm = reactive({
  countNum: 0,
  counter: '',
  memberCode: '',
  SMSValidateCode: '',
  SMSCurrentQuota: 0
})

// 驗證是否還有扣打能發送簡訊
function validateSMSSendQuota() {
  // 扣打紀錄是空的 => true
  if (SMSSendQuota.value === '') return true
  // 扣打紀錄跟今日日期不同 => true
  if (SMSSendQuota.value.substring(0, 8) !== currentDay.value) return true
  // 更新今日扣打數量
  const currentQouta = parseInt(SMSSendQuota.value.substring(9))
  forgotPWForm.SMSCurrentQuota = currentQouta
  // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
  if (currentQouta >= APPSMSDayTimes.value) return false
  if (currentQouta <  APPSMSDayTimes.value) return true
}

// 驗證手機號碼 => 發送驗證碼簡訊
async function getSMSValidateCode() {
  const {memberCode, SMSCurrentQuota} = forgotPWForm
  console.log('memberCode', memberCode)
  // 跟殼取簡訊已發送扣打資料
  deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')


	/** @Important: ※龍海只用身份證當帳號... */
/* 
  // 手機號碼格式驗證
  if (memberCode == '') return showAlert('請輸入手機號碼')
  const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
  const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
  // 依據手機格式加入國碼
  let countyNum = ''
  if ( twMobilePhoneRegxp.test(memberCode) ) countyNum = '886'
  if ( cnMobilePhoneRegxp.test(memberCode) ) countyNum = '86'
  if ( twMobilePhoneRegxp.test(memberCode) === false && cnMobilePhoneRegxp.test(memberCode) === false ) return showAlert('手機號碼格式錯誤')
 */

  let countyNum = '';
  // 檢測此手機號碼是否存在
  const res = await store.dispatch('ensureMemberCodeNotRegistered', memberCode)
  if (res.ErrorCode !== '0') return showAlert('查無此會員，請重新輸入')
  if (validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${APPSMSDayTimes.value} 封簡訊)`)

  // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
  forgotPWForm.countNum = AppSMSIntervalMin.value
  // 啟動倒數計時
  forgotPWForm.counter = setInterval(() => {
    // 到 0 時清除倒數計時
    if (forgotPWForm.countNum <= 0) { clearInterval(forgotPWForm.counter) }
    // 每一秒 - 1
    forgotPWForm.countNum = forgotPWForm.countNum - 1;
  }, 1000);

  // sample: '20190514-3'
  const SMSSendQuota = `${currentDay.value}-${SMSCurrentQuota + 1}`

  // 發送簡訊認證碼
  sendDeviseSMSreCode({ phone: `${memberCode};;${countyNum}`, SMSSendQuota: SMSSendQuota })
}

// 確認簡訊驗證碼 -> 發送忘記密碼的簡訊
function snedAppSMSForgetPW(){
  const {memberCode, SMSValidateCode} = forgotPWForm
  if (SMSreCode.value == '') return showAlert('請先取得簡訊驗證碼')
  if (SMSreCode.value != SMSValidateCode) return showAlert('簡訊驗證碼錯誤，請重新輸入')
  // 驗證 ok -> 清除 SMSreCode
  store.commit('setSMSreCode', '')

  // 啟動殼的忘記密碼 functuin (會更改會員帳號的密碼，並簡訊通知該會員新密碼)
  deviseFunction('AppSMSForgetPW', memberCode, '')
  // 提示已寄送新密碼，關掉 modal
  pwModal.value = false
  showAlert('已將新密碼用簡訊傳送至您的手機，請用新密碼登入')
}

const loginForm = reactive({
  submited: false,
  account: '',
  password: '',
  rememberMe:  true,
  userTag:'member', // member 會員 / employee 員工,二擇一
})

async function login() {
  if (!loginForm.account) return showAlert('請輸入帳號')
  if (!loginForm.password) return showAlert('請輸入密碼')
  loginForm.submited = true

  // 帳號變大寫
  loginForm.account = loginForm.account.toUpperCase()  
  await store.dispatch('memberLogin', loginForm)

  loginForm.submited = false
  loginForm.password = ''
  loginForm.account = ''
}

export default {
  name: "kakarLogin",
  data: () => ({
    isTab: 'tab1',
    isTransition: 'slide-toleft'
  }),
  methods: {
    useTransition() {
      if(this.isTab == 'tab1') this.$nextTick(() => { this.isTransition = 'slide-toleft';loginForm.userTag='member'; })
      if(this.isTab == 'tab2') this.$nextTick(() => { this.isTransition = 'slide-toright';loginForm.userTag='employee'; })
    },
    useTransition_back() {
      if(this.loginForm.userTag == 'member') this.$nextTick(() => { this.isTab = 'tab1' })
      if(this.loginForm.userTag == 'employee') this.$nextTick(() => { this.isTab = 'tab2' })
      
    }
  },
  beforeRouteEnter(to, from, next) {
    // 如果已登入，導向首頁
    if (isLogin.value) return next('/')
    next((vm)=>{       
      vm.loginForm.userTag = userTag.value;
      vm.useTransition_back();
    })
  },
  beforeRouteLeave(to, from, next) {
    // 離開頁面時，清空表單設定
    pwModal.value = false
    forgotPWForm.memberCode = ''
    forgotPWForm.SMSValidateCode = ''

    loginForm.submited = false
    loginForm.password = ''
    loginForm.account = ''
    next()
  },
  setup() {
    return { isLogin, loginForm, login, pwModal, forgotPWForm, getSMSValidateCode, snedAppSMSForgetPW, SMSreCode, showAlert }
  },
}
</script>
<style lang="scss" scoped>
.tabs {
  ul {
    border-color: var(--primary-color);
    border-width: 1px;
  }
  &.is-boxed {
    li a {
      border-radius: 8px 8px 0 0;
    }
    li.is-active a {
      border-color: var(--primary-color);
      background: linear-gradient(to bottom, #e3f3ff, white);
      box-shadow: inset 0 0 0 1px white;
      > span {
        font-weight: bold;
      }
    }
  }
}
</style>
