<template>
  <div>
    <div class="w3-container">
      <!-- 手機驗證碼 -->
      <div v-if="isConfirmed == false">
        <div class="w3-row w3-section">
          <div class="w3-col" style="width: 25%;">
            <div class="w3-display-container" style="margin-right: 0.5rem;" @click="isTerms='countryCode';$store.commit('setCssTouch', false)">
              <p class="w3-white w3-select w3-border-bottom w3-border-gray w3-round" style="margin: 0;padding-left: 0.5rem;border-radius: 0;">
                +{{registerForm.member_country}}
              </p>
              <i class="fas fa-fw fa-caret-down w3-display-right" style="margin-right: 0.25rem;"></i>
            </div>
          </div>
          <div class="w3-col" style="width: 75%;">
            <input class="w3-input w3-border-bottom w3-border-gray w3-large" v-model="registerForm.memberphone" type="number" pattern="[0-9]*" placeholder="手機號碼(必填)" name="usrname" required="">
          </div>
        </div>
        <div class="w3-section w3-display-container">
          <input class="w3-input w3-block w3-border-bottom w3-border-gray w3-large" type="tel" pattern="[0-9]*" v-model="SMSValidateCode" placeholder="驗證碼" name="pscode" required>
          <button class="w3-button w3-round w3-display-topright" style="background-color: yellow;margin:2px" :disabled="countNum > 0" @click="getSMSValidateCode">{{ (countNum > 0) ? `${countNum} 秒後重發` : '取得驗證碼' }}</button>
        </div>
        <button class="w3-button w3-block w3-large w3-round w3-section primary-color" @click="confirmSmsCode('generic')">註冊</button>
        <div class="w3-text-gray w3-padding-16">
          1. 輸入註冊的手機號碼，並按發[驗證碼]按鍵。<br>
          2. 手機收到簡訊驗證碼通知。<br>
          3. 輸入驗證碼。<br>
          4. 進入會員註冊畫面，請填入基本資料與密碼，即完成一般會員註冊。
        </div>
      </div>
      <!-- 資料填寫 -->
      <div v-else>
        <!-- start 為了 skip chrome 的自動填入 -->
        <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
        <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />
        <!-- end 為了 skip chrome 的自動填入 -->

        <input autocomplete="off" class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" type="email" v-model="registerForm.memberEmail" placeholder="電子信箱" name="email">
        <input class="w3-input w3-w3-border-bottom w3-border-gray w3-large w3-section" type="text" v-model="registerForm.membername" placeholder="姓名" name="usrname" required>
        <!-- 住址 -->
  <!--       <div class="w3-section" v-if="registerForm.memberAddr == ''">
          <div class="citySelector w3-white w3-border w3-large w3-round w3-show-inline-block w3-display-container" style="width:30%">
            <select v-model="selectedCounty" class="w3-large w3-round w3-padding-small w3-padding-8">
              <option>選縣市</option>
              <option v-for="county in counties" :value="county">{{county}}</option>
            </select>
            <i class="fas fa-sort-down w3-display-right"></i>
          </div>
          <div class="citySelector w3-white w3-border w3-large w3-round w3-show-inline-block w3-display-container" style="width:30%">
            <select v-model="selectedArea" class="w3-white w3-border w3-large w3-round w3-padding-small w3-padding-8">
              <option>選區域</option>
              <option v-for="area in areas" :value="area">{{area}}</option>
            </select>
            <i class="fas fa-sort-down w3-display-right"></i>
          </div>
          <input v-if="selectedArea!='選區域'&&selectedArea!=''" v-model="addrStreet" class="w3-input w3-border w3-large w3-round w3-show-inline-block" type="text" placeholder="地址" style="margin-top:.5rem">
        </div>
        <div class="w3-section" v-if="registerForm.memberAddr != ''">
          <input v-model="registerForm.memberAddr" class="w3-input w3-border w3-large w3-round w3-show-inline-block" type="text" placeholder="地址" style="margin-top:.5rem">
        </div> -->
        <div class="w3-small w3-text-deep-orange" style="margin-bottom:-.5rem;">* 會員生日資訊一旦註冊將無法變更</div>
        <datepicker
          name="birth"
          placeholder="生日(必填)"
          v-model="registerForm.memberBirthday"
          :language="zh"
          :clear-button="false"
          :format="'yyyy-MM-dd'"
          :input-class="'w3-input w3-w3-border-bottom w3-border-gray w3-large w3-round w3-section'"
        />
        <!-- <input id="dp" class="w3-input w3-w3-border-bottom w3-border-gray w3-large w3-round w3-section" type="text" v-model="registerForm.memberBirthday" placeholder="生日(必填)" name="birth" readonly required> -->
        <div class="w3-section">
          性別：
          <input type="radio"  name="gender" id="male" v-model="registerForm.memberSex" value="男" class="w3-radio w3-margin-left">
          <label for="male">先生</label>
          <input type="radio" name="gender" id="female" v-model="registerForm.memberSex" value="女" class="w3-radio w3-margin-left">
          <label for="female">小姐</label>
        </div>
        <div autocomplete="off" class="w3-small w3-text-deep-orange" style="margin-bottom:-.5rem;">* 密碼最少6位數，並包含英文與數字</div>
        <input class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" type="password" v-model="registerForm.memberPwd" placeholder="密碼(必填)" name="pw" required>
        <input class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" type="password" v-model="memberPwdConfirm" placeholder="確認新密碼(必填)" name="pw2" required>
        <div class="w3-section">
          <div class="w3-row">
            <div class="w3-col s1"><input v-model="formIsChecked" class="w3-check" type="checkbox" style="top:0"></div>
            <div class="w3-col s11">
              我已同意並詳閱 卡+  <u class="primary-text-red" @click="isTerms='terms01';$store.commit('setCssTouch', false)">關於個人資料蒐集與使用之規定</u>，並成為 卡+ 會員，使用相關服務。
            </div>
          </div>
        </div>
        <button class="w3-button w3-block w3-large w3-round primary-color" style="margin-top:1.5rem" @click="submitForm()" :disabled="isDisabled">加入會員</button>
      </div>
    </div>

    <!-- 聲明條款滑出圖層 -->
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isTerms==='terms01'">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="isTerms='';$store.commit('setCssTouch', true)">
        </header>
        <div class="w3-row w3-large tabBar w3-light-gray">
          <div class="w3-col s4 w3-bottombar w3-center tabLink" style="width:100%">隱私權政策</div>
        </div>
        <p class="w3-container" style="white-space:pre-wrap;overflow-y:auto;height:calc(100vh - 9rem)">{{termsData}}</p>
      </div>
      <div class="w3-white funcLayer" v-if="isTerms==='countryCode'">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <i class="fas fa-fw fa-times fa-lg w3-opacity" @click="isTerms='';$store.commit('setCssTouch', true)"></i>
        </header>
        <div class="w3-row w3-large tabBar w3-light-gray">
          <div class="w3-col s4 w3-bottombar w3-center tabLink" style="width:100%">選擇國家或地區</div>
        </div>
        <div class="w3-large" style="white-space:pre-wrap;overflow-y:auto;height:calc(100vh - 7rem)">
          <table class="w3-table w3-bordered">
            <tbody>
              <tr @click="isTerms='';$store.commit('setCssTouch', true);registerForm.member_country='86'">
                <td class="w3-padding-16" style="width:100px">+86</td>
                <td class="w3-padding-16">中國大陸</td>
              </tr>
              <tr @click="isTerms='';$store.commit('setCssTouch', true);registerForm.member_country='886'">
                <td class="w3-padding-16">+886</td>
                <td class="w3-padding-16">台灣</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
const termsData = `為保護您的隱私權，請您詳細閱讀以下有關季河資訊隱私權政策，請注意，本《隱私權政策》會不定時變更。

個人資料的收集與使用
個人資料是指可以用於辨識或聯絡個別人士的資料。

在您與季河資訊公司或季河資訊公司關聯公司接觸之時，即可能被要求提供個人資料。季河資訊公司及其關聯公司或會相互共享此等個人資料，並按本私隱權政策的規定使用。季河資訊公司及其關聯公司亦可能將個人資料與其他資料結合，用以提供並提升季河資訊產品、服務、內容及廣告。您並不一定要提供我們所要求的個人資料，但若您選擇不提供，在許多情況下，我們將無法為您提供我們的產品或服務，或者答覆您任何疑問。

以下示例說明季河資訊可能收集的個人資料類型以及運用方法：

* 我們會收集哪些個人資料
在您建立季河資訊帳號、購買產品、下載軟件更新、聯絡我們、或者參與網上問卷調查時，我們可能收集各種資料，包括您的姓名、通訊地址、電話號碼、電郵地址、首選聯絡方式及信用卡資料。
在您使用季河資訊公司產品與家人朋友分享您的內容、寄送禮券及產品、或者邀請他人使用季河資訊公司服務時，季河資訊公司可能收集您就有關人士提供的資料，例如姓名、通訊地址、電郵地址及電話號碼。季河資訊公司會使用此等資料完成您的要求、提供相關產品或服務、或作防止詐騙用途。
在個別司法管轄區內，我們可能要求您提供政府簽發的身分證明文件，但僅限於少數情況，包括設定無線帳戶及啟用裝置時、決定是否延長商業信貸時、管理預約時、或為履行法例規定時。

* 我們如何使用您的個人資料
我們所收集的個人資料，使我們得以通知您有關季河資訊公司最新產品公佈、軟件更新、以及即將舉行的活動。若您不希望列載於我們的通訊名單上，您只要更新您的偏好選項，即可隨時退出。
此外，我們會使用相關個人資料協助建立、開發、操作、提供及提升我們的產品、服務、內容和廣告，並作防損及防詐騙用途。
我們可能會使用您的個人資料(包括出生日期)驗證身分、協助進行用戶驗證及判斷適合的服務。例如，我們可能會使用出生日期來判斷季河資訊相關服務或應用程式帳戶持有者的年齡。
我們亦可能不時使用您的個人資料傳送重要通知，例如有關購買產品以及條款、細則和政策變更之通訊。由於此等資訊對您與 季河資訊 公司之互動關係十分重要，因此您無法選擇不再接收這些通訊。
我們亦可能為內部目的使用個人資料，例如：審計、資料分析及研究等，以改進 季河資訊 公司之產品、服務及客戶溝通。
若您參加各種抽獎、競賽或類似的促銷活動，我們亦可能使用您提供的資料進行該些活動。

* 非個人資料的收集與使用
我們亦會收集本身不與任何特定個別人士直接有關的數據資料。我們可能為任何目的收集、使用、移轉及披露非個人資料。以下示例說明我們可能收集的非個人資料以及運用方法：
我們可能收集的資料包括職業、語言、郵遞區號、區碼、裝置唯一識別碼、訪客來源網址、位置、以及 季河資訊公司產品使用地的時區，使我們得以進一步了解客戶行為，並改進我們的產品、服務及廣告。
我們可能收集客戶瀏覽我們的網站及我們其他產品和服務時的活動資料。此等資料會經過彙整及用以協助我們提供更有用的資料給客戶，並了解我們網站、產品及服務的哪些部分最受歡迎。在本私隱權政策下，經彙整的數據會被視作非個人資料。
我們可能會就您使用我們服務的情況收集並儲存相關資料，包括搜尋查詢。此等資訊可用於提升我們服務所提供之搜尋結果的相關度。除非在少數情況下，我們須確保透過互聯網提供之服務的質素，否則此等資訊不會與您的 IP 位址建立關聯。
獲得您明確同意後，我們可能就您使用裝置和應用程式的情況收集相關資料，以協助 app 開發人員提升他們的 app。 若我們結合非個人資料與個人資料，則結合資料在結合之情形下，均被視作個人資料。

* 披露予第三方
季河資訊公司有時可能提供特定個人資料，予配合季河資訊公司提供產品與服務或協助季河資訊公司向客戶行銷的策略性合作夥伴。若您獲准使用服務，您的帳戶將受季河資訊公司及您的電訊商各自的私隱權政策所約束。季河資訊公司僅會分享個人資料以提供或提升我們的產品、服務及廣告，而不會與第三方分享供其用於市場行銷用途。

* 應用程式
App軟體系統之同時也使用其他附加功能、外掛程式或第三方之應用程式（以下簡稱「應用程式」），該等應用程式的提供者可能會取得某些您的個人資料。

* 服務供應商
季河資訊公司僅與提供下列服務的公司分享個人資料，例如：資料處理、延長信貸、完成客戶訂單、向您交付產品、管理及提升客戶資料、提供客戶服務、評估您對我們產品與服務的興趣、以及進行客戶研究或滿意度調查。這些公司有義務保護您的資料，其可能位於季河資訊公司營運的任何地方。

* 其他人士
若您居住的國家/地區內外有相關法例規定、法律程序、訴訟及/或公共機關和政府機關提出要求，季河資訊公司可能必須披露您的個人資料。若我們認為基於國家安全、法律執行或其他重要公共議題，披露您的資料屬必要或恰當，則我們亦可能作出披露。
若為執行我們的條款及細則或保障我們的營運或使用者，而令我們認為披露您的資料屬合理必要，則我們亦可能作出披露。此外，若發生公司重組、合併或出售事宜，我們亦可能轉移任何及全部我們所收集的個人資料予相關第三方。

* 保護個人資料
季河資訊儲存您的個人數據資料時，所使用的電腦系統設有存取權限制，且置於採用實體安全措施的設施中。
在您使用季河資訊公司的某些產品、服務或應用程式，或於聊天室或社交網絡服務上發佈資料時，其他使用者將可看到您分享的個人資料及內容，並且可以讀取、收集或使用此等資料。對於您在此等情況下選擇分享或提交的個人資料，您必須自行負責。在使用某些功能時，請務必留意。

* 個人資料的完整性與保留
季河資訊公司讓您輕鬆保持準確、完整且最新的個人資料。我們保留您個人資料的期限，以完成本私隱權政策所載目的所需的時間為準，但若法律要求或容許更長的保留時間，則不在此限。

* 存取個人資料
就我們持有的其他個人資料而言，我們將為您提供存取權限，以便您在資料有誤時要求我們作出修正，或者依據法律或出於合法商業目的，季河資訊毋須保留此等資料時，要求我們刪除有關資料。

* 定位服務
為在季河資訊公司產品上提供定位服務，季河資訊公司及其合作夥伴與獲許可人可能會收集、使用和分享確切的位置資料，包括您的電腦或裝置的即時地理位置。在適用情況下，定位服務可能會使用 GPS、藍牙和您的 IP 位址，以及Wi-Fi熱點、信號塔位置和其他技術，以判斷您裝置大概的位置。除非獲得您的同意，否則此等位置資料是以無法辨識您個人身分的匿名形式收集，季河資訊公司及其合作夥伴與獲許可人會使用此等資料提供及改進定位產品與服務。例如，若您選擇使用應用程式供應商的定位服務，則您的裝置可能與該應用程式供應商分享地理位置資料。
季河資訊公司提供的某些定位服務，例如店家導航功能，必須要有您的個人資料，功能始能執行。

* 第三方網頁與服務
季河資訊公司的網站、產品、應用程式及服務可能含有連接第三方網站、產品和服務的連結。我們的產品與服務亦可能使用或提供第三方產品或服務，例如第三方app。
第三方所收集的資料 (可能包括位置資料或聯絡資訊等的資料) 均受該第三方的私隱權實務所約束。我們鼓勵您了解此等第三方的私隱權實務。

* 我們全體對保護您私隱權的承諾
為確保您的個人資料安全，我們向 季河資訊 公司員工傳遞我們的私隱權與安全準則，並在公司內嚴格執行私隱權防護措施。

* 私隱權問題
如對季河資訊的私隱權政策或數據處理的事宜有任何問題或疑慮，或想對可能違反當地私隱權法例的情況作出投訴，請聯絡我們。您可隨時撥打季河資訊服務電話號碼聯絡我們。
季河資訊公司可以不時更新其私隱權政策。我們對本政策作出重大修改時，將在我們網站上張貼公告，並附上更新後的私隱權政策。
`

import store from 'src/store'
import { showAlert } from 'src/libs/appHelper.js'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
import datepicker from 'vuejs-datepicker'
import { zh } from 'vuejs-datepicker/dist/locale'

export default {
  components: { datepicker },
  data: function(){
    return {
      zh: zh,
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      SMSValidateCode: '',
      SMSCurrentQuota: 0,
      countNum: 0,
      counter: '',
      isConfirmed: false,
      isDisabled: false,
      isTerms: '',
      termsData: termsData,
      formIsChecked: false,
      memberPwdConfirm: '',
      registerForm: {
        member_country: '886',
        membername: '',
        memberphone: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        memberAddr: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: ''
      },
      placeData:
      {"台北市":["中正區","大同區","中山區","萬華區","信義區","松山區","大安區","南港區","北投區","內湖區","士林區","文山區"],"新北市":["板橋區","新莊區","泰山區","林口區","淡水區","金山區","八里區","萬里區","石門區","三芝區","瑞芳區","汐止區","平溪區","貢寮區","雙溪區","深坑區","石碇區","新店區","坪林區","烏來區","中和區","永和區","土城區","三峽區","樹林區","鶯歌區","三重區","蘆洲區","五股區"],"基隆市":["仁愛區","中正區","信義區","中山區","安樂區","暖暖區","七堵區"],"桃園市":["桃園區","中壢區","平鎮區","八德區","楊梅區","蘆竹區","龜山區","龍潭區","大溪區","大園區","觀音區","新屋區","復興區"],"新竹市":["東區","北區","香山區"],"新竹縣":["竹北市","竹東鎮","新埔鎮","關西鎮","峨眉鄉","寶山鄉","北埔鄉","橫山鄉","芎林鄉","湖口鄉","新豐鄉","尖石鄉","五峰鄉"],"苗栗縣":["苗栗市","通霄鎮","苑裡鎮","竹南鎮","頭份市","後龍鎮","卓蘭鎮","西湖鄉","頭屋鄉","公館鄉","銅鑼鄉","三義鄉","造橋鄉","三灣鄉","南庄鄉","大湖鄉","獅潭鄉","泰安鄉"],"台中市":["中區","東區","南區","西區","北區","北屯區","西屯區","南屯區","太平區","大里區","霧峰區","烏日區","豐原區","后里區","東勢區","石岡區","新社區","和平區","神岡區","潭子區","大雅區","大肚區","龍井區","沙鹿區","梧棲區","清水區","大甲區","外埔區","大安區"],"彰化縣":["彰化市","員林市","和美鎮","鹿港鎮","溪湖鎮","二林鎮","田中鎮","北斗鎮","花壇鄉","芬園鄉","大村鄉","永靖鄉","伸港鄉","線西鄉","福興鄉","秀水鄉","埔心鄉","埔鹽鄉","大城鄉","芳苑鄉","竹塘鄉","社頭鄉","二水鄉","田尾鄉","埤頭鄉","溪州鄉"],"南投縣":["南投市","埔里鎮","草屯鎮","竹山鎮","集集鎮","名間鄉","鹿谷鄉","中寮鄉","魚池鄉","國姓鄉","水里鄉","信義鄉","仁愛鄉"],"嘉義市":["東區","西區"],"嘉義縣":["太保市","朴子市","布袋鎮","大林鎮","民雄鄉","溪口鄉","新港鄉","六腳鄉","東石鄉","義竹鄉","鹿草鄉","水上鄉","中埔鄉","竹崎鄉","梅山鄉","番路鄉","大埔鄉","阿里山鄉"],"雲林縣":["斗六市","斗南鎮","虎尾鎮","西螺鎮","土庫鎮","北港鎮","莿桐鄉","林內鄉","古坑鄉","大埤鄉","崙背鄉","二崙鄉","麥寮鄉","台西鄉","東勢鄉","褒忠鄉","四湖鄉","口湖鄉","水林鄉","元長鄉"],"高雄市":["楠梓區","左營區","鼓山區","三民區","鹽埕區","前金區","新興區","苓雅區","前鎮區","小港區","旗津區","鳳山區","大寮區","鳥松區","林園區","仁武區","大樹區","大社區","岡山區","路竹區","橋頭區","梓官區","彌陀區","永安區","燕巢區","田寮區","阿蓮區","茄萣區","湖內區","旗山區","美濃區","內門區","杉林區","甲仙區","六龜區","茂林區","桃源區","那瑪夏區"],"台南市":["中西區","東區","南區","北區","安平區","安南區","永康區","歸仁區","新化區","左鎮區","玉井區","楠西區","南化區","仁德區","關廟區","龍崎區","官田區","麻豆區","佳里區","西港區","七股區","將軍區","學甲區","北門區","新營區","後壁區","白河區","東山區","六甲區","下營區","柳營區","鹽水區","善化區","大內區","山上區","新市區","安定區"],"屏東縣":["屏東市","潮州鎮","東港鎮","恆春鎮","萬丹鄉","長治鄉","麟洛鄉","九如鄉","里港鄉","鹽埔鄉","高樹鄉","萬巒鄉","內埔鄉","竹田鄉","新埤鄉","枋寮鄉","新園鄉","崁頂鄉","林邊鄉","南州鄉","佳冬鄉","琉球鄉","車城鄉","滿州鄉","枋山鄉","霧台鄉","瑪家鄉","泰武鄉","來義鄉","春日鄉","獅子鄉","牡丹鄉","三地門鄉"],"宜蘭縣":["宜蘭市","羅東鎮","蘇澳鎮","頭城鎮","礁溪鄉","壯圍鄉","員山鄉","冬山鄉","五結鄉","三星鄉","大同鄉","南澳鄉"],"花蓮縣":["花蓮市","鳳林鎮","玉里鎮","新城鄉","吉安鄉","壽豐鄉","秀林鄉","光復鄉","豐濱鄉","瑞穗鄉","萬榮鄉","富里鄉","卓溪鄉"],"台東縣":["台東市","成功鎮","關山鎮","長濱鄉","海端鄉","池上鄉","東河鄉","鹿野鄉","延平鄉","卑南鄉","金峰鄉","大武鄉","達仁鄉","綠島鄉","蘭嶼鄉","太麻里鄉"],"澎湖縣":["馬公市","湖西鄉","白沙鄉","西嶼鄉","望安鄉","七美鄉"],"連江縣":["南竿鄉","北竿鄉","莒光鄉","東引鄉"],"金門縣":["金城鎮","金湖鎮","金沙鎮","金寧鄉","烈嶼鄉","烏坵鄉"]
    },
      selectedCounty: '選縣市',
      selectedArea: '選區域',
      addrStreet: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 選縣市區域
    counties(){ return Object.keys(this.placeData) },
    areas(){ return this.placeData[this.selectedCounty] },
    // 簡訊發送間隔的最低時間 (預設： 50 秒)
    AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
    // 簡訊每日發送上限 (預設： 5 封)
    APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
    // 取簡訊的發送扣打紀錄
    SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
    // 取簡訊驗證碼
    SMSreCode()         { return this.state.SMS_Config.reCode },
    // 取今天日期 (格式： yyyymmdd => e.g. 20190514)
    currentDay()        { return new Date().toISOString().slice(0,10).replace(/-/g,"") },
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    // 如果已登入, 導向首頁
    const isLogin = store.getters.isLogin
    if (isLogin) return next('/');

    // default
    next();
  },
  // 在 router 離開此 component 時觸發 (可以用 this )
  beforeRouteLeave: function(to, from, next) {
    // 回到手機號碼表單畫面
    this.isConfirmed = false
    // 清空簡訊驗證碼 & 清空所有表單內容
    this.SMSValidateCode = ''
    this.countNum =  0
    this.counter =  ''
    this.isConfirmed =  false
    this.isDisabled =  false
    this.formIsChecked =  false
    this.memberPwdConfirm =  ''
    this.registerForm = {
      member_country: '886',
      membername: '',
      memberphone: '',
      memberPwd: '',
      memberEmail: '',
      memberBirthday: '',
      memberSex: '',
      memberAddr: '',
      isFromTD: '',
      MT_NickName: '',
      FromTDEmail: ''
    },

    next()
  },
  watch: {
    // 如果 data 有變化，會觸發指定的 function
    'registerForm.memberphone': 'setCounty'
  },
  // 頁面模組
  methods: {
    // 設定帳號所在的地區
    setCounty() {
      // 預設： 設為 886 (台灣)
      this.registerForm.member_country = '886'
      // 如果是中國的手機號碼格式, member_country 設定為 86
      if ( /^(1)\d*/.test(this.registerForm.memberphone) ) this.registerForm.member_country = '86'
    },
    // 選日期元件
    datePicker: function() {
      // var self = this;
      // this.$nextTick(function () {
      //   var options = {
      //     language: 'zh',
      //     autoClose: true,
      //     clearButton: true,
      //     view: 'years',
      //     position: 'bottom left',
      //     onSelect: function () {
      //       self.registerForm.memberBirthday = $("#dp").datepicker('getDate')[0].value;
      //     }
      //   };
      //   $("#dp").datepicker(options);
      // })
    },
    // 驗證手機號碼 => 發送驗證碼簡訊
    getSMSValidateCode(){
      // 跟殼取簡訊已發送扣打資料
      deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
      // 手機號碼格式驗證
      const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
      const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
      if (this.registerForm.memberphone == '') return showAlert('請輸入手機號碼')
      if (twMobilePhoneRegxp.test(this.registerForm.memberphone) === false && cnMobilePhoneRegxp.test(this.registerForm.memberphone) === false) return showAlert('手機號碼格式錯誤')

      // 檢測此手機號碼是否已註冊
      this.$store
        .dispatch('ensureMemberCodeNotRegistered', this.registerForm.memberphone)
        .then(res => {
          if (res.ErrorCode == '0') return showAlert('此手機號碼已註冊')
          if (this.validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`)

          // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
          this.countNum = this.AppSMSIntervalMin
          // 啟動倒數計時
          this.counter = setInterval(() => {
            // 到 0 時清除倒數計時
            if (this.countNum <= 0) { clearInterval(this.counter) }
            // 每一秒 - 1
            this.countNum = this.countNum - 1;
          }, 1000);

          // sample: '20190514-3'
          const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`

          // 發送簡訊認證碼
          sendDeviseSMSreCode({ phone: `${this.registerForm.memberphone};;${this.registerForm.member_country}`, SMSSendQuota: SMSSendQuota } )
        })
    },
    // 驗證是否還有扣打能發送簡訊
    validateSMSSendQuota() {
      // 扣打紀錄是空的 => true
      if (this.SMSSendQuota === '') return true
      // 扣打紀錄跟今日日期不同 => true
      if (this.SMSSendQuota.substring(0, 8) !== this.currentDay) return true
      // 更新今日扣打數量
      const currentQouta = parseInt(this.SMSSendQuota.substring(9))
      this.SMSCurrentQuota = currentQouta
      // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
      if (currentQouta >= this.APPSMSDayTimes) return false
      if (currentQouta <  this.APPSMSDayTimes) return true
    },
    // 確認驗證碼
    confirmSmsCode(fromCode) {
      // 判斷是否在殼裡面
      const inDeviseApp = (typeof(JSInterface) == 'object')

      if (this.registerForm.memberphone == '') return showAlert('請輸入手機號碼')
      if (inDeviseApp && this.SMSreCode == '') return showAlert('請先取得簡訊驗證碼')
      if (inDeviseApp && (this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')
      // 驗證 ok -> 清除 SMSreCode
      this.$store.commit('setSMSreCode', '')
      // 進入註冊表單頁面
      if (fromCode == 'generic') { this.isConfirmed = true; this.datePicker() }
      // 如果是點選 Facebook 註冊 -> 觸發 Facebook SDK login -> 回傳沒問題再進入註冊表單
      if (fromCode == 'fb') this.$store.dispatch('deviseFacebookSignup').then(() => {
        // 二秒後再開啟註冊表單頁面
        setTimeout(()=>{ this.isConfirmed = true; this.datePicker() }, 2000)
      })
    },
    // 送出註冊表單
    submitForm() {
      this.isDisabled = true
      const formData = this.registerForm

      // email 驗證
      // eslint-disable-next-line
      const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (formData.memberEmail != '' && emailRegex.test(formData.memberEmail) != true) { this.isDisabled = false ; return showAlert('email 格式錯誤') }
      // 條款確認
      if (this.formIsChecked == false) { this.isDisabled = false ; return showAlert('會員條款未確認') }
      // 密碼確認
      if (this.memberPwdConfirm != formData.memberPwd) { this.isDisabled = false ; return showAlert('密碼與密碼確認不一致') }
      if (formData.memberPwd == '') { this.isDisabled = false ; return showAlert('密碼未填') }
      // 姓名確認
      //if (formData.membername == '') { this.isDisabled = false ; return showAlert('姓名未填') }
      // 生日確認
      if (formData.memberBirthday == '') { this.isDisabled = false ; return showAlert('生日未填') }
      // 性別確認
      if (formData.memberSex == '')  { this.isDisabled = false ; return showAlert('請選擇性別') }
      // 地址確認
      if (this.addrStreet != '') formData.memberAddr = this.selectedCounty + this.selectedArea + this.addrStreet
      // 將第三方資訊塞入
      formData.isFromTD = this.state.member.isFromTD
      formData.FromTDID = this.state.member.FromTDID
      formData.MT_NickName = this.state.member.MT_NickName
      formData.FromTDEmail = this.state.member.FromTDEmail

      this.$store.dispatch('ensureMemberRegister', formData).then(res => {
        // 顯示結果
        showAlert(res.ErrorMsg)
        // 如果註冊失敗 => 解除 disabled
        if (res.ErrorCode != '0') this.isDisabled = false
        // 如果註冊成功 => 導向登入頁
        if (res.ErrorCode == '0') {
          // 表單資料初始化
          this.resetForm()
          this.$router.push('/login')
        }
      })

    },
    // 表單資料初始化
    resetForm() {
      this.isConfirmed = false
      this.isDisabled = false
      this.formIsChecked = false
      this.registerForm = {
        member_country: '886',
        membername: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
      }
    },
  },
}
</script>
