<template>
  <div>
    <!-- 設定頁 -->
    <div class="is-size-5" v-if="!type">
      <!-- 基礎資訊 -->
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h6 class="subtitle my-2 has-text-centered" :style="{ fontSize: fontSizeBase*20 + 'px' }">設定資訊</h6>
          </div>
        </div>
      </section>
      <section>
        <ul class="w3-ul m-0" :style="{ fontSize: fontSizeBase*18 + 'px' }">
          <li @click="enableDebug">
            <div class="w3-cell-row">
              <div class="w3-cell w3-cell-middle has-text-grey">版本號</div>
              <div class="w3-cell w3-cell-middle has-text-right">
                <span v-if="isStaging" class="is-size-6 has-text-grey">(測試站) </span>
                <b>20211217-001</b><b v-if="isTestAPI">*</b>
              </div>
            </div>
          </li>
          <!-- 隱藏推播開關(預設開啟) <li>
            <div class="w3-cell-row">
              <div class="w3-cell w3-cell-middle has-text-grey">接收推播訊息</div>
              <div class="w3-cell w3-cell-middle has-text-right">
                <label class="switch">
                  <input type="checkbox" v-model="pushNotify" @click="deviseSetPushNotify(pushNotify)"> <span class="slider round"></span>
                </label>
              </div>
            </div>
          </li> -->
        </ul>
      </section>
      <!-- 會員資訊 -->
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h6 class="subtitle my-2 has-text-centered" :style="{ fontSize: fontSizeBase*20 + 'px' }">會員資訊</h6>
          </div>
        </div>
      </section>
      <section>
        <ul class="w3-ul m-0" :style="{ fontSize: fontSizeBase*18 + 'px' }">
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">帳號</div>
              <div class="column has-text-right">
                <b>{{displayAccount}}</b>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">姓名</div>
              <div class="column has-text-right">
                <b>{{userData.Name}}</b>
              </div>
            </div>
          </li>
          <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">生日</div>
              <div class="column has-text-right">
                <!-- <b>民國 {{birthday}}</b> -->
                <b>{{birthday}}</b>
              </div>
            </div>
          </li>
          <!-- <li>
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">性別</div>
              <div class="column has-text-right">
                <b>{{(userData.Sex == 'True') ? "男" : "女"}}</b>
              </div>
            </div>
          </li> -->
          <li v-if="userData.Email !== ''">
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">電子信箱</div>
              <div class="column has-text-right">
                <b>{{userData.Email}}</b>
              </div>
            </div>
          </li>
          <li v-if="userData.Address !== ''">
            <div class="columns is-vcentered is-mobile is-vcentered py-2">
              <div class="column is-4">地址</div>
              <div class="column has-text-right">
                <b>{{displayAddr}}</b>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <!-- 按鈕 -->
      <section class="mt-3 mb-4 px-2">
        <!-- <a @click="$router.push('/setting?type=changePW')" class="button is-link" style="width: 47%">
          <span class="icon">
            <i class="fas fa-key"></i>
          </span>
          <span>修改密碼</span>
        </a>
        <a @click="$router.push('/setting?type=changeAddress')" class="button is-link" style="width: 47%; position: absolute; right: 10px;">
          <span class="icon">
            <i class="fas fa-building"></i>
          </span>
          <span>設定地址</span>
        </a> -->
        <button  class="button is-fullwidth is-medium is-info is-outlined mt-2" :style="{ fontSize: fontSizeBase*18 + 'px' }" @click="logout();">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span>登出</span>
        </button>
      </section>
    </div>
    <!-- 修改密碼 -->
    <div v-if="type === 'changePW'">
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h6 class="subtitle my-2 has-text-centered" :style="{ fontSize: fontSizeBase*20 + 'px' }">修改密碼</h6>
          </div>
        </div>
      </section>
      <section class='px-3 mt-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="password" placeholder="請輸入舊密碼"  v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <i class="fas fa-user-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="password" placeholder="請輸入新密碼(不得少於6碼)" v-model="form.memberPwd">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input shadow-none border-bottom is-medium" style="border: 0" type="password" placeholder="新密碼確認" v-model="form.memberPwdConfirm">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <button class="button primary-color is-fullwidth is-medium mt-4" :style="{ fontSize: fontSizeBase*18 + 'px' }" @click="submitChangePW" :disabled="formDisabled">送出</button>
        </div>
      </section>
    </div>
    <!-- 修改地址 -->
<!-- 
    <div v-if="type === 'changeAddress'">
      <section class="hero is-light">
        <div class="hero-body p-0">
          <div class="container">
            <h5 class="subtitle my-2 has-text-centered">設定地址</h5>
          </div>
        </div>
      </section>
      <section class='px-2 mt-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="請輸入地址" v-model="form.memberAddr" >
            <span class="icon is-small is-left">
              <i class="fas fa-building"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <p class="help has-text-grey ml-5">為了確認個資的修改，請輸入您的會員密碼</p>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="請輸入密碼" v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>

        </div>
        <div class="field">
          <a class="button is-link is-fullwidth" @click="submitChangeAddr" :disabled="formDisabled">送出</a>
        </div>
      </section>
    </div>
 -->

  </div>
</template>

<script>
import md5 from 'md5'
import store from 'src/store'
import VConsole from 'vconsole'
import VueCookies from 'vue-cookies'
import { router } from 'src/libs/systemEnv.js'
import { computed, ref, reactive } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showAlert } from 'src/libs/appHelper.js'

// 使用者基本資料
const userData = computed(() => store.state.userData)
const pushNotifySetting = computed(() => {
  const value = store.state.baseInfo.pushNotify
  return (value === '0' || value === undefined) ? true : false
})

// 設定是否啟用接收推播訊息
const pushNotify = ref(pushNotifySetting)
function deviseSetPushNotify(status) {
  const pushNotify = (status ? '1' : '0')
  store.commit('setBaseInfo', {pushNotify})
  deviseFunction('SetSP', `{"spName":"pushNotify", "spValue":"${pushNotify}"}`, '')
}

// 會員資料表單
const formDisabled = ref(false)
const form = reactive({
  memberPwd: '',
  memberPwdConfirm: '',
  memberPwdold: '',
  // memberAddr: '',
  // memberAddr: store.state.userData.Address,
})

// 表單資料初始化
function resetForm() {
  formDisabled.value = false
  form.memberPwd = ''
  form.memberPwdConfirm = ''
  form.memberPwdold = ''
  form.memberAddr = ''
}

// 修改密碼
async function submitChangePW() {
  const {memberPwdold, memberPwd, memberPwdConfirm} = form

  if (memberPwdold == '') { return showAlert('請輸入舊密碼') }
  if (memberPwd == '') { return showAlert('請輸入新密碼') }
  if (memberPwd.length < 6) { return showAlert('不得少於6碼') }
  if (memberPwd != memberPwdConfirm) { return showAlert('新密碼與新密碼確認不一致') }

  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', form)
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }

  // console.log('===> update =>', update)
  let newToken = ''
  if (update && update[0]) {
    newToken = update[0].Tokenkey
  }
  
  // 更新密碼和token
  const encryptedPwd = md5(memberPwd)
  
  // 1. 更新到store
  store.state.member.pwd = encryptedPwd
  store.state.member.Tokenkey = newToken

  // 2. 非殼才要存到cookie
  if (typeof(JSInterface) == 'undefined') {
    VueCookies.set('kkUserPwd', encryptedPwd)
    VueCookies.set('kkTokenkey', newToken)
  }

  // 3. 更新到殼
  // 3.1 更新密碼到殼
  let setThing = `{"spName":"pwd", "spValue": "${encryptedPwd}"}`
  console.log('submitChangePW ===> setThing-pwd =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  // 3.2 更新token到殼
  setThing = `{"spName":"Tokenkey", "spValue": "${newToken}"}`
  console.log('submitChangePW ===> setThing-token =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  showAlert('修改密碼成功！')
  resetForm()
  router.push('/')
}

// 修改地址
async function submitChangeAddr() {
  // const {memberAddr, memberPwdold} = form

  // if (memberAddr == '')   { return showAlert('請輸入地址') }
  // if (memberPwdold == '') { return showAlert('請輸入會員密碼') }

  // formDisabled.value = true

  // const update = await store.dispatch('ensureMemberUpdateProfile', {memberPwdold, memberAddr})
  // if (update.error) { formDisabled.value = false; return showAlert(update.msg) }
  // const userData = update[0]
  // store.commit('setUserData', userData)
  // VueCookies.set('kkUserData', userData)
  // deviseFunction('SetSP', `{"spName":"Address", "spValue":"${userData.Address}"}`, '')
  // router.push('/')
}

const enabledCount = ref(0)

// 啟用 debug 工具: 在 iPad, iPhone 的畫面上顯示 console 畫面
function enableDebug() {
  if (enabledCount.value === 7) return

  enabledCount.value += 1
  if (enabledCount.value === 7) new VConsole()
}

// 登出
const logout = () => store.dispatch('memberLogout')

export default {
  name: 'kakarSetting',
  setup(props, context) {
    const type = computed(() => context.root.$route.query.type )

    return {
      userData, logout, type, pushNotify, deviseSetPushNotify,
      form, formDisabled, submitChangePW, submitChangeAddr, enableDebug
    }
  },
  computed: {
    isTestAPI(){
      const isWebProduction = /web/.test(location.host)
      const isTestApi =  /8012test/.test((store.state.userData.RtAPIUrl || "").trim().toLowerCase());
      return !isWebProduction && isTestApi;
    },
    isStaging() { return /staging/.test(location.host) },
    fontSizeBase() { return store.getters.fontSizeBase },
    displayAccount() {
      let result = ''

      if (this.userData && this.userData.Account) {
        let account = this.userData.Account
        if (this.notNullStr(account)) {
          result = account.substring(0, 4) + '****'
            + account.substring(8, 10)
        }
        
      }

      return result
    },
    displayAddr() {
      let result = ''

      if (this.userData && this.userData.Account) {
        let addr = this.userData.Address
        if (this.notNullStr(addr)) {
          let totalLength = addr.length

          if (totalLength <= 6) {
            result = addr
          } else {
            let half = Math.floor(totalLength/2)
            let second = half+6
            result = addr.substring(0, half) + '******'
              + addr.substring(second, totalLength)  
          }
        }
      }

      return result
    },
    birthday() {
      let original = this.$store.state.userData.Birthday
      if (original && original.length > 7) {
        // 因為日期不固定,有可能是1/1/1983 or 12/1/1983,所以要從後面取值
        let whole = original.substring(original.length - 12, 0)
        let twDate = whole // 預設值
        let dateArr = whole.split('/')

        if (dateArr && dateArr.length>2) {
          let westYear = parseInt(dateArr[2])
          let twYear = westYear - 1911
          // twDate = twYear + '/' + dateArr[0] + '/' + dateArr[1]
          twDate = twYear + '/**/**'
        }

        return twDate
      } else {
        return ''
      }
    }
  },
  methods: {
    notNullStr(str) {
      if (str && (typeof str !== 'undefined') 
          && str.length>0) {
        return true
      } else {
        return false
      }
    }
  },
  async beforeRouteEnter(to, from, next) {
    resetForm() // 清空欄位

    next()
  },
	/* 離開頁面時 */
  beforeRouteLeave(to, from, next) {
    resetForm() // 清空欄位

    next()
  },

}
</script>

<style>
.w3-ul {
  list-style-type: none !important;;
  padding: 0;
  margin: 0;
}
.w3-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.w3-cell-row {
    display: table;
    width: 100%;
    padding: 6px 0;
}
.w3-cell-middle {
    vertical-align: middle;
}
.w3-cell {
    display: table-cell;
}
.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #ffcf01;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
</style>
