<template>
  <div>
    <!-- 未登入 -->
    <div v-if="!isLogin">
      <div style="position: absolute;top: 30%;left: 50%;transform: translate(-50%,-50%);">
        <img src="../../assets/images/logo-kakar-box.svg" style="width: 120px;">
      </div>
      <div style="margin-top: 450px;" class="mx-3">
        <p @click="$router.push('/register')" class="button is-warning is-fullwidth is-medium">註冊</p>
        <p @click="$router.push('/login')" class="button is-link is-fullwidth is-medium mt-3">登入</p>
      </div>
    </div>
    <!-- 已登入 -->
    <div v-if="isLogin" style="width: 345px;margin: 15px auto;">
      <!-- 卡包 list -->
      <div
        class="appCard"
        v-for="user in currentAppUsers"
        :key="user.EnterpriseID"
        :style="showCardImg(user)"
        @click.stop="$store.dispatch('AccessInApp', user);$router.push('/card')"
      >
        <div style="position: absolute;top: 20px;left: 110px;">
          <!-- 企業中文名稱 -->
          <div class="is-size-5 mb-2">{{showEnterpriseName(user)}}</div>
          <b class="is-size-5">{{user.CardTypeName}}</b>
        </div>
        <!-- 累積點數 -->
        <div style="position: absolute;bottom: 25px;left: 20px;">
          累積<b class="is-size-4"> {{user.cardPoint}} </b>點
        </div>
        <!-- QRcode -->
        <div style="position: absolute;bottom: 15px;right: 25px;" @click.stop="showQrcode(user)">
          <img v-if="isWhite(user)" src="../../assets/images/mbrCode-white.svg" style="height:2.5rem;">
          <img v-if="!isWhite(user)" src="../../assets/images/mbrCode.svg" style="height:2.5rem;">
        </div>
          <!-- 優惠卷張數： -->
        <div style="position: absolute;top: 10px;right: 10px;" v-if="user.cardTicket.length !== 0" v-cloak>
          <span class="badge" style="height:25px;border-radius:12.5px;line-height:25px">{{user.cardTicket.map(item => {return parseInt(item.TicketCount)}).reduce((a, b) => { return a + b })}}</span>
        </div>
      </div>

      <!-- 空會員卡資料的畫面-->
      <div v-if="vipApps.length === 0 && $store.state.vipAppsLoaded" class="emptyCard styleCard w3-margin-bottom w3-large w3-round-xlarge w3-display-container" style="background-image: url(https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-card.png)">
        <div class="w3-display-middle w3-large" style="color:var(--primary-color)" @click="$root.openBarcodeScan()">
          <u><b class="w3-large w3-padding-small">加入會員卡</b></u>
        </div>
      </div>

      <!-- 加入會員卡說明 -->
      <div v-if="vipApps.length <= 3 && $store.state.vipAppsLoaded"  class="w3-margin-bottom w3-large w3-round-xlarge w3-container w3-padding-16 w3-light-gray w3-border w3-border-gray" style="border:2px dashed #ccc !important">
        <div class="w3-row-padding">
          <div class="w3-col s4">
            <img class="w3-image" src="../../assets/images/hint-tutor.svg" style="width:4.5rem;margin-top:.5rem;">
          </div>
          <div class="w3-col s8">您需要點一下右上角的 <img src="../../assets/images/scanCode.svg" style="height:1rem;vertical-align: initial;"> 加入按鈕來掃描一下，就能將店家的會員卡加入。</div>
        </div>
      </div>
    </div>
    <!-- 會員卡的 QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="cardQRcode.show">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="mx-3 py-2" style="background-color: white;text-align: center;">

            <div v-if="cardQRcode.data.loaded">
              <div class="w3-card">
                <h4 class="is-size-4 my-3">會員條碼： {{$store.getters.currentApp.AppName}}</h4>
                <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 75%">
                <p class="my-3">
                  {{cardQRcode.data.value}}
                  <br>
                  本次條碼可使用時間 {{cardQRcode.timer}} 秒
                </p>
              </div>
            </div>

          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>
    </transition>
  </div>
</template>

<script>
import store from 'src/store'
import { isLogin } from 'src/libs/appHelper.js'
import { computed, reactive, watch } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'

// 卡面文字要設成白色的名搬
const whiteValidate = { kakartest: false, '4210098209': true, '24981398': true, '2498313603': true }
// 取得的卡包
const vipApps = computed(() => store.state.vipApps )
// 卡包的會員資訊
const currentAppUsers = computed(() => store.getters.currentAppUsers )

// 判斷是否顯示白色樣式
function isWhite(userData) {
  return whiteValidate[userData.EnterPriseID]
}

// 卡面底圖
function showCardImg(userData) {
  let style = 'background-image: url(https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-card.png)'
  if (userData.CardFacePhoto) style = `background-image: url(${userData.CardFacePhoto})`
  if (isWhite(userData)) style += ';color: white'
  return style
}
// 顯示卡包的企業名
function showEnterpriseName(userData) {
  const eID = userData.EnterPriseID
  const vip = vipApps.value.find(item => item.EnterpriseID === eID)
  return (vip) ? vip.AppName : ''
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode(userData) {
  store.commit('setCurrentAppUser', userData)
  store.commit('setCssTouch', false)

  cardQRcode.gid = userData.cardGID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}

export default {
  name: 'index',
  setup(props, context) {
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    return {
      isLogin, vipApps, isWhite, showCardImg,
      currentAppUsers, showEnterpriseName,
      cardQRcode, showQrcode, hideCardCode, layout,
    }
  },
}
</script>

<style lang="scss">
  .appCard {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 62.8%;
    background-image: linear-gradient(135deg, white 50%, #e6e6e6 100%);
    background-size: cover;
    margin-bottom: 16px!important;
    font-size: 18px!important;
    border-radius: 16px;
    position: relative;
  }

  .badge {
    background-color: #003ce8;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
</style>
