<template>
  <div class="mt-5 px-3">
    <!-- 登入表單 -->
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="手機號碼" v-model="loginForm.account">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="password" placeholder="密碼" v-model="loginForm.password">
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-info is-fullwidth" :disabled="loginForm.submited" @click="login">
          <span v-if="!loginForm.submited">確定</span>
          <span v-if="loginForm.submited">登入中...</span>
        </button>
      </div>
    </div>
    <div class="field mt-3">
      <label class="checkbox">
        <input type="checkbox" v-model="loginForm.rememberMe">
        記住我的帳號
      </label>
      <a style="position: absolute;right: 95px;" @click="pwModal = true">
        忘記密碼
      </a>
      <a @click="$router.push('/register')" style="position: absolute;right: 17px;">
        加入會員
      </a>
    </div>

    <!-- The Modal -->
    <div class="modal is-active" v-if="pwModal">
      <div class="modal-background"></div>
      <div class="modal-content p-4" style="background-color: white">
        <input class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" type="number" pattern="[0-9]*" placeholder="請輸入手機號碼" v-model="forgotPWForm.memberCode" name="usrname" required>
        <div class="w3-section w3-display-container">
          <input class="w3-input w3-block w3-border-bottom w3-border-gray w3-large" type="text" placeholder="驗證碼" v-model="forgotPWForm.SMSValidateCode" name="pscode" required>
          <button class="w3-button w3-round w3-display-topright" style="margin:2px; background-color: yellow;" :disabled="forgotPWForm.countNum > 0" @click="getSMSValidateCode">{{ (forgotPWForm.countNum > 0) ? `${forgotPWForm.countNum} 秒後可重發驗證碼` : '取得驗證碼' }}</button>
        </div>
        <div class="w3-section w3-center">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray" style="width:49%" @click="pwModal = false">取消</button>
          <button class="w3-button w3-round w3-large primary-color" style="width:49%" @click="snedAppSMSForgetPW" :disabled="forgotPWForm.memberCode=='' || forgotPWForm.SMSreCode=='' || forgotPWForm.SMSValidateCode==''">取得新密碼</button>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="pwModal = false"></button>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { isLogin, showAlert } from 'src/libs/appHelper.js'
import { reactive, ref, computed } from '@vue/composition-api'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'

const pwModal = ref(false)
// 取今天日期 (格式： yyyymmdd => e.g. 20190514)
const currentDay = computed(() => new Date().toISOString().slice(0,10).replace(/-/g,"") )
// 簡訊發送間隔的最低時間 (預設： 50 秒)
const AppSMSIntervalMin = computed(() => parseInt(store.state.SMS_Config.AppSMSIntervalMin) )
// 簡訊每日發送上限 (預設： 5 封)
const APPSMSDayTimes = computed(() => parseInt(store.state.SMS_Config.APPSMSDayTimes) )
// 取簡訊的發送扣打紀錄
const SMSSendQuota = computed(() => store.state.SMS_Config.SMSSendQuota )
// 取簡訊驗證碼
const SMSreCode = computed(() => store.state.SMS_Config.reCode )

const forgotPWForm = reactive({
  countNum: 0,
  counter: '',
  memberCode: '',
  SMSValidateCode: '',
  SMSCurrentQuota: 0
})

// 驗證是否還有扣打能發送簡訊
function validateSMSSendQuota() {
  // 扣打紀錄是空的 => true
  if (SMSSendQuota.value === '') return true
  // 扣打紀錄跟今日日期不同 => true
  if (SMSSendQuota.value.substring(0, 8) !== currentDay.value) return true
  // 更新今日扣打數量
  const currentQouta = parseInt(SMSSendQuota.value.substring(9))
  forgotPWForm.SMSCurrentQuota = currentQouta
  // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
  if (currentQouta >= APPSMSDayTimes.value) return false
  if (currentQouta <  APPSMSDayTimes.value) return true
}

// 驗證手機號碼 => 發送驗證碼簡訊
async function getSMSValidateCode() {
  const {memberCode, SMSCurrentQuota} = forgotPWForm
  console.log('memberCode', memberCode)
  // 跟殼取簡訊已發送扣打資料
  deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')


	/** @Important: ※龍海只用身份證當帳號... */
/* 
  // 手機號碼格式驗證
  if (memberCode == '') return showAlert('請輸入手機號碼')
  const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
  const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
  // 依據手機格式加入國碼
  let countyNum = ''
  if ( twMobilePhoneRegxp.test(memberCode) ) countyNum = '886'
  if ( cnMobilePhoneRegxp.test(memberCode) ) countyNum = '86'
  if ( twMobilePhoneRegxp.test(memberCode) === false && cnMobilePhoneRegxp.test(memberCode) === false ) return showAlert('手機號碼格式錯誤')
 */

  let countyNum = '';
  // 檢測此手機號碼是否存在
  const res = await store.dispatch('ensureMemberCodeNotRegistered', memberCode)
  if (res.ErrorCode !== '0') return showAlert('查無此會員，請重新輸入')
  if (validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${APPSMSDayTimes.value} 封簡訊)`)

  // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
  forgotPWForm.countNum = AppSMSIntervalMin.value
  // 啟動倒數計時
  forgotPWForm.counter = setInterval(() => {
    // 到 0 時清除倒數計時
    if (forgotPWForm.countNum <= 0) { clearInterval(forgotPWForm.counter) }
    // 每一秒 - 1
    forgotPWForm.countNum = forgotPWForm.countNum - 1;
  }, 1000);

  // sample: '20190514-3'
  const SMSSendQuota = `${currentDay.value}-${SMSCurrentQuota + 1}`

  // 發送簡訊認證碼
  sendDeviseSMSreCode({ phone: `${memberCode};;${countyNum}`, SMSSendQuota: SMSSendQuota })
}

// 確認簡訊驗證碼 -> 發送忘記密碼的簡訊
function snedAppSMSForgetPW(){
  const {memberCode, SMSValidateCode} = forgotPWForm
  if (SMSreCode.value == '') return showAlert('請先取得簡訊驗證碼')
  if (SMSreCode.value != SMSValidateCode) return showAlert('簡訊驗證碼錯誤，請重新輸入')
  // 驗證 ok -> 清除 SMSreCode
  store.commit('setSMSreCode', '')

  // 啟動殼的忘記密碼 functuin (會更改會員帳號的密碼，並簡訊通知該會員新密碼)
  deviseFunction('AppSMSForgetPW', memberCode, '')
  // 提示已寄送新密碼，關掉 modal
  pwModal.value = false
  showAlert('已將新密碼用簡訊傳送至您的手機，請用新密碼登入')
}

const loginForm = reactive({
  submited: false,
  account: '',
  password: '',
  rememberMe:  true
})

function checkStr(str) {
  return !!(str.trim())
}

async function login() {
  if (!checkStr(loginForm.account)) return showAlert('請輸入帳號')

  if (!checkStr(loginForm.password)) return showAlert('請輸入密碼')

  loginForm.submited = true

  // 帳號變大寫
  loginForm.account = loginForm.account.toUpperCase()  
  await store.dispatch('memberLogin', loginForm)

  loginForm.submited = false
  loginForm.password = ''
  loginForm.account = ''
}

export default {
  name: "kakarLogin",
  beforeRouteEnter(to, from, next) {
    // 如果已登入，導向首頁
    if (isLogin.value) return next('/')
    next()
  },
  beforeRouteLeave(to, from, next) {
    // 離開頁面時，清空表單設定
    pwModal.value = false
    forgotPWForm.memberCode = ''
    forgotPWForm.SMSValidateCode = ''

    loginForm.submited = false
    loginForm.password = ''
    loginForm.account = ''
    next()
  },
  setup() {
    return { isLogin, loginForm, login, pwModal, forgotPWForm, getSMSValidateCode, snedAppSMSForgetPW, SMSreCode }
  },
}
</script>
