<template>
  <div>
    <!-- Navbar -->
    <nav class="navbar border-bottom" role="navigation">
      <div class="navbar-menu w3-display-container">
        <div class="navbar-start">
          <!-- 漢堡選單 -->
          <img
            src="../../assets/images/menu.svg"
            style="height:1.75rem;margin: 10px;"
            @click="isSideMenu=!isSideMenu"
            v-if="$route.fullPath.indexOf('/card/')>=0">
          <!-- 返回企業 app 首頁 -->
          <img
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;" @click="$router.push('/card/'+$route.params.enterpriseId)"
            v-if="$route.fullPath.indexOf('/cardStore')>=0">
          <!-- 返回(左) -->
          <img
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.go(-1)"
            v-if="$route.fullPath.indexOf('/card/')<0 && $route.fullPath.indexOf('/cardStore')<0 && $route.fullPath.indexOf('/openUrl')<0">
        </div>
        <!-- LOGO -->
        <img
          v-if="publicData.logo !== ''"
          v-lazy="publicData.logo"
          style="height:2.5rem"
          class="w3-display-middle"
          @click="$router.push('/card/'+$route.params.enterpriseId)">
        <!-- 無圖秀企業名稱 -->
        <p
          v-if="publicData.logoLoaded && publicData.logo === ''"
          style="width: 192px;text-align: center;"
          class="is-size-4 w3-display-middle"
          @click="$router.push('/card/'+$route.params.enterpriseId)"
        >
          {{$store.getters.currentApp && $store.getters.currentApp.AppName}}
        </p>
        <div class="navbar-end" style="width: 100%">
          <!-- 退出(右) -->
          <img
            src="../../assets/images/wuhu_logo.png"
            style="height:2rem;margin: 10px;"
            v-if="$route.fullPath !== '/openUrl'"
            @click="$router.push('/list');$store.commit('clearAppMemberData');$store.commit('clearCurrentAppUser');$store.commit('clearAppPublicData');isSideMenu=false" v-cloak>
          <!-- 關閉(右) -->
          <img
            src="../../assets/images/x.svg"
            style="height:2rem;margin: 10px;"
            v-if="$route.fullPath === '/openUrl'"
            @click="$router.go(-1)">
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav class="w3-sidebar w3-bar-block w3-card sideMenu" @click="isSideMenu=false" v-cloak
        v-if="isSideMenu"
        :style="{ fontSize: fontSizeBase*18 + 'px' }"
      >
        <!-- 關閉範圍 -->
        <div style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: transparent;width:100vw;z-index: -1;" @click="isSideMenu=false"></div>
        <div class="w3-padding-16" style="height:calc(100vh - 3.25rem);overflow:auto">
          <!-- 首頁
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/card')">首頁</div> -->
          <!-- 最新消息 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/cardNews/'+$route.params.enterpriseId)">最新消息</div>
          <!-- 會員專區 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/cardMember/'+$route.params.enterpriseId)">會員專區</div>
          <!-- 門市查詢 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/cardStore/'+$route.params.enterpriseId)">門市查詢</div>

          <!-- ********** 外連結 ********** -->
          
          <!-- 潔力屋 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '89744742'" @click="deviseToLink('https://www.facebook.com/潔力屋全方位清潔-800270170334030/')">粉絲專頁</div>
          <!-- 柯達旅行社 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '89435794'" @click="deviseToLink('https://www.facebook.com/柯達旅行社有限公司-101026061444802/')">粉絲專頁</div>
          <!-- 國蘭花園VILLA -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '28544428'" @click="deviseToLink('http://www.grand-orchid.com.tw/')">官網</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '28544428'" @click="deviseToLink('https://www.facebook.com/grandorchid6882231/')">粉絲專頁</div>
          <!-- 轉角26VILLA -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '80381305'" @click="deviseToLink('http://www.corner26.com.tw/rooms.html')">官網</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '80381305'" @click="deviseToLink('https://www.facebook.com/corner26')">粉絲專頁</div>
          <!-- 希望會館 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '53574645'" @click="deviseToLink('http://www.wishinn.com.tw/HOME/index.php')">官網</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '53574645'" @click="deviseToLink('https://www.facebook.com/togowish/')">粉絲專頁</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '53574645'" @click="deviseToLink('http://www.wishinn-dive.com.tw/index.php')">官網(恆春)</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '53574645'" @click="deviseToLink('https://www.facebook.com/wishinndive/')">粉絲專頁(恆春)</div>
          <!-- 捷康照護 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '59167758'" @click="deviseToLink('http://www.lichenhealthcare.com/')">官網</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '59167758'" @click="deviseToLink('https://www.facebook.com/LichenHealthCare/')">粉絲專頁</div>
          <!-- 牛角 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24981398'" @click="deviseToLink('http://www.gyu-kaku.com.tw/')">官網</div>
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24981398'" @click="deviseToLink('https://www.facebook.com/Gyukaku.LIG010/')">粉絲專頁</div>
          <!-- 胡椒廚房 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24981600'" @click="deviseToLink('https://www.facebook.com/pepper.lunch.taiwan/')">粉絲專頁</div>
          <!-- Maisen -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24981382'" @click="deviseToLink('https://www.facebook.com/MAiSENTaiwan/')">粉絲專頁</div>
          <!-- 品三杯 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24983136'" @click="deviseToLink('https://www.facebook.com/PinSanBei/')">粉絲專頁</div>
          <!-- 捷記小麵館 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '2498313602'" @click="deviseToLink('https://www.facebook.com/JaeGeMien/')">粉絲專頁</div>
          <!-- 元町家 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '2498313603'" @click="deviseToLink('https://www.facebook.com/motomachiya/')">粉絲專頁</div>
          <!-- 涮鍋里 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '45136306'" @click="deviseToLink('https://www.facebook.com/ShabuSato/')">粉絲專頁</div>
          <!-- Tamoya烏龍麵 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24981361'" @click="deviseToLink('https://www.facebook.com/Tamoya.Taiwan/')">粉絲專頁</div>
          <!-- 空居酒屋 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '24981290'" @click="deviseToLink('https://www.facebook.com/kuu.linsen/')">粉絲專頁</div>
          <!-- 丸米 RIZO 創意米食料理 -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" v-if="$route.params.enterpriseId == '2498313604'" @click="deviseToLink('https://www.facebook.com/丸米-RIZO-創意米食料理-2152233878349744/')">粉絲專頁</div>
          <!-- 掃描Qrcode -->
          <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="openBarcodeWuhu()">
            <img src="../../assets/images/scan-code.svg" class="align-bottom" style="height:1.5rem;" >
            掃描Qrcode
          </div>
          <!-- 依據微管雲上的商品類別放入商品大類項目 -->
          <div v-if="$store.state.publicData.menu.mainType.length > 0">
            <div
              v-for="type in $store.state.publicData.menu.mainType[0].list"
              :key="type.KindID"
              class="w3-bar-item w3-button w3-transparent"
              @click="$router.push(`/cardMenu/${$store.state.publicData.menu.mainType[0].code}?mainName=${type.KindName}&subCode=${type.KindID}`)">
              {{type.KindName}}
            </div>
          </div>
        </div>
      </nav>
    </transition>

    <!-- content -->
    <div class="content" :class="[($route.fullPath.indexOf('/cardCoupon')<0 && $route.path.indexOf('/openUrl')<0) ? 'remove-bottom-nav-height' : '']" :style="touchScrolling">
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()">
        <slot></slot>
      </PullRefresh>
    </div>

    <!-- 底功能列 -->
    <footer
      v-if="$route.path.indexOf('/cardCoupon')<0 && $route.path.indexOf('/openUrl')<0"
      class="w3-block w3-center flex-center-v footer w3-text-dark-gray w3-white w3-border-top w3-border-gray w3-card" style="position:fixed;bottom:0;padding: 0;"
    >
      <!-- 會員條碼(左) -->
      <div style="height:inherit;padding-top:.5rem">
        <img src="../../assets/images/mbrCode.svg" class="w3-opacity" style="height:2rem;" @click="showQrcode()">
      </div>
      <!-- 會員專區 -->
      <div style="height:inherit;padding-top:.5rem"
      :class="[($route.fullPath.indexOf('/cardMember/')>=0) ? 'isActive' : '']"
      @click="$router.push('/cardMember/'+$route.params.enterpriseId)"
      >
        <div class="w3-display-container">
          <div class="w3-display-topright" v-if="ticketCount !== 0">
            <!-- 優惠卷張數： -->
            <div class="w3-display-topright" style="margin:-.75rem -1.25rem" v-if="$route.fullPath.indexOf('/card/')>=0" v-cloak>
              <span class="w3-badge primary-color" style="height:25px;border-radius:12.5px;line-height:25px">{{ticketCount}}</span>
            </div>
          </div>
        </div>
        <img src="../../assets/images/user.svg" class="w3-opacity" style="height:2rem;">
      </div>
      <!-- 門店資訊(右) -->
      <div style="height:inherit;padding-top:.5rem"
        :class="[($route.fullPath.indexOf('/cardStore')>=0) ? 'isActive' : '']"
      >
        <img src="../../assets/images/store.svg" class="w3-opacity" style="height:2rem" @click="$router.push('/cardStore/'+$route.params.enterpriseId)">
      </div>
    </footer>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="cardQRcode.show">
        <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
          <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
            <img src="../../assets/images/loading.svg" alt="">
          </div>
        </div>
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box bg-white text-center mx-auto w3-animate-opacity" style="max-width:350px" v-if="cardQRcode.data.loaded">
            <h4 class="my-3" :style="{ fontSize: fontSizeBase*18 + 'px' }">會員條碼：<b style="color:var(--primary-color)">{{$store.getters.currentApp.AppName}}</b></h4>
            <img height="255" :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 85%">
            <p class="my-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              {{cardQRcode.data.value}}
              <br>
              本次條碼可使用時間 {{cardQRcode.timer}} 秒
            </p>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>
    </transition>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'

const currentAppUser = computed(() => store.state.currentAppUser)
const currentApp = computed(() => currentAppUser.EnterPriseID )
const publicData = computed(() => store.state.publicData )
// 側選單開關
const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (store.getters.currentAppUsers.length === 0) return 0
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  if (userData === undefined) return 0
  const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  // 企業公開資料
  '/card':         'fetchAppPublicDataDetailWuhu', // 有用到
  '/cardFaq':      'fetchAppPublicData',
  '/cardMenu':     'fetchAppPublicData',
  '/cardStore':    'fetchAppPublicDataDetailStoreWuhu', // 有用到
  '/cardProducts': 'fetchAppPublicData',
  '/cardNews':     'fetchAppPublicDataDetailNewsWuhu', // 有用到
  '/cardNewspage': 'fetchNewsData',
  // 企業會員資料
  '/cardMember':   'fetchAppPublicDataDetailMemberWuhu', // 有用到
  '/cardProfile':  'fetchAppUserData',
  '/cardCoupon':   'fetchAppPublicDataDetailCouponWuhu', // 有用到
  '/cardPoint':    'fetchAppPublicDataDetailPointWuhu', // 有用到
  '/cardPay':      'fetchMemberPurchaseRecordData',
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  store.commit('setCurrentAppUser', userData)
  store.commit('setCssTouch', false)

  cardQRcode.gid = userData.cardGID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup(props, context) {
    // 未登入 => 導回首頁
    if (!isLogin.value) context.root.$router.push('/')
    if (!store.getters.currentApp) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      if (/\/card\//.test(urlPath.value))          path = '/card'
      if (/\/cardStore\//.test(urlPath.value))     path = '/cardStore'
      if (/\/cardNews\//.test(urlPath.value))      path = '/cardNews'
      if (/\/cardMember\//.test(urlPath.value))    path = '/cardMember'
      if (/\/cardPoint\//.test(urlPath.value))     path = '/cardPoint'
      if (/\/cardCoupon\//.test(urlPath.value))    path = '/cardCoupon'

      // if (/\/cardMenu\//.test(urlPath))     path = '/cardMenu'
      // if (/\/cardNewspage\//.test(urlPath)) path = '/cardNewspage'
      // if (/\/cardProducts\//.test(urlPath)) path = '/cardProducts'

      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入/無企業資料，不啟用
      if (!isLogin || !currentApp ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
      store.dispatch(refreshAction.value)
      return new Promise(resolve => setTimeout(() => resolve(), 1000) )
    }

    return {
      touchScrolling, isLogin, onPullRefresh, pullRefreshConfig,
      publicData, isSideMenu, ticketCount,
      cardQRcode, showQrcode, hideCardCode, layout,
    }
  },
  computed: {
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let imageStr = cardQRcode.data.image
      if (imageStr && imageStr!='') {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    // (殼專屬) 另開瀏覽器app，開啟連結
    deviseToLink(Url) {
     return deviseFunction('openWeburl', Url, '')
    },
    openBarcodeWuhu() {       
      // 開啟手機的條碼掃描 by 側邊選單掃描QRCODE ,辧活動用20200408
      // this.$router.replace('shop?type=scanResult');
      //this.$router.replace('/')
      return deviseFunction('barcode', '', '"cbFnScanWuhuQrCode"');
    },
  }
}
</script>

<style lang="scss">
.sideMenu {
    z-index: 99;
    overflow: visible;
    background: rgba(255, 255, 255, .95);
}
.remove-bottom-nav-height {
    height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.footer {
    height: var(--bottom-nav-height);
    justify-content: space-around;
    padding: 0;
}
</style>
