<template>
  <div>
    <!-- 未登入 && 註冊/登入 -->
    <nav class="navbar" role="navigation" v-if="(!isLogin && $route.fullPath !== '/')">
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- LOGO圖
          <img src="../../assets/images/wuhu_logo.png" style="height:2rem;margin: 10px" @click="$router.push('/')"> -->
        </div>
        <div class="navbar-end">
          <!-- 未登入文字(右) -->
          <b class="navbar-item is-size-5">
            {{($route.fullPath=='/login')?'':($route.fullPath=='/register')?'註冊':''}}
          </b>
        </div>
      </div>
    </nav>

    <!-- 已登入 -->
    <nav class="navbar" role="navigation" v-if="isLogin" style="position: fixed; top: 0px; width: 100%;">
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- 卡列表返回龍海首頁(箭頭/左) -->
          <img src="../../assets/images/back.svg" style="height:1.75rem;margin: 10px;" @click="$router.push('/');$store.commit('clearAppPublicData');$store.commit('clearAppMemberData')" v-if="$route.path === '/list'">
          <img src="../../assets/images/wuhu_logo.png" style="height:2rem;margin: 10px" @click="$router.push('/setting')" v-if="$route.path === '/'">
        </div>
        <!-- 卡片篩選 -->
        <input type="text" class="input shadow-none border-bottom mt-1" style="width:calc(100% - 100px);border: 0" v-model="$store.state.appFilter" placeholder="搜尋 / 篩選" v-if="isLogin && $route.fullPath === '/list' && $store.state.vipApps.length > 3">
        <div class="navbar-end">
          <!-- 登入後掃碼圖示(右) -->
          <!-- <img src="../../assets/images/scanCode.svg" style="height:2rem;margin: 10px;" @click="openBarcodeScan" v-if="isLogin && $route.fullPath === '/list'" v-cloak> -->
          <!-- 在設定頁 -->
          <a class="navbar-item" @click="$router.go(-1)" v-if="$route.path === '/setting'">
            <img src="../../assets/images/x.svg" style="height: 2rem;">
          </a>
          <!-- 卡列表返回龍海首頁(logo/右) -->
          <img src="../../assets/images/wuhu_logo.png" style="height:2rem;margin: 10px" @click="$router.push('/');$store.commit('clearAppPublicData');$store.commit('clearAppMemberData')" v-if="$route.path === '/list'">
        </div>
      </div>
    </nav>

    <div style="height: 54px;" v-if="isLogin"></div>
    <div class="content" :style="touchScrolling">
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig">
        <slot></slot>
      </PullRefresh>
    </div>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
// 依據是否登入來設定啟用下拉刷新功能
const pullRefreshConfig = { pullEnabled: isLogin.value }
// 下拉後啟動刷新的邏輯
function onPullRefresh() {
  store.dispatch('fetchVipApps')
  return new Promise(resolve => setTimeout(() => resolve(), 1000) )
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup() {
    return { touchScrolling, isLogin, openBarcodeScan, onPullRefresh, pullRefreshConfig }
  },
}
</script>
