<template>
  <div>
    <!-- Navbar -->
    <nav class="navbar border-bottom" role="navigation" v-if="isLogin">
      <div class="navbar-menu w3-display-container">
        <!-- 
          ********** 上方全局導覽列-左側 **********
         -->
        <div class="navbar-start">
          <!-- 漢堡選單 -->
          <img
            src="../../assets/images/menu.svg"
            style="height:1.75rem;margin: 10px;"
            @click="isSideMenu=!isSideMenu"
            v-if="$route.fullPath == '/'">
          <!-- 返回企業 app 首頁 -->
          <img
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;" @click="$router.push('/')"
            v-if="$route.fullPath == '/store'">
          <!-- 返回(左) -->
          <img
            v-if="$route.fullPath !== '/' && $route.fullPath !== '/store' && $route.path !== '/shopCart' && $route.path !== '/shopMine' && $route.path !== '/shop' && $route.path !== '/shopType'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.go(-1)"
          >
          <!-- 購物車step1(左, 繼續購物) -->
          <p
            v-if="$route.path == '/shopCart' && $route.query.type==null"
            @click="$router.push('/shop')"
            style="line-height:40px"
          >
            <img src="../../assets/images/back.svg" style="height:1.25rem;margin-left:10px;transform:translateY(3px)">
            <span class="d-inline-block is-size-5 has-text-info" style="transform:translateY(7px)">繼續購物</span>
          </p>
          <!-- 購物車step2返回step1(左) 購物車,自選,快速頁-->
          <img
            v-if="$route.path == '/shopCart' && $route.fullPath.includes('type=pay')"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shopCart')"
          >
          <img
            v-if="$route.path == '/shopMine' && ($route.fullPath.includes('type=pay') || $route.fullPath.includes('type=finishedTemp'))"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shopMine')"
          >
          <img
            v-if="$route.path == '/shopCart' && $route.query.type=='pageDeedTemp' && $route.query.deedType!='self'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace({ path: '/shopCart', query: { type: 'pay' } })"
          >
          <img
            v-if="$route.path == '/shopCart' && $route.query.type=='pageDeedTemp' && $route.query.deedType=='self'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/')"
          >
          <!-- 未完成訂單(未付款,unFinish),按付款進入的頁面 -->
          <img
            v-if="$route.path == '/shopCart' && $route.query.type=='pageDeed' && $route.query.isPay=='on'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace({ path: '/shopCart', query: { type: 'unCheckout' } })"
          >
          <!-- 我的訂單(未付款,unFinish)
          <img
            v-if="$route.path == '/shopCart' && $route.query.type==null"
            src="../../assets/images/cart_orders_notyet.svg"
            style="height:1.9rem;margin: 10px 18px;max-width:none"
            @click="$router.replace({ path: '/shopCart', query: { type: 'unCheckout' } })"
          > -->

          <!-- 我的訂單(左,返回)(未付款,unFinish) -->
          <img
            v-if="$route.path == '/shopCart' && $route.query.type=='unCheckout'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shopCart')"
          >
          <!-- 訂單記錄(左,返回)) -->
          <img
            v-if="$route.path == '/shopMine' && $route.query.type==null"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shop')"
          >
          <img
            v-if="$route.path == '/shopMine' && $route.query.type=='pageDeed'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace({ path: '/shopMine', query: { type: 'pay' } })"
          >
          <img
            v-if="$route.path == '/shopMine' && $route.query.type=='pageDeedTemp'"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shopMine')"
          >
          <img
            v-if="$route.path === '/shop' && $route.query.type==null"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/')"
          >
          <img
            v-if="$route.path === '/shop' && ($route.query.type=='feature' || $route.query.type=='search')"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shop')"
          >
          <img
            v-if="$route.path === '/shopType' && $route.query.type==null"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shop')"
          >
          <img
            v-if="$route.path === '/shopType' && $route.query.type=='product' && $route.query.from=='subKind' && $route.query.kind2Index!=null"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="($route.query.goto!=null?$router.replace({ path: '/shopType', query: { goto: $route.query.goto,kind2Index: $route.query.kind2Index }}):$router.replace('/shopType'))"
          >
          <img
            v-if="$route.path === '/shopType' && $route.query.type=='product' && $route.query.fromIndex!=null"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace({ path: '/shop', query: { type: 'feature',index:$route.query.fromIndex }})"
          >
          <img
            v-if="$route.path === '/shopType' && $route.query.type=='product' && $route.query.from==null && $route.query.fromIndex==null"
            src="../../assets/images/back.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shop')"
          >
        </div>
        <!-- 
          ********** 上方全局導覽列-中 **********
         -->
        <div class="w3-display-middle" style="z-index:-1">
          <!-- fake LOGO
          <img
            src="../../assets/images/wuhu_logo_text.jpg"
            style="height:2.5rem"
            @click="$router.push('/')">
          -->

          <!-- LOGO state.baseInfo.userTag-->
          <img
            v-if="userTag == 'member' && publicData.logo !== '' && $route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine'"
            :src="publicData.logo"
            style="height:2.5rem"
            @click="$router.push('/')">
            <img
            v-if="userTag == 'employee' && $route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine'"
            src="../../assets/images/jis_240X50.jpg"
            style="height:2.5rem"
            @click="$router.push('/')">
          <!-- 無圖秀企業名稱 -->
          <p
            v-if="publicData.logoLoaded && publicData.logo === '' && $route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine'"
            style="height: 40px;width: 192px;text-align: center;"
            class="is-size-5 mt-3"
            @click="$router.push('/')"
          >
            龍海就是消費
          </p>
          <!-- 龍 LIFE 購 -->
          <p
            v-if="$route.path == '/shop'"
            style="height: 40px;max-width: 192px;text-align: center;"
            class="is-size-5 mt-3"
            @click="$router.push('/shop')"
          >
            {{userTag == 'member'?'龍 LIFE 購':'捷愛送'}}
          </p>
          <!-- 我的訂單 -->
          <p
            v-if="$route.path == '/shopMine'"
            style="height: 40px;width: 192px;text-align: center;"
            class="is-size-5 mt-3"
            @click="$router.push('/shopMine')"
          >
            我的訂單
          </p>
          
          <!-- 商品分類 -->
          <p
            v-if="$route.path == '/shopType' || $route.path == '/shopCart'"
            style="height: 40px;width: 192px;text-align: center;"
            class="is-size-5 mt-3 text-elps"
          >
          <!-- if(this.$route.fullPath.includes('?goto')) return this.$scrollTo(this.$route.query.goto)-->
            {{($route.fullPath == '/shopType')?'商品分類名稱':($route.path != '/shopCart')?
            ($route.query.kind2Index!=undefined)?(($store.state.mallData.foodkind2.length > $route.query.kind2Index)?$store.state.mallData.foodkind2[$route.query.kind2Index]['Name']:''):
              ($store.state.mallData.nowItem.Name?$store.state.mallData.nowItem.Name:''):''}}
            {{($route.path == '/shopCart'&&$route.query.type==null)?'購物車':''}}
            {{($route.path == '/shopCart'&&$route.query.type=='unCheckout')?'未完成訂單':''}}
            {{($route.path == '/shopCart'&&$route.query.type=='pay')?'填寫地址與付款':''}}
            {{($route.path == '/shopCart'&&$route.query.type=='finished')?'訂單完成':''}}
            {{($route.path == '/shopCart'&&$route.query.type=='finishedTemp')?'訂單狀態':''}}
            {{($route.path == '/shopCart'&&$route.query.type=='pageDeedTemp')?($route.query.deedType=='self'?'自訂付款':'自選付款'):''}}
          </p>
        </div>
        <!-- 
          ********** 上方全局導覽列-右側 **********
         -->
        <div class="navbar-end">
          <!-- 退出(右) -->
          <img
            v-if="$route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine'"
            src="../../assets/images/wuhu_logo.png"
            style="height:2rem;margin: 10px;"
            @click="$store.commit('setCardListScrollMap', 0);$router.push('/list');isSideMenu=false"
          >
          <!-- 購物車step1關閉(右)
          <img
            v-if="$route.fullPath == '/shopCart'"
            src="../../assets/images/x.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.replace('/shop');"
          > -->
          <!-- 購物車step2關閉(右) -->
          <img
            v-if="$route.path == '/shopCart' && $route.query.type=='pay'"
            src="../../assets/images/x.svg"
            style="height:1.75rem;margin: 10px;"
            @click="$router.push('/shop');"
          >
          <!-- 我的訂單 -->
          <img
            v-if="$route.path == '/shop'"
            src="../../assets/images/cart_orders.svg"
            style="height:1.9rem;margin: 10px 18px;"
            @click="$router.push('/shopMine')"
          >
          <!-- 購物車(右) -->
          <div class="w3-display-container d-inline-block" v-if="$route.path == '/shop' || $route.fullPath.includes('type=product')" @click="$router.push('/shopCart')">
            <img
              src="../../assets/images/cart.svg"
              style="height:1.9rem;margin: 11px 16px 0 0"
            >
            <!-- 商品數字 -->
            <transition name="slide-up" mode="out-in">
              <!-- <div class="w3-display-topright w3-badge w3-red item-badge" v-if="$store.state.mallData.isCarUI!=undefined && cartQty($store.state.mallData.kindQty) > 0">{{cartQty($store.state.mallData.kindQty)}}</div>
              <div class="w3-display-topright w3-badge w3-red item-badge">{{$store.state.mallData.isCarUI!=undefined?$store.state.mallData.kindQty:"F"}}</div> -->
              <div class="w3-display-topright badge-wrapper" style="right:4px;top:4px"  v-if="$store.state.mallData.isCarUI!=undefined && cartQty($store.state.mallData.kindQty) > 0">
                <span class="badge bg-danger">{{cartQty($store.state.mallData.kindQty)}}</span>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <nav class="w3-sidebar w3-bar-block w3-card sideMenu" @click="isSideMenu=false" v-cloak
        v-if="isSideMenu"
        :style="{ fontSize: fontSizeBase*18 + 'px' }"
      >
      <div class="w3-padding-16" style="height:calc(100vh - 3.25rem);overflow:auto">
        <!-- 關閉範圍 -->
        <div style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: transparent;width:100vw;z-index: -1;" @click="isSideMenu=false"></div>
        <!-- 首頁 -->
        <!-- <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/card')">首頁</div> -->
        <!-- 最新消息 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/news')">最新消息</div>
        <!-- 會員專區 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/member')">會員專區</div>
        <!-- 門市查詢 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/store')">服務據點</div>
        <!-- 會員設定 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/setting')">會員設定</div>
        <!-- 聯絡我們 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="$router.push('/contactUs')">聯絡我們</div>
        <!-- 掃描Qrcode -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="openBarcodeWuhu()">
          <img src="../../assets/images/scan-code.svg" class="align-bottom" style="height:1.5rem;" >
          掃描Qrcode
        </div>
        <!-- ***** 分隔線 ***** -->
        <hr class="my-2 border-top">
        <!-- 五互官網 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('http://www.wuhu.com.tw')">五互官網</div>
        <!-- 龍海官網 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('http://www.lonhai.com.tw/')">龍海官網</div>
        <!-- 五互集團FB -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('https://www.facebook.com/WuhuGroup.tw/')">五互集團FB</div>
        <!-- 龍海生活事業FB -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('https://www.facebook.com/Lonhaico/')">龍海生活事業FB</div>
        <!-- 龍海消費服務FB -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('https://www.facebook.com/LonhaiLonLifeGo/')">龍海消費服務FB</div>
        <!-- 小龍嚴選 -->
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('https://www.youtube.com/channel/UC5L34lpfvDyMrvZnoBZho6A')">小龍嚴選</div>
        <!-- ***** 分隔線 ***** -->
        <hr class="my-2 border-top">
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="logout()">登出</div>
        <!-- 捷利官網
        <div class="w3-bar-item w3-button w3-transparent w3-hover-none" @click="deviseToLink('https://www.lichenteam.com/')">捷利官網</div> -->

        <!-- 依據微管雲上的商品類別放入商品大類項目 -->
        <div v-if="$store.state.publicData.menu.mainType.length > 0">
          <div
            v-for="type in $store.state.publicData.menu.mainType[0].list"
            :key="type.KindID"
            class="w3-bar-item w3-button w3-transparent"
            @click="$router.push(`/cardMenu/${$store.state.publicData.menu.mainType[0].code}?mainName=${type.KindName}&subCode=${type.KindID}`)">
            {{type.KindName}}
          </div>
        </div>
      </div>
      </nav>
    </transition>

    <!-- content -->
    <!-- touchScrolling 造成ios 12.4某些圖層怪怪的,step1:在商城首頁下拉刷新,step2:按更多,此頁圖層隱形了 -->
    <!-- <div class="content"
      style="z-index:99"
      :class="[($route.path !== '/coupon' && $route.path.indexOf('/booking')<0 && $route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine')  ? 'remove-bottom-nav-height' : '']"
      :style="touchScrolling"
    > -->
    <div class="content"
      style="z-index:99"
      :class="[($route.path !== '/coupon' && $route.path.indexOf('/booking')<0 && $route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine')  ? 'remove-bottom-nav-height' : '']"
      
    >
      <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()">
        <slot></slot>
      </PullRefresh>
    </div>

    <!-- 底功能列 -->
    <footer
      v-if="$route.path !== '/coupon' && $route.path.indexOf('/booking')<0 && $route.path !== '/shop' && $route.path !== '/shopType' && $route.path !== '/shopCart' && $route.path !== '/shopMine' && isLogin"
      class="w3-block w3-center flex-center-v footer w3-text-dark-gray w3-white w3-border-top w3-border-gray w3-card" style="position:fixed;bottom:0;padding: 0"
    >
      <!-- 會員條碼(左) -->
      <div style="height:inherit;padding-top:.5rem">
        <img src="../../assets/images/mbrCode.svg" class="w3-opacity" style="height:2rem;" @click="showQrcode()">
      </div>
      <!-- 會員專區 -->
      <div style="height:inherit;padding-top:.5rem"
      :class="[($route.fullPath === '/member') ? 'isActive' : '']"
      @click="$router.push('/member')"
      >
        <div class="w3-display-container">
          <!-- 優惠卷張數： -->
          <div class="w3-display-topright" style="margin:-.75rem -1.25rem" v-show="$route.fullPath == '/card' && ticketCount !== 0" v-cloak>
            <span class="w3-badge w3-red item-badge">{{ticketCount}}</span>
          </div>
        </div>
        <img src="../../assets/images/user.svg" class="w3-opacity" style="height:2rem;">
      </div>
      <!-- 門店資訊(右)
      <div style="height:inherit;padding-top:.5rem"
        :class="[($route.fullPath === '/store') ? 'isActive' : '']"
      >
        <img src="../../assets/images/store.svg" class="w3-opacity" style="height:2rem" @click="$router.push('/store')">
      </div> -->
      <!-- 商城(右) -->
      <div style="height:inherit;padding-top:.5rem"
        :class="[($route.fullPath.includes('/shop')) ? 'isActive' : '']"
        @click="$router.push('/shop')"
      >
        <div class="w3-display-container" style="z-index: 1">
          <!-- 購物數： -->
          <!-- <div class="w3-display-topright" style="margin:-.75rem -.75rem">
            <span class="w3-badge w3-red item-badge" v-if="$store.state.mallData.isCarUI!=undefined && cartQty($store.state.mallData.kindQty) > 0">{{cartQty($store.state.mallData.kindQty)}}</span>
          </div> -->
          <div class="w3-display-topright badge-wrapper" style="right:-12px;top:-8px"  v-if="$store.state.mallData.isCarUI!=undefined && cartQty($store.state.mallData.kindQty) > 0">
            <span class="badge bg-danger">{{cartQty($store.state.mallData.kindQty)}}</span>
          </div>
        </div>
        <img src="../../assets/images/cart.svg" class="w3-opacity" style="height:2rem">
      </div>
    </footer>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-top">
      <div class="modal is-active" v-if="cardQRcode.show">
        <div v-if="!isReady" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
          <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2">
            <img src="../../assets/images/loading.svg" alt="">
          </div>
        </div>
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box bg-white text-center mx-auto w3-animate-opacity" style="max-width:350px" v-if="cardQRcode.data.loaded">
            <h4 class="my-3" :style="{ fontSize: fontSizeBase*18 + 'px' }">會員條碼：<b style="color:var(--primary-color)">{{$store.state.member.code}}</b></h4>
            <img height="255" :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 85%">
            <p class="my-3" :style="{ fontSize: fontSizeBase*16 + 'px' }">
              {{cardQRcode.data.value}}
              <br>
              本次條碼可使用時間 {{cardQRcode.timer}} 秒
            </p>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>
    </transition>

    <!-- 掃扣後顯示跳窗 -->
    <transition name="slide-top">
      <div class="fixed-top w-100 h-100 bg-white" style="z-index: 999"  v-if="userTag == 'member' && $route.path == '/shop' && $route.query.type == 'scanResult'" v-cloak>
        <header class="border-bottom is-size-5 p-3">
          <div class="columns is-gapless is-mobile">
            <div class="column is-1"><b></b></div>
            <div class="column text-center">消費體驗活動</div>
            <div class="column is-1 text-right" @click="$router.replace({ path: '/shop'})">
              <img src="../../assets/images/x.svg" class="align-bottom" style="height:1.5rem" alt="">
            </div>
          </div>
        </header>
        <main class="scroll-touch" style="height:calc(100% - 108px)" :style="{ fontSize: fontSizeBase*16 + 'px' }">
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, qrIndex) in $store.state.mallData.barcodeItem" :key="'qritem'+qrIndex">
              <!-- <div class="media-left mr-2">
                <figure class="image is-96x96 m-0">            
                  <img src="../../assets/images/img_wuhu.gif" class="border" alt="">
                </figure>
              </div> -->
              <div class="media-content">
                <div class="content h-auto" :style="{ fontSize: fontSizeBase*20 + 'px' }">
                  <h4 class="title mb-3"><b><span class="has-text-info">{{item.Name}}</span></b></h4>
                  <div class="has-text-grey-light">
                    輸入單價 NT$
                    <input class="align-middle d-inline-block w-50 ml-2 text-center input is-medium rounded has-background-white-bis" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  v-model.number="item.Price1">
                  </div>
                </div>
              </div>
            </article>
            <!-- 按鈕 -->
            <div class="columns is-mobile is-variable is-1 m-0 mt-4 text-center">
              <div class="column py-1">
                <button class="button is-link is-fullwidth is-medium" @click="toShopPay()">付款去</button>
              </div>
            </div>
          </div>
        </main>
      </div>
    </transition>

    <!-- 特約店家掃扣後顯示跳窗 -->
    <transition name="slide-top">
      <div class="fixed-top w-100 h-100 bg-white" style="z-index: 999"  v-if="($route.path == '/shop' || $route.path == '/shopMine') && $route.query.type == 'specShop'" v-cloak>
        <header class="border-bottom is-size-5 p-3">
          <div class="columns is-gapless is-mobile">
            <div class="column is-1"><b></b></div>
            <div class="column text-center">特約商消費體驗活動</div>
            <div class="column is-1 text-right" @click="specPrice1 = '';$store.commit('setSpecOrderWuhu',{});$store.commit('setSpecCartWuhu',{});$router.replace({ path: $route.path})">
              <img src="../../assets/images/x.svg" class="align-bottom" style="height:1.5rem" alt="">
            </div>
          </div>
        </header>
        <template v-if="$route.path == '/shop' && $route.query.pay == null && specShop && specShop.CustomerName">
          <main class="scroll-touch" style="height:calc(100% - 64px)" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <div class="w3-content w3-padding-32 w3-cell-row" style="width:85%">
              <div class="w3-cell w3-cell-middle" style="width:118px">
                <img style="width:96px" src="../../assets/images/avatar_male.png" v-if="userDataSet.Sex=='True'">
                <img style="width:96px" src="../../assets/images/avatar_female.png" v-else>
              </div>
              <div class="w3-cell w3-cell-middle">
                <div :style="{ fontSize: fontSizeBase*16 + 'px' }">
                  <div>消費點數 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{balance}}</b> 元</div>
                  <div>體驗點數 <b style="line-height:1" :style="{ fontSize: fontSizeBase*30 + 'px' }">{{points}}</b> 點</div>
                </div>
              </div>
            </div>
            <!-- 輸入金額 -->
            <div class="px-3">
              <h4 class="title mb-3"><b><span class="has-text-info">{{specShop.CustomerName}}:{{specShop.ProductName}}</span></b></h4>
              <div class="has-text-grey-light">
                請輸入金額 NT$
                <input class="align-middle d-inline-block w-50 ml-2 text-center input is-medium rounded has-background-white-bis" type="number" v-model.number="specPrice1">
              </div>
              
              <div class="columns is-mobile is-variable is-1 m-0 mt-4 text-center" v-if="userTag == 'employee'">
                <div class="column py-1">
                  <button class="button is-link is-fullwidth is-medium" @click="toSpecPay()">付款去</button>
                </div>
              </div>
              <div class="columns is-mobile is-variable is-1 m-0 mt-4 text-center" v-if="userTag == 'member'">
                <div class="column py-1 is-half">
                  <button class="button is-link is-fullwidth is-medium is-light" @click="toSpecPay(true)">自訂付款</button>
                </div>
                <div class="column py-1 is-half text-righ">
                  <button class="button is-link is-fullwidth is-medium" @click="toSpecPay()">快速付款</button>
                </div>
              </div>
            </div>
          </main>
        </template>
        <!-- 交易成功 || 失敗 -->
        <template v-if="$route.query.pay == 'success' || $route.query.pay == 'fail'" && specOrder().OrderNo>
          <main class="scroll-touch" style="height:calc(100% - 64px)" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <section class="hero is-link text-center">
              <div class="hero-body py-4">
                <div class="container">
                  <h4 class="title is-4">
                    {{$route.query.pay == 'success'?'點數已成功結帳完畢!':'交易失敗'}}
                  </h4>
                </div>
              </div>
            </section>
            <div class="text-center is-size-5" v-if="$route.query.pay == 'success'">
              <div style="margin-top:-32px">
                <svg class="bounce-in-fwd" xmlns='http://www.w3.org/2000/svg' width="80" height="80" viewBox="0 0 512 512"><path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z" style="fill:#48c774;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" /><polyline points="352 176 217.6 336 160 272" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" /></svg>
              </div>
              <p>扣除日期 <br><b>{{specOrder().SaleTime}}</b></p>
              <p class="mt-3">特約店家</p>
              <h3 class="font-weight-bold mt-0">{{specOrder().PreSpecShopName}}</h3>
              <hr>
              <p>本筆訂單總金額</p>
              <barcode :value="specOrder().CheckTotal" :options="{ width: 1.5 }" tag="svg"></barcode>
              <!-- <div v-for="(specCheck, fcIndex) in specOrder().Checks" :key="'sepcCk'+fcIndex" >
                <p>本次{{specCheck.NO !== ''? specCheck.KindName+' ('+specCheck.NO+')':specCheck.KindName}}扣除</p>
                <barcode :value="specCheck.Total" :options="{ width: 1.5 }" tag="svg"></barcode>
              </div> -->
              
              <p>訂單編號</p>
              <barcode :value="specOrder().OrderNo" :options="{ width: 1.5 }" tag="svg"></barcode>
            </div>
            <div class="text-center is-size-5" v-if="$route.query.pay == 'fail'">
              <div style="margin-top:-32px">
                <svg class="bounce-in-fwd" xmlns='http://www.w3.org/2000/svg' width="80" height="80" viewBox="0 0 512 512"><title>ionicons-v5-m</title><path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z" style="fill:#ff3860;stroke:#fff;stroke-miterlimit:10;stroke-width:32px"/><line x1="320" y1="320" x2="192" y2="192" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="192" y1="320" x2="320" y2="192" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                <div class="px-3 pt-5" v-if="false">
                  <!-- 因為無法確定失敗的截點在那裡,暫時隱藏付款 -->
                  <button class="button is-link is-outlined is-fullwidth is-medium" @click="$router.push('/shop?type=specShop')">重新付款</button>
                </div>
              </div>
            </div>
          </main>
        </template>
        <!-- 付款說明 -->
        <div class="m-3 px-3 py-2 box border border-warning">
          <p class="mb-2 w3-center">
            付款說明
          </p>
            <ol class="mt-0 ml-3">
              <li><span class="has-text-danger">優先抵扣體驗點數</span>，剩餘未支付餘額再使用消費點數抵扣。</li>
              <li>使用「快速付款」，將優先使用即將到期之契約的消費點數依序抵扣。</li>
              <li>使用「自選付款」，將可自由選擇契約依序抵扣。</li>
              <li>60天內即將到期契約的消費點數，無法使用。</li>
            </ol>
        </div>
      </div>
    </transition>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin,showAlert } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'
// import { getMyShopCart,itmeQtyReload,cartQty } from 'src/libs/market.js'
import { cartQty } from 'src/libs/market.js'
import {chkTypeInt } from 'src/libs/market.js'//

const currentAppUser = computed(() => store.state.currentAppUser)
const userDataSet = computed(() => store.state.userData)
const currentApp = computed(() => currentAppUser.EnterPriseID )
const publicData = computed(() => store.state.baseInfo.publicData )
const userTag = computed(() => store.state.baseInfo.userTag )

const points = computed(() => { return store.state.baseInfo.memberData.card_info.Points ? parseInt(store.state.baseInfo.memberData.card_info.Points) : 0 } )
const balance = computed(() => { return store.state.baseInfo.memberData.card_info.Balance ? parseInt(store.state.baseInfo.memberData.card_info.Balance) : 0 } )
const rate = computed(() => { return store.state.baseInfo.memberData.card_info.PointMoneyRate ? parseFloat(store.state.baseInfo.memberData.card_info.PointMoneyRate) : 0 } )




// 側選單開關 
const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (store.getters.currentAppUsers.length === 0) return 0
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  if (userData === undefined) return 0
  const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  '/':        'fetchAppPublicDataWuhu',
  '/store':   'fetchAppPublicDataStoreWuhu',
  '/news':    'fetchAppPublicDataNewsWuhu',

  '/member':  'fetchAppPublicDataMemberWuhu',
  '/point':   'fetchAppPublicDataPointWuhu',
  '/coupon':  'fetchAppPublicDataCouponWuhu',
  '/cardPay': 'fetchAppUserDataWuhu',

  // 預約開始
  '/bookingMine': 'fetchMyBookList',
  '/shop': 'fetchMallData',
  // TODO:商城開始
  '/shopMine': 'fetchShopMine',
  '/shopType': 'fetchMallKindData',

}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => renderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  store.commit('setCssTouch', false)

  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  //console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  store.dispatch('fetchWuhuCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// function getShopCart(){  
//   getMyShopCart(()=>{
//     itmeQtyReload();
//   });
// }
export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup(props, context) {
    // 未登入 => 導回首頁
    if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )
    // getShopCart();	//取購物車
    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const urlQuery = computed(() => context.root.$route.query )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      if (/\/member/.test(urlPath))     path = '/member'
      if (/\/newspage\//.test(urlPath)) path = '/newspage'
      // TODO
      // if (/\/shopType\//.test(urlPath)) path = '/shopType'
      
      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入/無企業資料，不啟用
      let path = urlPath.value
      let qUrl = urlQuery.value || {};
      // if (/\/shopType\//.test(urlPath)) path = '/shopType'
      
      let isMallKindLoad = (path === '/shopType' && qUrl.goto!=undefined && store.state.mallData.mallScrollTop > -1 && store.state.mallData.mallScrollTop <= 3)//改ScrollTop=0時,棄用:商城只允許第一個小類可刷新spyIndex
      let isMallProductLoad = (path === '/shopType' && qUrl.type!=undefined && qUrl.type === 'product');
      let isMallLoad= (path !== '/shopType' || isMallKindLoad || isMallProductLoad) 
      
      if (!isLogin || !currentApp || !isMallLoad ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
      let qUrl = urlQuery.value || {};
      let path = urlPath.value
      // var p_qUrl = Object.assign({}, qUrl) //若改query,router不要被影響
      let isMallKindLoad = (path === '/shopType' && qUrl.goto!=undefined && store.state.mallData.mallScrollTop > -1 && store.state.mallData.mallScrollTop <= 3)
      if (isMallKindLoad) qUrl.goto = 0; //banner進來的不一定是0,刷不到0,改回0
      store.dispatch(refreshAction.value,qUrl)
      return new Promise(resolve => setTimeout(() => resolve(), 1000) )
    }    
    
    return {
      touchScrolling, isLogin, onPullRefresh, pullRefreshConfig,
      publicData, isSideMenu, ticketCount, userDataSet, points, balance,
      cardQRcode, showQrcode, hideCardCode, layout, userTag, rate
    }
    
  },
  data: function (){
    return {
      specPrice1:'',
    };
     
  },  
  computed: {
    fontSizeBase() { return store.getters.fontSizeBase },
    isReady() {
      let imageStr = cardQRcode.data.image
      if (imageStr && imageStr!='') {
        return true
      } else {
        return false
      }
    },
    specShop(){
      if (this.$route.path === "/shop" && this.$route.query && this.$route.query.type === 'specShop' && this.$route.query.list){
        const p_keys = this.$route.query.list.split(',');
        var p_spec = {};        
        if (p_keys.length >= 2) p_spec = store.state.baseInfo.memberData.specShopList.find(sp => (sp.CustomerCode === p_keys[0] && sp.ProductCode === p_keys[1]) );
        if (!p_spec){
          showAlert("此QRCODE已失效");//找不到特約商品
          return p_spec = {};
        } 
      }
      return p_spec;
    }
   
  },  
  methods:{
    cartQty,
    // (殼專屬) 另開瀏覽器app，開啟連結
    deviseToLink(Url) {
     return deviseFunction('openWeburl', Url, '')
    },
    specOrder(){
      return store.state.baseInfo.memberData.specOrder;
    },
    openBarcodeWuhu() {       
      // 開啟手機的條碼掃描 by 側邊選單掃描QRCODE ,辧活動用20200408
      // this.$router.replace('shop?type=scanResult');
      return deviseFunction('barcode', '', '"cbFnScanWuhuQrCode"');
    },
    logout() {
      store.dispatch('memberLogout')
    },
    toShopPay(){
      //先導到商城,自動加入購物車
      this.$router.replace({ path: '/shop', query: { from: 'scanSend' }})
    },
    toSpecPay(isSelf){
      //特約商付款       
      if (this.balance + (this.points * this.rate) < this.specPrice1){
        this.specPrice1 = '';
        return showAlert("金額超出可支付範圍");
      }
     // balance 消費點數 ,points
      store.commit('setSpecCartWuhu', {
        ID:this.specShop.ProductCode,
        Name:this.specShop.CustomerName+'('+ this.specShop.ProductName+')',
        Price1:chkTypeInt(this.specPrice1),
        specCode:this.specShop.CustomerCode,
        Mobile:this.specShop.Mobile || "",
        specName:this.specShop.CustomerName,
      })
      this.specPrice1 = '';
      if (isSelf) this.$router.replace({ path: "/shopCart", query: { from: 'scanSpecSelfSend'}})
      else this.$router.replace({ path: "/shopCart", query: { from: 'scanSpecSend'}})
      
      
      
    },
  }
}
</script>

<style lang="scss">
.sideMenu {
    z-index: 99;
    overflow: visible;
    background: rgba(255, 255, 255, .95);
}
.remove-bottom-nav-height {
    height: calc(100vh - var(--top-nav-height) - var(--bottom-nav-height));
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.flex-center-v {
    display: flex;
    align-items: center;
}
.footer {
    height: var(--bottom-nav-height);
    justify-content: space-around;
    padding: 0;
}
.to-fill {
  border: 1px solid #eee;
  user-select: auto;
  vertical-align: sub;
}

.bounce-in-fwd {
	animation: bounce-in-fwd .6s both;
}
@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

</style>
