<template>
  <div>
    <!-- 讀取中效果 -->
    <div v-if="isLoading" style="z-index: 9999;position: fixed;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0,0,0,0.4);" v-cloak>
      <div style="display: flex;-webkit-box-align: center;align-items: center;-webkit-box-pack: center;justify-content: center;padding-top: 16px!important;padding-bottom: 16px!important;text-align: center!important;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);border-radius 4px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: #fff;width: 65px;">
        <img src="./assets/images/loading.svg" style="width:35px;" alt="">
      </div>
    </div>

    <!-- Alert 彈窗 -->
    <div class="modal is-active" v-if="customModal.type == 'alert'" style="z-index: 99999;">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="mx-3 py-2" style="background-color: white;text-align: center;">
          <p class="is-size-5 my-3" v-html="customModal.text"></p>
          <button class="button is-danger" style="width:49%" @click="hideModal">確定</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="hideModal"></button>
    </div>

    <component :is="layout">
      <transition name="slide-fade" mode="out-in">
        <keep-alive :max="6">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive >
      </transition>
    </component>
  </div>
</template>

<script>
import store from 'src/store'
import Default from 'src/appKakar/layout/Kakar.vue'
import Card from 'src/appKakar/layout/CardKakar.vue'
import { computed } from '@vue/composition-api'
import { hideModal, isLogin } from 'src/libs/appHelper.js'

export default {
  name: 'AppKakar',
  components: { Default, Card },
  setup(props, context) {
    // 主畫面 layout (預設為 Default)
    const layout = computed(() => context.root.$route.meta.layout || 'Default' )

    const isLoading = computed(() => store.state.isLoading )
    const customModal = computed(() => store.state.customModal )

    return { isLoading, isLogin, customModal, hideModal, layout }
  },
}
</script>
