<template>
  <div>
    <!-- 讀取中效果 -->
    <div v-if="isLoading" class="position-fixed w-100 h-100" style="z-index: 9999;background-color: rgba(0,0,0,0);" v-cloak>
      <div class="rounded-circle bg-white shadow-lg w3-display-middle p-2" style="height:80px">
        <!-- <img src="./assets/images/loading.13.4.svg" alt=""> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="64" height="64">
          <path fill="rgba(58, 168, 224, 0)" stroke="rgba(58, 168, 224, 1)" stroke-dasharray="98"
          d="M42.2,23.2c-7.9,7.8-20.8-10.7-31.5-6.6 c0.4-0.6,1.1-1.7,0.8-2.3c-0.5,1.2-1.6,2-2.8,2.4c0.5-0.9,0.8-1.9,1.1-2.9c-1.9,2.8-4.1,7.2-2.7,9.9c1.4-12,18,2,21.9,2.9C38.5,30.5,43.2,25.3,42.2,23.2">
            <animate id="e1_first" attributeType="XML" attributeName="stroke-dashoffset" values="98;0" begin="0s;e1_second.end" dur="1s"/>
            <animate id="e1_second" attributeType="XML" attributeName="fill" values="rgba(58, 168, 224, 0);rgba(58, 168, 224, 1)" begin="e1_first.end" dur="1s"/>
          </path>
          <path fill="rgba(144, 195, 47, 0)" stroke="rgba(144, 195, 47, 1)" stroke-dasharray="98"
          d="M6.7,23.2c7.9,7.8,20.8-10.7,31.5-6.6c-0.4-0.6-1.1-1.7-0.8-2.3c0.5,1.2,1.6,2,2.8,2.4c-0.5-0.9-0.8-1.9-1.1-2.9c1.9,2.8,4.1,7.2,2.7,9.9c-1.4-12-18,2-21.9,2.9C10.4,30.5,5.7,25.3,6.7,23.2">
              <animate id="e2_first" attributeType="XML" attributeName="stroke-dashoffset" values="98;0" begin="0s;e2_second.end" dur="1s"/>
              <animate id="e2_second" attributeType="XML" attributeName="fill" values="rgba(144, 195, 47, 0);rgba(144, 195, 47, 1)" begin="e2_first.end" dur="1s"/>
          </path>
          <path fill="rgba(58, 168, 224, 0)" stroke="rgba(58, 168, 224, 1)" stroke-dasharray="270"
          d="M24,1.3c12.7,0,23,10.2,23,22.7S36.7,46.7,24,46.7S1,36.5,1,24 S11.3,1.3,24,1.3 M24,1.4c-11.1,0-20.1,8.9-20.1,19.8S12.9,41,24,41s20.1-8.9,20.1-19.8S35.1,1.4,24,1.4z">
              <animate id="e3_first" attributeType="XML" attributeName="stroke-dashoffset" values="270;0" begin="0s;e3_second.end" dur="1s"/>
              <animate id="e3_second" attributeType="XML" attributeName="fill" values="rgba(58, 168, 224, 0);rgba(58, 168, 224, 1)" begin="e3_first.end" dur="1s"/>
          </path>
        </svg>
      </div>
    </div>
    <!-- 哈囉我是龍海 -->
    <!-- Alert 彈窗 -->
    <div class="modal is-active" v-if="customModal.type == 'alert'" style="z-index: 99999;">
      <div class="modal-background"></div>
      <div class="modal-content px-3">
        <div class="box" style="text-align: center;">
          <p class="is-size-5 mb-3" style="line-height:1.5" v-html="customModal.text"></p>
          <button class="button is-info" style="width:49%" @click="hideModal">確定</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="hideModal"></button>
    </div>

    <!-- Confirm 彈窗 z-index: 99999;會把Loading icon擋住-->
    <div class="modal is-active" v-if="customModal.type == 'confirm'" style="z-index: 9998;">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box mx-3" style="text-align: center;">
          <p class="is-size-5 mb-3" style="line-height:1.5" v-html="customModal.text"></p>
          <div v-if="customModal.confirmNoteTitle && customModal.confirmNoteTitle.trim()!=''" class="text-left mb-4">
            <p class="mb-2">{{customModal.confirmNoteTitle}}：</p>
            <span class="ck-box" v-for="(item, index) in customModal.confirmNoteChoice" :key="index">
              <input :id="index" type="radio" :value="item.code" name="reason" class="ck-button w3-hide" v-model="customModal.confirmNoteChoosed">
              <label :for="index">
                {{item.text}}
              </label>
            </span>
            <input type="text" :placeholder="customModal.confirmNoteRemarkPlaceHolder" v-model="customModal.confirmNoteRemark" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter mt-3">
            <!-- 提示文字 -->
            <div class="has-text-danger d-block pt-2" style="margin-bottom:-10px">{{customModal.confirmNoteWarnMsg}}</div>
          </div>
          <button v-if="$store.state.customModal.cancelText!='noCancel'" class="button is-gray mr-2" style="width:48%" @click="$store.state.promise.reject()">{{$store.state.customModal.cancelText}}</button>
          <button class="button is-info" style="width:48%" @click="$store.state.promise.resolve()">{{$store.state.customModal.confirmText}}</button>
        </div>
      </div>
      <button v-if="$store.state.customModal.cancelText!='noCancel'" class="modal-close is-large" aria-label="close" @click="hideModal"></button>
    </div>

    <component :is="layout">
      <transition name="slide-fade" mode="out-in">
        <keep-alive :max="6">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive >
      </transition>
    </component>
  </div>
</template>

<script>
import store from 'src/store'
import Default from 'src/appWuhulife/layout/Wuhulife.vue'
import Home from 'src/appWuhulife/layout/WuhulifeHome.vue'
import Card from 'src/appWuhulife/layout/CardWuhulife.vue'
import { computed } from '@vue/composition-api'
import { hideModal, isLogin } from 'src/libs/appHelper.js'
// 龍海專屬 css
import './assets/css/wuhulife.scss'

export default {
  name: 'AppKakar',
  components: { Default, Card, Home },
  setup(props, context) {
    // 主畫面 layout (預設為 Default)
    const layout = computed(() => context.root.$route.meta.layout || 'Default' )

    const isLoading = computed(() => store.state.isLoading )
    const customModal = computed(() => store.state.customModal )

    return { isLoading, customModal, hideModal, layout, isLogin }
  },
}
</script>
